<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l b-r-md hide-b-r-lg">
      <section class="heading-title">
        <h1 translate>{{ 'calendar' }}</h1>
      </section>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 b-t hide-b-md hidden-lg">
      <div class="heading-actions wrapper">
        <button type="button" class="btn btn-default m-t m-b" ng-click="openFilterAside()">
          <span class="fa fa-filter"></span> {{ 'filter-calendar' | translate }}
        </button>
      </div>
    </div>

  </div>
</section>


<section class="row no-gutter">
  <div class="hidden-lg">
    <div class="row">
      <div class="col-sm-12 col-md-12">
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-9">
    <div ui-calendar="calendarConfig" ng-model="eventSources" calendar="calendar" class="wrapper-lg public-calendar"></div>
  </div>

  <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
    <div class="widget panel b-a m m-t-lg">
      <div class="panel-heading b-b small">
        <h3 translate>{{ 'filter-calendar' }}</h3>
      </div>
      <div class="widget-content no-bg auto wrapper calendar-filter">
        <ng-include src="'<%= asset_path 'calendar/filter.html' %>'"></ng-include>
      </div>
    </div>
  </div>

</section>


<script type="text/ng-template" id="filterAside.html">
  <div class="widget">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close($event)"><span>&times;</span></button>
      <h1 class="modal-title" translate>{{ 'filter-calendar' }}</h1>
    </div>
    <div class="modal-body widget-content calendar-filter calendar-filter-aside">
      <ng-include src="'<%= asset_path 'calendar/filter.html' %>'"></ng-include>
    </div>
  </div>
</script>
