<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-md-1 hidden-xs">
      <section class="heading-btn">
        <a ng-click="cancel()"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-md-8 b-l b-r">
      <section class="heading-title">
        <h1 translate translate-values="{NAME: space.name}">{{ 'app.admin.space_edit.edit_the_space_NAME' }}</h1>
      </section>
    </div>
  </div>
</section>

<space-form action="'update'" space="space" on-success="onSuccess" on-error="onError"></space-form>
