<div>


  <form role="form" name="projectForm" class="form-horizontal" novalidate action="{{ actionUrl }}" ng-upload="submited(content)" upload-options-enable-rails-csrf="true" unsaved-warning-form>

  <section class="heading b-b">
    <div class="row no-gutter">
      <div class="col-xs-2 col-sm-2 col-md-1">
        <section class="heading-btn">
          <a ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left"></i></a>
        </section>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-7 b-l b-r-md">
        <section class="heading-title">
          <h1>{{ 'edit_the_project' | translate }} <span class="badge" ng-if="project.state == 'draft'" translate>{{ 'rough_draft' }}</span></h1>
        </section>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 b-t hide-b-md">
        <section class="heading-actions wrapper">
         <input type="submit" ng-value="'save_button_value' | translate" class="btn btn-lg btn-warning m-t-xs text-u-c"
                ng-disabled="projectForm.$invalid"/>
         <div class="btn btn-lg btn-valid btn-success m-t-xs text-u-c" publish-project ng-if="project.state == 'draft'" ng-disabled="projectForm.$invalid" translate>{{ 'publish' }}</div>
         
        </section>
      </div>
    </div>
  </section>



    <ng-include src="'<%= asset_path 'projects/_form.html' %>'"></ng-include>
  </form>


</div>
