<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-md-1 hidden-xs">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left "></i></a>
      </section>
    </div>
    <div class="col-md-8 b-l b-r">
      <section class="heading-title">
        <h1 translate>{{ 'space_new.add_a_new_space' }}</h1>
      </section>

    </div>

  </div>

</section>


<div class="row no-gutter" >

  <div class="col-md-9 b-r nopadding">

    <div class="m-lg alert alert-warning" role="alert">
      {{ 'space_new.watch_out_when_creating_a_new_space_its_prices_are_initialized_at_0_for_all_subscriptions' | translate}}
      {{ 'space_new.consider_changing_its_prices_before_creating_any_reservation_slot' | translate }}
    </div>

    <form role="form"
          name="spaceForm"
          class="form-horizontal"
          action="{{ actionUrl }}"
          ng-upload="submited(content)"
          upload-options-enable-rails-csrf="true"
          unsaved-warning-form
          novalidate>

      <input name="_method" type="hidden" ng-value="method">

      <section class="panel panel-default bg-light m-lg">
        <div class="panel-body m-r">
          <ng-include src="'<%= asset_path 'spaces/_form.html' %>'"></ng-include>
        </div>

        <div class="panel-footer no-padder">
          <input type="submit"
                 value="{{ 'space_new.add_this_space' | translate }}"
                 class="r-b btn-valid btn btn-warning btn-block p-lg btn-lg text-u-c"
                 ng-disabled="spaceForm.$invalid"/>
        </div>
      </section>
    </form>

  </div>

  <div class="col-md-3"/>
</div>
