<div class="modal-header">
    <h3 class="modal-title" translate>{{ 'edition_of_the_description_tooltip' }}</h3>
</div>
<div class="modal-body">
  <form name="trainingForm" novalidate>
    <div class="form-group" ng-class="{'has-error': trainingForm['training[description]'].$dirty && trainingForm['training[description]'].$invalid }">
      <textarea name="training[description]" class="form-control" placeholder="{{ 'describe_the_training_in_a_few_words' | translate }}" ng-model="training.description" ng-maxlength="255"></textarea>
      <span class="help-block" ng-show="trainingForm['training[description]'].$dirty && trainingForm['training[description]'].$error.maxlength" translate>{{ 'description_is_limited_to_255_characters' }}</span>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-disabled="trainingForm.$invalid" ng-click="save()" translate>{{ 'save' }}</button>
</div>
