<div class="modal-header">
  <img ng-src="{{logoBlack.custom_asset_file_attributes.attachment_url}}" alt="{{logo.custom_asset_file_attributes.attachment}}" class="modal-logo"/>
  <h1 translate>{{ 'app.admin.calendar.confirmation_required' }}</h1>
</div>
<div class="modal-body">
  <p ng-hide="isRecurrent" translate>{{ 'app.admin.calendar.do_you_really_want_to_delete_this_slot' }}</p>
  <p ng-show="isRecurrent" translate>{{ 'app.admin.calendar.delete_recurring_slot' }}</p>
  <div ng-show="isRecurrent" class="form-group">
    <label class="checkbox">
      <input type="radio" name="delete_mode" ng-model="deleteMode" value="single" required/>
      <span translate>{{ 'app.admin.calendar.delete_this_slot' }}</span>
    </label>
    <label class="checkbox">
      <input type="radio" name="delete_mode" ng-model="deleteMode" value="next" required/>
      <span translate>{{ 'app.admin.calendar.delete_this_and_next' }}</span>
    </label>
    <label class="checkbox">
      <input type="radio" name="delete_mode" ng-model="deleteMode" value="all" required/>
      <span translate>{{ 'app.admin.calendar.delete_all' }}</span>
    </label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="ok()" translate>{{ 'delete' }}</button>
  <button class="btn btn-default" ng-click="cancel()" translate>{{ 'cancel' }}</button>
</div>
