<div>

  <section class="heading">
    <div class="row no-gutter">
      <ng-include src="'/dashboard/nav.html'"></ng-include>
    </div>

  </section>


  <div class="row events-dashboard">

    <div class="col-md-6">
      <div class="widget panel b-a m m-t-lg">
        <div class="panel-heading b-b">
          <h4 class="text-u-c"><i class="fa fa-tag m-r-xs"></i> {{ 'app.logged.dashboard.events.your_next_events' | translate }}</h4>
        </div>
        <div class="widget-content bg-light wrapper r-b">
          <div class="list-unstyled event-reservation" ng-if="user.events_reservations.length > 0">
            <div ng-repeat="r in user.events_reservations | eventsReservationsFilter:'future'">
              <event-reservation-item reservation="r"></event-reservation-item>
            </div>
          </div>
          <div ng-if="(user.events_reservations | eventsReservationsFilter:'future').length == 0" translate>{{ 'app.logged.dashboard.events.no_events_to_come' }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget panel b-a m m-t-lg">
        <div class="panel-heading b-b">
          <h4 class="text-u-c"><i class="fa fa-tag m-r-xs"></i> {{ 'app.logged.dashboard.events.your_previous_events' | translate }}</h4>
        </div>
        <div class="widget-content bg-light auto wrapper r-b">
          <div class="list-unstyled" ng-if="user.events_reservations.length > 0">
            <div ng-repeat="r in user.events_reservations | eventsReservationsFilter:'passed'" class="m-b">
              <event-reservation-item reservation="r"></event-reservation-item>
            </div>
          </div>
          <div ng-if="(user.events_reservations | eventsReservationsFilter:'passed').length == 0" translate>{{ 'app.logged.dashboard.events.no_passed_events' }}</div>
        </div>
      </div>
    </div>

  </div>
</div>
