:root {
  --gray-soft-lightest: #FFFFFF;
  --gray-soft-light: #F5F5F5;
  --gray-soft: #E5E5E5;
  --gray-soft-dark: #D1D1D1;
  --gray-soft-darkest: #A3A3A3;

  --gray-hard-lightest: #757575;
  --gray-hard-light: #575757;
  --gray-hard: #383838;
  --gray-hard-dark: #1F1F1F;
  --gray-hard-darkest: #0F0F0F;

  --main-lightest: #FDF1F1;
  --main-light: #F6ACAC;
  --main: #E72223;
  --main-dark: #BC1415;
  --main-darkest: #57090A;

  --secondary-light: #FFF8B3;
  --secondary: #FDE500;
  --secondary-dark: #CCB800;
  --secondary-darkest: #3D3700;

  --success-lightest: #E3FCEC;
  --success-light: #88E8AA;
  --success: #259D58;
  --success-dark: #229051;
  --success-darkest: #155239;

  --error-lightest: #FDF1F1;
  --error-light: #EA8585;
  --error: #DA3030;
  --error-dark: #9F1D1D;
  --error-darkest: #611818;

  --information-lightest: #EFF6FF;
  --information-light: #93C5FD;
  --information: #1A5DF9;
  --information-dark: #1E3A8A;
  --information-darkest: #122354;

  --warning-lightest: #FFFCF4;
  --warning-light: #FAE29F;
  --warning: #D6AE47;
  --warning-dark: #8C6D1F;
  --warning-darkest: #5C4813;

  --main-text-color: black;
  --secondary-text-color: black;

  --main-decoration-color: black;
}
