<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'app.admin.store.manage_the_store' }}</h1>
      </section>
    </div>

  </div>
</section>

<section class="edit-product m-lg admin-store-manage">
  <div class="row">

    <div class="col-md-12">
      <a class="back-btn" ng-click="backProductsList()">
        <i class="fas fa-angle-left"></i>
        <span translate>{{ 'app.admin.store.back_products_list' }}</span>
      </a>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <edit-product product-id="productId" on-success="onSuccess" on-error="onError"/>
    </div>

  </div>
</section>
