.machines-filters {
  width: 100%;
  padding: 0.8rem 2.4rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--gray-soft);
  border-radius: var(--border-radius);

  @media (min-width: 1024px) {
    justify-content: flex-end;
    & > *:not(:first-child) {
      &::before {
        content: "";
        margin: 0 2rem;
        width: 1px;
        height: 2rem;
        background-color: var(--gray-hard-darkest);
      }
    }
  }

  .filter-item {
    display: flex;
    align-items: center;
    p { margin: 0 0.8rem 0 0; }
  }
}
