.machines-filters {
  margin: 1.5em 0;
  display: flex;
  justify-content: space-between;

  .filter-item {
    &:first-child {
      padding-right: 20px;
    }
    & {
      display: block;
      width: 50%;
    }
    & > label {
      white-space: nowrap;
      line-height: 2em;
    }
    & > * {
      display: inline-block;
    }
    .status-select, .category-select {
      width: 100%;
    }
  }
}

@media screen and (max-width: 720px){
  .machines-filters {
    display: block;
    .filter-item {
      padding-right: 0 !important;
      display: block;
      width: 100%;
    }
  }
}
