# Ignore bundler config.
.bundle
vendor/cache

config/database.yml
config/application.yml

# Ignore database files.
db/*.sqlite3
db/*.sqlite3-journal
postgresql
elasticsearch
redis


# Ignore public assets
public/uploads
public/assets

# Ignore all logfiles and tempfiles.
log
*.log
tmp

# Ignore platform dependent files
*.DS_Store
.idea

# PDF invoices
invoices

# Excel exports
exports

# CSV imports
imports

.DS_Store

# Development files
.vagrant
Vagrantfile
provision
.git*
Dockerfile
docker-compose*
test
.env

# Docs
*.md
doc

# Modules
node_modules
