# Ignore bundler config.
config/database.yml
config/auth_provider.yml

# Ignore database files.
postgresql
elasticsearch
redis


# Ignore public assets
public/uploads
public/packs

# Ignore all logfiles and tempfiles.
log
*.log
tmp

# Ignore IDE configuration files
.idea

# PDF invoices
invoices

# Excel exports
exports

# CSV imports
imports

# accounting archives
accounting

# Proof of identity files
supporting_document_files

# Development files
Vagrantfile
provision
.git*
Dockerfile
docker-compose*
test
.env
.docker

# Docs
*.md
doc

# Modules
node_modules
