{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": ["error", "always"]
  },
  "globals": {
    "Application": true,
    "angular": true,
    "Fablab": true,
    "moment": true,
    "_": true
  },
  "plugins": ["lint-erb"]
}

