# Add application configuration variables here, as shown below.

# Databases
POSTGRES_HOST=fabmanager-postgres
POSTGRES_PASSWORD=
REDIS_HOST=fabmanager-redis
ELASTICSEARCH_HOST=fabmanager-elastic

SECRET_KEY_BASE=83daf5e7b80d990f037407bab78dff9904aaf3c195a50f84fa8695a22287e707dfbd9524b403b1dcf116ae1d8c06844c3d7ed942564e5b46be6ae3ead93a9d30

# Stripe keys for tests
STRIPE_API_KEY=
STRIPE_PUBLISHABLE_KEY=

# oAuth SSO keys for tests
OAUTH_CLIENT_ID=github-oauth-app-id
OAUTH_CLIENT_SECRET=github-oauth-app-secret

# Configure carefully!
DEFAULT_HOST=localhost:5000
DEFAULT_PROTOCOL=http

# Email config
DELIVERY_METHOD=smtp
SMTP_ADDRESS=fabmanager-mailcatcher
SMTP_PORT=1025
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=
SMTP_TLS=false

# I18N configuration
RAILS_LOCALE=fr
APP_LOCALE=fr
MOMENT_LOCALE=fr
SUMMERNOTE_LOCALE=fr-FR
ANGULAR_LOCALE=fr-fr
FULLCALENDAR_LOCALE=fr
INTL_LOCALE=fr-FR
INTL_CURRENCY=EUR
FORCE_VERSION_CHECK=false
ALLOW_INSECURE_HTTP=false

POSTGRESQL_LANGUAGE_ANALYZER=french

TIME_ZONE=Paris
WEEK_STARTING_DAY=monday
D3_DATE_FORMAT=%d/%m/%y
UIB_DATE_FORMAT=dd/MM/yyyy
EXCEL_DATE_FORMAT=dd/mm/yyyy

# OpenLab Projects
# do not change this URL
OPENLAB_BASE_URI=https://openprojects.fab-manager.com

# System settings
LOG_LEVEL=debug
DISK_SPACE_MB_ALERT=100
ADMINSYS_EMAIL=admin@sleede.com

# 5242880 = 5 megabytes
MAX_IMPORT_SIZE=5242880
# 10485760 = 10 megabytes
MAX_IMAGE_SIZE=10485760
# 20971520 = 20 megabytes
MAX_CAO_SIZE=20971520
