# Add application configuration variables here, as shown below.

# Databases
POSTGRES_HOST=fabmanager-postgres
POSTGRES_PASSWORD=
REDIS_HOST=fabmanager-redis
ELASTICSEARCH_HOST=fabmanager-elastic

# Stripe
SECRET_KEY_BASE=83daf5e7b80d990f037407bab78dff9904aaf3c195a50f84fa8695a22287e707dfbd9524b403b1dcf116ae1d8c06844c3d7ed942564e5b46be6ae3ead93a9d30
STRIPE_API_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_CURRENCY=eur

# Invoices
INVOICE_PREFIX=Demo-FabLab-facture

# FabLab optional modules
FABLAB_WITHOUT_PLANS=false
FABLAB_WITHOUT_SPACES=true
FABLAB_WITHOUT_ONLINE_PAYMENT=false
FABLAB_WITHOUT_INVOICES=false
PHONE_REQUIRED=true
FABLAB_WITHOUT_WALLET=false
BOOK_SLOT_AT_SAME_TIME=true

USER_CONFIRMATION_NEEDED_TO_SIGN_IN=false

EVENTS_IN_CALENDAR=false
SLOT_DURATION=60
FEATURE_TOUR_DISPLAY=once

DEFAULT_MAIL_FROM=Fab-manager Demo <noreply@fab-manager.com>

# Configure carefully!
DEFAULT_HOST=localhost:5000
DEFAULT_PROTOCOL=http

# Email config
DELIVERY_METHOD=smtp
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=
SMTP_TLS=false

# Google analytics
GA_ID=

# Google recaptcha
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Projects comments
DISQUS_SHORTNAME=

# Twitter sharing
TWITTER_NAME=FablabGrenoble

# Facebook sharing
FACEBOOK_APP_ID=

# I18N configuration
RAILS_LOCALE=fr
APP_LOCALE=fr
MOMENT_LOCALE=fr
SUMMERNOTE_LOCALE=fr-FR
ANGULAR_LOCALE=fr-fr
FULLCALENDAR_LOCALE=fr

ELASTICSEARCH_LANGUAGE_ANALYZER=french

TIME_ZONE=Paris
WEEK_STARTING_DAY=monday
D3_DATE_FORMAT=%d/%m/%y
UIB_DATE_FORMAT=dd/MM/yyyy
EXCEL_DATE_FORMAT=dd/mm/yyyy

# OpenLab Projects
OPENLAB_APP_SECRET=
OPENLAB_APP_ID=
OPENLAB_DEFAULT=true
# do not change this URL
OPENLAB_BASE_URI=https://openprojects.fab-manager.com

# System settings
LOG_LEVEL=debug
DISK_SPACE_MB_ALERT=100
SUPERADMIN_EMAIL=admin@sleede.com

ALLOWED_EXTENSIONS=pdf ai eps cad math svg stl dxf dwg obj step iges igs 3dm 3dmf doc docx png ino scad fcad skp sldprt sldasm slddrw slddrt tex latex ps fcstd fcstd1
ALLOWED_MIME_TYPES=application/pdf application/postscript application/illustrator image/x-eps image/svg+xml application/sla application/dxf application/acad application/dwg application/octet-stream application/step application/iges model/iges x-world/x-3dmf application/vnd.openxmlformats-officedocument.wordprocessingml.document image/png text/x-arduino text/plain application/scad application/vnd.sketchup.skp application/x-koan application/vnd-koan koan/x-skm application/vnd.koan application/x-tex application/x-latex application/x-extension-fcstd

# 5242880 = 5 megabytes
MAX_IMPORT_SIZE=5242880
# 10485760 = 10 megabytes
MAX_IMAGE_SIZE=10485760
# 20971520 = 20 megabytes
MAX_CAO_SIZE=20971520
