.payzen-keys-form {
  & {
    margin-top: 1em;
  }

  .payzen-keys-info {
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
  }

  fieldset {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    margin-top: 1em;
    padding: 7px;

    & > legend {
      padding: 3px 6px;
      width: fit-content;
      font-size: 1em;
      border-radius: 4px;
      margin-left: 1em;
      margin-bottom: 0;
      position: relative;

      &.with-addon {
        border-radius: 4px 0 0 4px;;
      }
    }
    .fieldset-legend--addon {
      display: block;
      position: absolute;
      top: 0;
      font-size: 1em;
      padding: 3px 12px;
      font-weight: 400;
      text-align: center;
      border-radius: 0 4px 4px 0;
      vertical-align: middle;

      &.key-invalid {
        right: -35px;
      }
      &.key-valid {
        right: -40px;
      }
    }
  }

  .key-valid {
    background-color: #7bca38;
  }

  .key-invalid {
    background-color: #d92227;
    color: white;
  }
}
