.payzen-modal {
  .payzen-form {
    .container {
      display: flex; justify-content: center;
    }
  }
  .payzen-modal-icons {
    text-align: center;

    img {
      margin-right: 10px;
    }
  }
}
