.payzen-settings {
  margin: 15px;
  .payzen-keys {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .key-wrapper {
      padding: 5px 15px;
    }
  }
  .edit-keys {
    margin: 5px 15px;
    padding-top: 28px;
  }

  .payzen-currency {
    .currency-info {
      padding: 15px;
      margin-bottom: 24px;
      border: 1px solid #faebcc;
      border-radius: 4px;
      color: #8a6d3b;
      background-color: #fcf8e3;
    }
    .currency-error {
      padding: 15px;
      margin-bottom: 24px;
      border: 1px solid #ebccd1;
      color: #a94442;
      background-color: #f2dede;
    }
    .payzen-currency-form {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      .currency-wrapper {
        padding: 5px 15px;
      }
      .save-currency {
        margin: 5px 15px;
      }
    }
  }
}
