.payzen-settings {
  margin: 15px;
  .payzen-keys {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

    .key-wrapper {
      padding: 5px 15px;
    }
  }
  .edit-keys {
    margin: 5px 15px;
    padding-top: 1.8rem;
  }
}
