.plan-categories-list {
  padding: 1.5em;

  .categories-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;

    & > tr > td {
      padding: 8px;
      line-height: 1.5;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    .delete-button {
      color: #fff;
      background-color: #cb1117;
      border-color: #c9c9c9;
    }

    .category-actions {
      text-align: right;
    }
  }
}
