.gateway-modal {
  .info-gateway {
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
  }

  .select-gateway {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}
