.credits-panel {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  &.no-header > * { margin: 0; }
  .title { @include text-base(600); }

  .credits-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;

    &-item {
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6rem 2.4rem;
      background-color: var(--gray-soft-lightest);
      border-radius: var(--border-radius);

      .title { @include text-base(600); }
      p { margin: 0; }

      @media (min-width: 640px) {
        flex-direction: row;
      }
    }
  }
}
