.reservations-panel {
  .reservation {
    position: relative;
    &-title {
      cursor: pointer;

      &.clicked {
        color: var(--secondary-dark);
      }
    }
    .slot-details {
      display: block;
    }

    .fab-popover {
      left: 0;
    }
  }
}

@media (min-width: 1460px) {
  .reservations-panel {
    width: 45%;
  }
}

@media (max-width: 1459px) {
  .reservations-panel {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .reservations-panel {
    width: 90%;
  }
}
