.plans-list {
  .plans-per-group ~ .plans-per-group .group-title {
    /* select all groups but the first (the first have no margin at the top) */
    margin: 5em auto 1em;
  }
  .group-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2em;
    width: 83.33%;
    box-sizing: border-box;
    margin: 1em auto 1em;
    $border: 5px;
    background: #FFF;
    background-clip: padding-box;
    border: solid $border transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
    }
  }

  .plans-per-category {
    text-align: center;
    margin-top: 3em;

    .category-title {
      width: 50%;
      margin: 2em auto;
      line-height: 3em;
    }
  }

  .list-of-plans {
    & {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      border: 1px solid transparent;
    }

    & > * {
      width: 50%;
    }

    @media screen and (max-width: 992px) {
      & > * {
        width: 100%;
      }
    }
  }
}
