<button type="button" class="btn btn-warning m-t m-b" ng-click="addLicence()" translate>{{ 'add_a_new_licence' }}</button>

<table class="table">
  <thead>
  <tr>
    <th style="width:30%" translate>{{ 'name' }}</th>
    <th style="width:50%" class="hidden-xs" translate>{{ 'description' }}</th>
    <th style="width:20%"></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="licence in licences">
    <td>
                  <span editable-textarea="licence.name" e-rows="5" e-cols="100" e-name="name" e-form="rowform" e-required>
                    {{ licence.name }}
                  </span>
    </td>
    <td class="hidden-xs">
                  <span editable-textarea="licence.description" e-rows="5" e-cols="100" e-name="description" e-form="rowform" e-required>
                    <div class="text-sm">{{ licence.description }}</div>
                  </span>
    </td>
    <td>
      <!-- form -->
      <form editable-form name="rowform" onbeforesave="saveLicence($data, licence.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == licence">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-warning">
          <i class="fa fa-check"></i>
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelLicence(rowform, $index)" class="btn btn-default">
          <i class="fa fa-times"></i>
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-default" ng-click="rowform.$show()">
          <i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm" translate>{{ 'edit' }}</span>
        </button>
        <button class="btn btn-danger" ng-click="removeLicence($index)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>