<div class="header-page">
  <div class="back">
    <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
  </div>

  <div class="center">
    <h1 translate>{{ 'app.admin.machines.the_fablab_s_machines' }}</h1>
  </div>
</div>

<section class="m-lg admin-machines-manage">
  <div class="row">

    <div>
      <uib-tabset justified="true" active="tabs.active">

        <uib-tab heading="{{ 'app.admin.machines.all_machines' | translate }}" index="0" select="selectTab()">
          <div ng-if="tabs.active === 0">
            <ng-include src="'/admin/machines/machines.html'"></ng-include>
          </div>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.machines.manage_machines_categories' | translate }}" index="1" select="selectTab()">
          <div ng-if="tabs.active === 1">
            <ng-include src="'/admin/machines/categories.html'"></ng-include>
          </div>
        </uib-tab>

      </uib-tabset>
    </div>

  </div>
</section>
