<section ui-tour="machines"
         ui-tour-backdrop="true"
         ui-tour-template-url="'/shared/tour-step-template.html'"
         ui-tour-use-hotkeys="true"
         ui-tour-scroll-parent-id="content-main"
         post-render="setupMachinesTour">

  <machines-list user="currentUser"
                 on-error="onError"
                 on-success="onSuccess"
                 on-show-machine="showMachine"
                 on-reserve-machine="reserveMachine"
                 on-login-requested="onLoginRequest"
                 on-enroll-requested="onEnrollRequest"
                 can-propose-packs="canProposePacks()">
  </machines-list>

</section>
