.event-form {
  max-width: 1260px;
  margin: 2.4rem auto 0;
  padding: 0 3rem 6rem;
  display: flex;
  flex-direction: column;
  & > header {
    padding-bottom: 0;
    @include header($sticky: true);
    gap: 2.4rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .fab-alert { margin: 0; }

    section { @include layout-settings; }
    .save-btn { align-self: flex-start; }
  }

  .additional-prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.6rem 2.4rem;

    .add-price {
      max-width: fit-content;
    }
    .price-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0 2.4rem;

      .form-item { margin: 0; }

      .remove-price {
        align-items: center;
        display: flex;
        margin: 0;
        cursor: pointer;
      }
      @media (min-width: 640px) {
        flex-direction: row;
        align-items: flex-start;
        .remove-price {
          margin: 2.6rem 0 0;
        }
      }

      &.destroyed-item {
        display: none;
      }
    }
  }
  .grp {
    display: flex;
    flex-direction: column;
    @media (min-width: 640px) {flex-direction: row; }

    .form-item { margin: 0; }
    .form-item:first-child { margin-right: 2.4rem; }
  }
}
