<div class="panel panel-default m-t-lg">
  <div class="panel-heading">
    <span class="font-sbold" translate>{{ 'app.admin.projects.settings.comments' }}</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <h3 class="m-l" translate>{{ 'app.admin.projects.settings.disqus' }}</h3>
      <p class="alert alert-warning m-h-md" translate>{{ 'app.admin.projects.settings.disqus_info' }}</p>
      <div class="col-md-4">
        <text-setting name="disqus_shortname"
                      settings="allSettings"
                      label="app.admin.projects.settings.shortname"
                      fa-icon="fa-comments"
                      placeholder="my-forum">
        </text-setting>
      </div>
    </div>
  </div>
</div>
