<div class="widget panel b-a m">
  <div class="panel-heading b-b small">
    <h3 class="panel-title">Sélectionnez un membre</h3>
  </div>
  <div class="widget-content no-bg auto wrapper">
    <select ng-model="ctrl.member_id" class="form-control form-control-ui-select" ui-select2 ng-change="updateMember()">
      <option value="{{$index}}" ng-repeat="m in members">{{m.name}}</option>
    </select>
    {{member}}
  </div>
</div>
