<section class="widget panel b-a m-t-sm">
  <div class="panel-heading b-b small">
    <div class="pull-right text-xs align">
      <a href="https://twitter.com/{{ profile }}" target="_blank">{{ 'app.public.home.follow_us' | translate }}
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x text-yellow"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse text-white"></i>
        </span>
      </a>
    </div>
    <h2 translate>{{ 'app.public.home.latest_tweets' }}</h2>
  </div>
  <div id="twitter" class="widget-content no-bg auto"></div>
</section>
