<div class="about-fablab scrollable">
  <div class="row padder">
    <header class="about-picture">
      <div class="col-sm-offset-2 col-md-offset-3 col-sm-10 col-md-8">
        <h1 class="about-title text-u-c">Imagine, Make, <br>Share at Fablab XinFab</h1>
      </div>
    </header>
  </div>

  <div class="row padder">
    <div class="col-sm-offset-1 col-md-offset-3 col-sm-7 col-md-5 col-lg-4 m-b-lg">
      <p>Fab Lab is the educational outreach component of MIT’s Center for Bits and Atoms (CBA), an extension of its research into digital fabrication and computation. A Fab Lab is a technical prototyping platform for innovation and invention, providing stimulus for local entrepreneurship. A Fab Lab is also a platform for learning and innovation: a place to play, to create, to learn, to mentor, to invent.</p>
      <p>
        Fablabs are a part of maker culture where ordinary people are empowered to design, build, innovate, and invent on their own or with other makers. Fablabs offer makers the space and tools to digitally manufacture objects, from furniture to jewelry, robots to food.</p>
    </div>

    <div class="col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-sm-4 col-md-4">
      <h2 class="about-title-aside text-u-c">Fab Lab XinFab contacts</h2>
      <dl>
        <dt>Fab Lab Manager:</dt>
        <dd>spacemanager@xinfab.com</dd>
        <dt>Staff:</dt>
        <dd>info@xinfab.com</dd>
        <dt>Information:</dt>
        <dd>info@xinfab.com</dd>
      </dl>
    </div>
  </div>
</div>