<div class="about-fablab scrollable">
  <div class="row padder">
    <header class="about-picture">
      <div class="col-sm-offset-2 col-md-offset-3 col-sm-10 col-md-8">
        <h1 class="about-title text-u-c">Imaginer, Fabriquer, <br>Partager au Fab Lab</h1>
      </div>
    </header>
  </div>

  <div class="row padder">
    <div class="col-sm-offset-1 col-md-offset-3 col-sm-7 col-md-5 col-lg-4 m-b-lg">
      <p>Le Fab Lab est un atelier de fabrication numérique où l’on peut utiliser des machines de découpe, des imprimantes 3D,… permettant de travailler sur des matériaux variés : plastique, bois, carton, vinyle, … afin de créer toute sorte d’objet grâce à la conception assistée par ordinateur ou à l’électronique.  Mais le Fab Lab est aussi un lieu d’échange de compétences technique. </p>
      <p>
        Le Fab Lab est un espace permanent : ouvert à tous, il offre la possibilité de réaliser des objets soi-même, de partager ses compétences et d’apprendre au contact des médiateurs du Fab Lab et des autres usagers. </p>
      <p>
        La formation au Fab Lab s’appuie sur des projets et le partage de connaissances : vous devez prendre part à la capitalisation des connaissances et à l’instruction des autres utilisateurs.
      </p>
    </div>

    <div class="col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-sm-4 col-md-4">
      <h2 class="about-title-aside text-u-c">Vos contacts au Fab Lab</h2>
      <dl>
        <dt>Manager Fab Lab :</dt>
        <dd>@email</dd>
        <dt>Responsable médiation :</dt>
        <dd>@email</dd>
        <dt>Animateur scientifique :</dt>
        <dd>@email</dd>
      </dl>
    </div>
  </div>
</div>