<div class="about-fablab scrollable">
  <div class="row padder">
    <header class="about-picture">
      <div class="col-sm-offset-2 col-md-offset-3 col-sm-10 col-md-8">
        <h1 class="about-title text-u-c" ng-bind-html="aboutTitle.value"></h1>
      </div>
    </header>
  </div>

  <div class="row padder">
    <div class="col-sm-offset-1 col-md-offset-3 col-sm-7 col-md-5 col-lg-4 m-b-lg">
      <span ng-bind-html="aboutBody.value"></span>
      <p ng-show="cgu">
        <a href="{{cgu.custom_asset_file_attributes.attachment_url}}" target="_blank" translate>{{ 'read_the_fablab_policy' }}</a>
      </p>
      <p ng-show="cgv">
        <a href="{{cgv.custom_asset_file_attributes.attachment_url}}" target="_blank" translate>{{ 'read_the_fablab_s_general_terms_and_conditions' }}</a>
      </p>
    </div>

    <div class="col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-sm-4 col-md-4">
      <h2 class="about-title-aside text-u-c" translate translate>{{ 'your_fablab_s_contacts' }}</h2>
      <span ng-bind-html="aboutContacts.value"></span>
    </div>
  </div>
</div>
