<div class="modal-header">
  <img ng-src="{{logoBlack.custom_asset_file_attributes.attachment_url}}" alt="{{logo.custom_asset_file_attributes.attachment}}" class="modal-logo"/>
  <h1>{{object.title}}</h1>
</div>
<div class="modal-body">
  <p ng-bind-html="object.msg"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="ok()" translate>{{ 'confirm' }}</button>
  <button class="btn btn-default" ng-click="cancel()" translate>{{ 'cancel' }}</button>
</div>
