<div class="modal-header">
  <%= image_tag("fablab-w.png", class: 'modal-logo') %>
  <h1>{{object.title}}</h1>
</div>
<div class="modal-body">
  <p>{{object.msg}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="ok()">Valider</button>
  <button class="btn btn-default" ng-click="cancel()">Annuler</button>
</div>
