<div class="cookies-consent" ng-hide="cookiesState">
  <p class="cookies-infos">
    <span translate>{{ 'app.public.common.cookies.about_cookies' }}</span>
    <a ng-href="{{learnMoreUrl}}" target="{{ learnMoreUrl.startsWith('http') ? '_blank' : '_self' }}" translate>{{ 'app.public.common.cookies.learn_more' }}</a>
  </p>
  <div class="cookies-actions">
    <button class="decline" ng-click="declineCookies()" translate>{{ 'app.public.common.cookies.decline' }}</button>
    <button class="accept" ng-click="acceptCookies()" translate>{{ 'app.public.common.cookies.accept' }}</button>
  </div>
</div>
