  <div class="" id="loginModal">
    <div class="modal-header">
      <img ng-src="{{logoBlack.custom_asset_file_attributes.attachment_url}}" alt="{{logo.custom_asset_file_attributes.attachment}}" class="modal-logo"/>
      <h1 translate>
        {{ 'connection' }}
      </h1>
    </div>
    <div class="modal-body">
      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

      <div class="panel panel-default bg-light">
        <div class="panel-body">
          <form name="loginForm" class="form-horizontal" ng-keydown="loginForm.$valid && $event.which == 13 && login()">
            <div class="form-group" ng-class="{'has-error': emailError}">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <input type="email"
                         name="email"
                         class="form-control"
                         ng-model="user.email"
                         required="required"
                         ng-blur="emailError = !!loginForm.email.$error.email"
                         ng-focus="emailError = false"
                         placeholder="{{ 'your_email_address' | translate }}" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password"
                         name="password"
                         class="form-control"
                         ng-model="user.password"
                         required="required"
                         placeholder="{{ 'your_password' | translate }}"
                         ng-minlength="8"/>
                </div>
                <a href="#" ng-click="openResetPassword($event)" class="text-xs">{{ 'password_forgotten' | translate }}</a>
              </div>
            </div>

          </form>

        </div>
        <div class="panel-footer no-padder">
          <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" ng-click="login()" ng-disabled="loginForm.$invalid" translate>{{ 'confirm' }}</button>
        </div>
      </div>
      <p class="text-center font-sbold">
        <span translate>{{ 'not_registered_to_the_fablab' }}</span>
        <br/>
        <a href="#" ng-click="openSignup($event)" class="text-u-l" translate>{{ 'create_an_account' }}</a></br>
      </p>
    </div>

  </div>
