
  <div class="navbar-header">
    <a ng-click="toggleNavSize($event)" class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav"><i class="fa fa-bars"></i></a>
    <a ui-sref="app.public.home" class="navbar-brand" ng-click="goabout = false"><%= image_tag("fablab.png", class: 'm-r-sm') %>
      <%= raw "<label class='label-staging label label-warning text-sm hidden-sm hidden-xs'>Démo</label>" if Rails.env.staging? %></a>
  </div>

  <ul class="nav navbar-nav hidden-xs">
    <li>
      <a href class="about-link font-sbold text-sm" ng-click="goabout = !goabout" ui-sref="app.public.about" ng-show="!goabout">
        <span class="label label-danger rounded text-lg text-white m-r-sm font-ebold">?</span>About Fablab XinFab
      </a>
      <a href class="about-link font-sbold text-sm" ng-click="goabout = !goabout" ui-sref="app.public.home" ng-show="goabout">
        <span class="label label-danger label-icon rounded text-lg text-white m-r-sm font-ebold"><i class="fa fa-caret-up" ng-show="goabout"></i></span>Retour
      </div>
      </a>
    </li>
  </ul>

  <!-- Top Nav -->
  <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
    <li class="notification-open" ng-if="isAuthenticated()">
      <a ui-sref="app.logged.notifications"><i class="fa fa-bell fa-2x black"></i> <span class="badge" ng-class="{'bg-red': notifications.length > 0}">{{notifications.length}}</span></a>
    </li>
    <li class="dropdown user-profile-nav" ng-if="isAuthenticated()" dropdown>
      <a href="#" class="dropdown-toggle" dropdown-toggle>
        <span class="avatar text-center">
          <fab-user-avatar ng-model="currentUser.profile.user_avatar" avatar-class="thumb-50"></fab-user-avatar>
          <span class="user-name m-l-sm text-black-light font-sbold hidden-sm">{{currentUser.name}} <b class="caret"></b></span>
        </span>
      </a>
      <ul class="dropdown-menu animated fadeInRight">
        <li><a href="#" ui-sref="app.logged.dashboard_profile">My profile</a></li>
        <li><a href="#" ui-sref="app.logged.dashboard_projects">My Projects</a></li>

        <li class="divider"></li>
        <li><a href="#" class="text-black" ng-click="logout($event)"><i class="fa fa-power-off"></i> Sign out</a></li>
      </ul>
    </li>
    <li ng-if="!isAuthenticated()"><a href="#" class="font-sbold label text-md" ng-click="signup($event)"><i class="fa fa-rocket"></i> Register</a></li>
    <li ng-if="!isAuthenticated()">
      <a href="#" class="font-sbold  label text-md" ng-click="login($event)"><i class="fa fa-sign-in"></i> Login</a>
    </li>
  </ul>
