  <div>
    <div class="modal-header">
      <%= image_tag("fablab-w.png", class: 'modal-logo') %>
      <h1>Modify the password</h1>
    </div>
    <div class="modal-body">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <div class="panel panel-default bg-light">
        <div class="panel-body">
          <form name="passwordEditForm" class="form-horizontal" ng-keydown="passwordEditForm.$valid && $event.which == 13 && changePassword()">
            <div class="form-group" ng-class="{'has-error': passwordEditForm.password.$dirty && passwordEditForm.password.$invalid}">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Your new password" required ng-minlength="8">
                </div>
                <span class="help-block" ng-show="passwordEditForm.password.$dirty && passwordEditForm.password.$error.required">Password is required</span>
                <span class="help-block" ng-show="passwordEditForm.password.$dirty && passwordEditForm.password.$error.minlength">Password is too short (at least 8 characters)</span>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': passwordEditForm.password_confirmation.$dirty && passwordEditForm.password_confirmation.$invalid}">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" name="password_confirmation" ng-model="user.password_confirmation" class="form-control" placeholder="Enter your password" required ng-minlength="8" match="user.password">
                </div>
                <span class="help-block" ng-show="passwordEditForm.password_confirmation.$dirty && passwordEditForm.password_confirmation.$error.required">Password confirmation is mandatory</span>
                <span class="help-block" ng-show="passwordEditForm.password_confirmation.$error.match">Password does not match</span>
              </div>
            </div>
          </form>

        </div>
        <div class="panel-footer no-padder">
          <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" ng-click="changePassword()" ng-disabled="passwordEditForm.$invalid">Confirm</button>
        </div>
      </div>
    </div>

  </div>