<p>Hi <%= @user.profile.full_name %>, </p>

<p>The FabLab team has created an account on www.xinfab.com. <%= link_to 'www.xinfab.com', root_url %> <br> Here is your connection settings : </p>

<p>Username : <b><%= @user.email %></b></p>
<p>Password : <b><%= @generated_password %></b></p>

<p>This password is temporary, you can change it by accessing the "My Account". With this account, you retain all the benefits of course related to your user profile Fab Lab (subscription, training).</p>

<p>The team Fablab XinFab.</p>