<p>Bonjour <%= @user.profile.full_name %>, </p>

<p>L’équipe du Fab Lab vient de vous créer un compte sur <%= link_to 'le site du Fab lab', root_url %> <br> Voici vos paramètres de connexion : </p>

<p>Nom de compte : <b><%= @user.email %></b></p>
<p>Mot de passe : <b><%= @generated_password %></b></p>

<p>Ce mot de passe est temporaire, vous pourrez le modifier en accédant à l’espace « Mon compte ». Avec ce compte, vous conservez bien entendu tous les avantages liés à votre profil utilisateur Fab Lab (abonnement, formations).</p>

<p>L'équipe Fab Lab.</p>