<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'add_an_administrator' }}</h1>
      </section>
    </div>

  </div>
</section>

<div class="row no-gutter">
  <div class=" col-sm-12 col-md-9 b-r nopadding">

    <form role="form" name="adminForm" class="form-horizontal" novalidate>
      <section class="panel panel-default bg-light m-lg">
        <div class="panel-body m-r">
          <ng-include src="'<%= asset_path 'shared/_admin_form.html' %>'"></ng-include>
        </div>


        <div class="panel-footer no-padder">
          <input type="submit" value="{{ 'save' | translate}}" class="r-b btn-valid btn btn-warning btn-block p-lg btn-lg text-u-c" ng-click="saveAdmin()" ng-disabled="adminForm.$invalid"/>
        </div>
      </section>
    </form>

  </div>
</div>
