<div>

  <ng-include src="'<%= asset_path 'dashboard/nav.html' %>'"></ng-include>



  <div class="row no-gutter wrapper">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="widget panel b-a m m-t-lg">
        <div class="panel-heading b-b small text-center">
          <span class="avatar ">
            <fab-user-avatar ng-model="user.profile.user_avatar" avatar-class="thumb-50">test</fab-user-avatar>
          </span>
          <div class="font-sbold m-t-sm">{{user.name}}</div>
          <div>{{user.email}}</div>
          <div class="text-xs" ng-if="user.last_sign_in_at"><i>Last Active {{user.last_sign_in_at | amDateFormat: 'Do MMMM '}}</i></div>
        </div>
        <div class="widget-content no-bg auto wrapper">

          <div class="m-t">
            <h3 class="text-u-c">Projects</h3>
              <ul class="list-unstyled" ng-if="user.all_projects.length > 0">
                <li ng-repeat="p in user.all_projects">
                  {{p.name}}
                </li>
              </ul>
              <div ng-if="user.all_projects.length == 0">No projects</div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-9">
      <div class="widget panel b-a m m-t-lg">
        <div class="panel-heading b-b">
          <h1 class="red text-u-c">Edit your profile</h1>
        </div>
        <form role="form" name="userForm" class="form-horizontal" novalidate  action="{{ actionUrl }}" ng-upload="submited(content)" upload-options-enable-rails-csrf="true">
          <div class="widget-content no-bg auto">
              <section class="panel panel-default bg-light m"> 
                <div class="panel-body m-r"> 
                  <ng-include src="'<%= asset_path 'shared/_member_form.html' %>'"></ng-include>
                </div>   <!-- ./panel-body  -->
              </section>
          </div>
          <div class="panel-footer no-padder">
            <input type="submit" value="Confirm changes" class="r-b btn-valid btn btn-warning btn-block p-lg btn-lg text-u-c" ng-disabled="userForm.$invalid"/>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
