<div>

  <section class="heading">
    <div class="row no-gutter">
      <ng-include src="'<%= asset_path 'dashboard/nav.html' %>'"></ng-include>
    </div>

  </section>


  <div class="row no-gutter">
    <div class="col-md-12 m m-t-lg">
      <ng-include src="'<%= asset_path 'wallet/show.html' %>'"></ng-include>
    </div>

    <div class="col-md-12 m m-t-lg">
      <ng-include src="'<%= asset_path 'wallet/transactions.html' %>'"></ng-include>
    </div>
  </div>
  </div>
</div>
