<div ui-tour="welcome"
     ui-tour-backdrop="true"
     ui-tour-template-url="'<%= asset_pack_path "shared/tour-step-template.html" %>'"
     ui-tour-use-hotkeys="true"
     ui-tour-scroll-parent-id="content-main"
     post-render="setupHomeTour">
  <div class="home-page" compile="homeContent">
  </div>
</div>
