<div class="col-md-5 m-t-lg">
  <div class="row">
    <div class="col-lg-7">
      <div class="form-group search-members">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-filter"></i></span>
          <input type="text" ng-model="member.searchText" class="form-control" placeholder="{{ 'app.admin.members.search_for_an_user' | translate }}" ng-change="updateTextSearch()">
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="form-group filter-members">
        <select ng-model="member.memberFilter" ng-change="updateMemberFilter()" class="form-control">
          <option ng-repeat="filter in member.memberFilters" value="{{filter}}" translate>{{ 'app.admin.members.group_form.member_filter_'+filter }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <button type="button" class="btn btn-warning m-b" ui-sref="app.admin.members_new" translate>
    {{ 'app.admin.members.add_a_new_member' }}
  </button>
  <div class="pull-right exports-buttons m-b" ng-show="isAuthorized('admin')">
    <a class="btn btn-default" ng-href="api/members/export_members.xlsx" target="export-frame" ng-click="alertExport('members')">
      <i class="fa fa-file-excel-o"></i> {{ 'app.admin.members.members' | translate }}
    </a>
    <a class="btn btn-default" ng-href="api/members/export_subscriptions.xlsx" target="export-frame" ng-if="$root.modules.plans" ng-click="alertExport('subscriptions')">
      <i class="fa fa-file-excel-o"></i> {{ 'app.admin.members.subscriptions' | translate }}
    </a>
    <a class="btn btn-default" ng-href="api/members/export_reservations.xlsx" target="export-frame" ng-click="alertExport('reservations')">
      <i class="fa fa-file-excel-o"></i> {{ 'app.admin.members.reservations' | translate }}
    </a>
    <iframe name="export-frame" height="0" width="0" class="none"></iframe>
  </div>

  <div>
    <members-list members="members" on-success="onSuccess" on-error="onError" operator="currentUser" on-delete-member="deleteMember" on-deleted-child="onDeletedChild" on-updated-child="onUpdatedChild" />
  </div>

  <div class="text-center">
    <button class="btn btn-warning show-more" ng-click="showNextMembers()" ng-hide="member.noMore"><i class="fa fa-search-plus" aria-hidden="true"></i> {{ 'app.admin.members.display_more_users' | translate }}</button>
  </div>
</div>
