<div class="col-md-5 m-t-lg">
  <div class="row">
    <div class="col-lg-7">
      <div class="form-group search-members">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-filter"></i></span>
          <input type="text" ng-model="member.searchText" class="form-control" placeholder="{{ 'app.admin.members.search_for_an_user' | translate }}" ng-change="updateTextSearch()">
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="form-group filter-members">
        <select ng-model="member.memberFilter" ng-change="updateMemberFilter()" class="form-control">
          <option ng-repeat="filter in member.memberFilters" value="{{filter}}" translate>{{ 'app.admin.members.group_form.member_filter_'+filter }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <button type="button" class="btn btn-warning m-t m-b" ui-sref="app.admin.members_new" translate>
    {{ 'app.admin.members.add_a_new_member' }}
  </button>
  <div class="pull-right exports-buttons" ng-show="isAuthorized('admin')">
    <a class="btn btn-default" ng-href="api/members/export_members.xlsx" target="export-frame" ng-click="alertExport('members')">
      <i class="fa fa-file-excel-o"></i> {{ 'app.admin.members.members' | translate }}
    </a>
    <a class="btn btn-default" ng-href="api/members/export_subscriptions.xlsx" target="export-frame" ng-if="$root.modules.plans" ng-click="alertExport('subscriptions')">
      <i class="fa fa-file-excel-o"></i> {{ 'app.admin.members.subscriptions' | translate }}
    </a>
    <a class="btn btn-default" ng-href="api/members/export_reservations.xlsx" target="export-frame" ng-click="alertExport('reservations')">
      <i class="fa fa-file-excel-o"></i> {{ 'app.admin.members.reservations' | translate }}
    </a>
    <iframe name="export-frame" height="0" width="0" class="none"></iframe>
  </div>

  <table class="table members-list">
    <thead>
    <tr>
      <th style="width:4%" class="hidden-xs" ng-if="enableUserValidationRequired"></th>
      <th style="width:15%"><a ng-click="setOrderMember('last_name')">{{ 'app.admin.members.surname' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='last_name', 'fa fa-sort-alpha-desc': member.order=='-last_name', 'fa fa-arrows-v': member.order }"></i></a></th>
      <th style="width:15%"><a ng-click="setOrderMember('first_name')">{{ 'app.admin.members.first_name' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='first_name', 'fa fa-sort-alpha-desc': member.order=='-first_name', 'fa fa-arrows-v': member.order }"></i></a></th>
      <th style="width:15%" class="hidden-xs"><a ng-click="setOrderMember('email')">{{ 'app.admin.members.email' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='email', 'fa fa-sort-alpha-desc': member.order=='-email', 'fa fa-arrows-v': member.order }"></i></a></th>
      <th style="width:9%" class="hidden-xs hidden-sm hidden-md"><a ng-click="setOrderMember('phone')">{{ 'app.admin.members.phone' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-numeric-asc': member.order=='phone', 'fa fa-sort-numeric-desc': member.order=='-phone', 'fa fa-arrows-v': member.order }"></i></a></th>
      <th style="width:14%" class="hidden-xs hidden-sm"><a ng-click="setOrderMember('group')">{{ 'app.admin.members.user_type' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='group', 'fa fa-sort-alpha-desc': member.order=='-group', 'fa fa-arrows-v': member.order }"></i></a></th>
      <th style="width:14%" class="hidden-xs hidden-sm hidden-md"><a ng-click="setOrderMember('plan')">{{ 'app.admin.members.subscription' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='plan', 'fa fa-sort-alpha-desc': member.order=='-plan', 'fa fa-arrows-v': member.order }"></i></a></th>
      <th style="width:14%" class="buttons-col"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in members">
      <td class="text-center" ng-if="enableUserValidationRequired">
        <span ng-class="{ 'text-success': !!m.validated_at }"><i class="fa fa-user-check"></i></span>
      </td>
      <td class="text-c">{{ m.profile.last_name }}</td>
      <td class="text-c">{{ m.profile.first_name }}</td>
      <td class="hidden-xs">{{ m.email }}</td>
      <td class="hidden-xs hidden-sm hidden-md">{{ m.profile.phone }}</td>
      <td class="text-u-c text-sm hidden-xs hidden-sm">{{ m.group.name }}</td>
      <td class="hidden-xs hidden-sm hidden-md">{{ m.subscribed_plan | humanReadablePlanName }}</td>
      <td>
        <div class="buttons">
          <button class="btn btn-default edit-member" ui-sref="app.admin.members_edit({id: m.id})">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger delete-member" ng-click="deleteMember(m.id)" ng-show="isAuthorized('admin')">
            <i class="fa fa-trash"></i>
          </button>
          <span class="label label-danger text-white" ng-show="m.need_completion" translate>{{ 'app.shared.user_admin.incomplete_profile' }}</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-warning show-more" ng-click="showNextMembers()" ng-hide="member.noMore"><i class="fa fa-search-plus" aria-hidden="true"></i> {{ 'app.admin.members.display_more_users' | translate }}</button>
  </div>
</div>
