<div>

  <section class="heading b-b">
    <div class="row no-gutter">
      <div class="col-md-1 hidden-xs">
        <section class="heading-btn">
          <a ng-click="cancel()"><i class="fas fa-long-arrow-alt-left"></i></a>
        </section>
      </div>
      <div class="col-md-8 b-l b-r">
        <section class="heading-title">
          <h1 translate>{{ 'app.admin.members_new.add_a_member' }}</h1>
        </section>

      </div>

      <div class="col-md-3">
        <section class="heading-actions wrapper">
         <div class="btn btn-lg btn-block btn-default m-t-xs" ng-click="cancel()" translate>
           {{ 'app.shared.buttons.cancel' }}
         </div>
        </section>

      </div>

    </div>

  </section>


  <div class="row no-gutter">
    <div class="col-md-12 b-r nopadding">

      <section class="panel panel-default bg-light m-lg">
        <div class="panel-body m-r">

          <user-profile-form user="user"
                             action="'create'"
                             on-error="onError"
                             on-success="onUserSuccess"
                             show-group-input="true"
                             show-tags-input="true"
                             show-trainings-input="true" />
        </div>
      </section>

    </div>
  </div>
</div>
