<button type="button" class="btn btn-warning m-b m-t-lg" ng-click="addGroup()" translate>{{ 'add_a_group' }}</button>
<table class="table">
    <thead>
    <tr>
        <th style="width: 80%;" translate>{{ 'group_name' }}</th>
        <th style="width: 20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in groups">
        <td>
            <span editable-text="group.name" e-cols="200" e-name="name" e-form="rowform" e-required>
                {{group.name}}
            </span>
        </td>
        <td>
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveGroup($data, group.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == group">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-warning">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelGroup(rowform, $index)" class="btn btn-default">
                    <i class="fa fa-times"></i>
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-default" ng-click="rowform.$show()">
                    <i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm" translate>{{ 'edit' }}</span>
                </button>
                <button class="btn btn-danger" ng-click="removeGroup($index)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
