<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'manage_abuses.abuses_list' }}</h1>
      </section>
    </div>
  </div>
</section>

<section class="m-lg">
  <div class="row m-b-md">
    <span ng-show="abuses.length === 0" translate>{{ 'manage_abuses.no_reports' }}</span>
    <ul ng-show="abuses.length > 0">
      <li class="abuse" ng-repeat="abuse in abuses">
        <div class="signaled">
          <a ui-sref="app.public.projects_show({id:abuse.signaled.slug})">{{abuse.signaled.name}}</a>,
          <span translate>{{ 'manage_abuses.published_by' }}</span>
          <a ui-sref="app.admin.members_edit({id:abuse.signaled.author.id})">{{abuse.signaled.author.full_name}}</a>,
          <span translate>{{ 'manage_abuses.at_date' }}</span>
          <span>{{abuse.signaled.published_at | amDateFormat:'L' }}</span>
        </div>
        <div class="report">
          <span translate>{{ 'manage_abuses.at_date' }}</span>
          <span>{{abuse.created_at | amDateFormat:'L' }}</span>,
          <a href="mailto:{{abuse.email}}">{{abuse.first_name}} {{abuse.last_name}}</a>
          <span translate>{{ 'manage_abuses.has_reported' }}</span>
          <cite>{{ abuse.message }}</cite>
        </div>
      </li>
    </ul>
  </div>
</section>