---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1EefTR2sOmf47Nz92ecSjFRI",
          "object": "token",
          "card": {
            "id": "card_1EefTR2sOmf47Nz9srpd7qaH",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.7.77.53",
          "created": 1558950633,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 27 May 2019 09:50:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8CzKe50I0J1gaI&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1EFM2u2sOmf47Nz9BRdvoAZT",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1552917752,
              "description": "Formation Imprimante 3D March 19, 2019 07:00 - 11:00 AM",
              "discountable": true,
              "invoice": "in_1EFM2w2sOmf47Nz9TA6EwQ1C",
              "livemode": false,
              "metadata": {
              },
              "period": {
                "end": 1552917752,
                "start": 1552917752
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "tax_rates": [

              ],
              "unit_amount": 0
            },
            {
              "id": "ii_1EFM2l2sOmf47Nz9kT5dkNnE",
              "object": "invoiceitem",
              "amount": 1000,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1552917743,
              "description": "FORM1+ imprimante 3D March 18, 2019 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1EFM2o2sOmf47Nz9AYaFr2Zs",
              "livemode": false,
              "metadata[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI&amount=0&currency=usd&description=FORM1%2B+imprimante+3D+May+27%2C+2019+14%3A00+-+03%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1EefTT2sOmf47Nz9u43Pry3w",
          "object": "invoiceitem",
          "amount": 0,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1558950635,
          "description": "FORM1+ imprimante 3D May 27, 2019 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1558950635,
            "start": 1558950635
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "tax_rates": [

          ],
          "unit_amount": 0
        }
  recorded_at: Mon, 27 May 2019 09:50:35 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzKe50I0J1gaI",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "created": 1459782643,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "Kevin Dumas",
          "discount": null,
          "email": "kevin.dumas@orange.fr",
          "invoice_prefix": "CAA9D6C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 27 May 2019 09:50:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources
    body:
      encoding: UTF-8
      string: card=tok_1EefTR2sOmf47Nz92ecSjFRI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1EefTR2sOmf47Nz9srpd7qaH",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8CzKe50I0J1gaI",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2020,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 27 May 2019 09:50:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1EefTX2sOmf47Nz9KlpiJrhA",
          "object": "invoice",
          "account_country": "FR",
          "account_name": "Sleede",
          "amount_due": 1000,
          "amount_paid": 0,
          "amount_remaining": 1000,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": true,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "closed": false,
          "collection_method": "charge_automatically",
          "created": 1558950639,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_8CzKe50I0J1gaI",
          "customer_address": null,
          "customer_email": "kevin.dumas@orange.fr",
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [

          ],
          "date": 1558950639,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "finalized_at": null,
          "footer": null,
          "forgiven": false,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1EefTU2sOmf47Nz91MuEx1J3",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D May 27, 2019 15:00 - 04:00 PM",
                "discountable": true,
                "invoice_item": "ii_1EefTU2sOmf47Nz91MuEx1J3",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1558950636,
                  "start": 1558950636
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              },
              {
                "id": "ii_1EefTT2sOmf47Nz9u43Pry3w",
                "object": "line_item",
                "amount": 0,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D May 27, 2019 14:00 - 03:00 PM",
                "discountable": true,
                "invoice_item": "ii_1EefTT2sOmf47Nz9u43Pry3w",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1558950635,
                  "start": 1558950635
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 2,
            "url": "/v1/invoices/in_1EefTX2sOmf47Nz9KlpiJrhA/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": 1558954239,
          "number": "CAA9D6C-0031",
          "paid": false,
          "payment_intent": null,
          "period_end": 1558950639,
          "period_start": 1558950639,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subtotal": 1000,
          "tax": null,
          "tax_percent": null,
          "total": 1000,
          "total_tax_amounts": [

          ],
          "webhooks_delivered_at": null
        }
  recorded_at: Mon, 27 May 2019 09:50:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1EefTX2sOmf47Nz9KlpiJrhA/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources/card_1EefTR2sOmf47Nz9srpd7qaH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1EefTR2sOmf47Nz9srpd7qaH",
          "object": "card",
          "deleted": true
        }
  recorded_at: Mon, 27 May 2019 09:50:42 GMT
recorded_with: VCR 3.0.1
