---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1B3L052sOmf47Nz9zx9vIGks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1B3L052sOmf47Nz9zx9vIGks",
          "object": "invoice",
          "amount_due": 3825,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "billing": "charge_automatically",
          "charge": "ch_1B3L052sOmf47Nz9yFwS4Xua",
          "closed": true,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1505724789,
          "description": null,
          "discount": null,
          "ending_balance": 0,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1B3L012sOmf47Nz948JNFRoK",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1505724785,
                  "end": 1505724785
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1B3L002sOmf47Nz9FjqPZEye",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1505724784,
                  "end": 1505724784
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "sub_BQBMKKS6nutZLr",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1505724789,
                  "end": 1508316789
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_1B3L052sOmf47Nz9MoxGlk6i",
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1B3L052sOmf47Nz9zx9vIGks/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": "d4cc0e661c-0005",
          "paid": true,
          "period_end": 1505724789,
          "period_start": 1505724421,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": "sub_BQBMKKS6nutZLr",
          "subtotal": 3825,
          "tax": null,
          "tax_percent": null,
          "total": 3825,
          "webhooks_delivered_at": 1505724789
        }
  recorded_at: Mon, 18 Sep 2017 08:53:17 GMT
recorded_with: VCR 3.0.1
