---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1EFM3E2sOmf47Nz9HouvTQQA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1EFM3E2sOmf47Nz9HouvTQQA",
          "object": "invoice",
          "amount_due": 3825,
          "amount_paid": 3825,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "auto_advance": false,
          "billing": "charge_automatically",
          "billing_reason": "subscription_update",
          "charge": "ch_1EFM3F2sOmf47Nz9ynJH55GU",
          "closed": true,
          "created": 1552917772,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1552917772,
          "default_source": null,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": 0,
          "finalized_at": 1552917772,
          "footer": null,
          "forgiven": false,
          "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_DohlSwftj7oHqjv4Xbtv6dizV7",
          "invoice_pdf": "https://pay.stripe.com/invoice/invst_DohlSwftj7oHqjv4Xbtv6dizV7/pdf",
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1EFM3B2sOmf47Nz9SOyhSNJi",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "invoice_item": "ii_1EFM3B2sOmf47Nz9SOyhSNJi",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1552917769,
                  "start": 1552917769
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1EFM3A2sOmf47Nz99gYXszwm",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D March 18, 2019 13:00 - 02:00 PM",
                "discountable": true,
                "invoice_item": "ii_1EFM3A2sOmf47Nz99gYXszwm",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1552917768,
                  "start": 1552917768
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "sub_Eine8y820SrVIB",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1555596172,
                  "start": 1552917772
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_EinerOrdmoqf4k",
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1EFM3E2sOmf47Nz9HouvTQQA/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "C0E661C-0058",
          "paid": true,
          "period_end": 1552917772,
          "period_start": 1552917772,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "paid",
          "status_transitions": {
            "finalized_at": 1552917772,
            "marked_uncollectible_at": null,
            "paid_at": 1552917773,
            "voided_at": null
          },
          "subscription": "sub_Eine8y820SrVIB",
          "subtotal": 3825,
          "tax": null,
          "tax_percent": null,
          "total": 3825,
          "webhooks_delivered_at": 1552917774
        }
  recorded_at: Mon, 18 Mar 2019 14:03:01 GMT
recorded_with: VCR 3.0.1
