---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CrPhp2sOmf47Nz97FwR0N0Q",
          "object": "token",
          "card": {
            "id": "card_1CrPhp2sOmf47Nz9kdpFLmfl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.128.65",
          "created": 1532435613,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 24 Jul 2018 12:33:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1CrPhR2sOmf47Nz9GjDTPM59",
              "object": "invoiceitem",
              "amount": -675,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1532435589,
              "description": "coupon SUNNYFABLAB",
              "discountable": false,
              "invoice": "in_1CrPhU2sOmf47Nz9LcjmZ0k4",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1532435589,
                "end": 1532435589
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": -675
            },
            {
              "id": "ii_1CrPhQ2sOmf47Nz9Kgf1w9jh",
              "object": "invoiceitem",
              "amount": 1500,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1532435588,
              "description": "FORM1+ imprimante 3D July 24, 2018 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1CrPhU2sOmf47Nz9LcjmZ0k4",
              "livemode": false,
              "metada[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=5100&currency=usd&description=Formation+Imprimante+3D+July+25%2C+2018+08%3A00+-+09%3A00+AM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1CrPhr2sOmf47Nz90bCUiJHE",
          "object": "invoiceitem",
          "amount": 5100,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1532435615,
          "description": "Formation Imprimante 3D July 25, 2018 08:00 - 09:00 AM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1532435615,
            "end": 1532435615
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 5100
        }
  recorded_at: Tue, 24 Jul 2018 12:33:35 GMT
recorded_with: VCR 3.0.1
