---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1CrPhU2sOmf47Nz9LcjmZ0k4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1CrPhU2sOmf47Nz9LcjmZ0k4",
          "object": "invoice",
          "amount_due": 3825,
          "amount_paid": 3825,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "auto_advance": false,
          "billing": "charge_automatically",
          "billing_reason": "subscription_update",
          "charge": "ch_1CrPhU2sOmf47Nz9tZ1Tmt7D",
          "closed": true,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1532435591,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": 0,
          "forgiven": false,
          "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_GsIkBaLI4vqX5AwRYOa5utSHNz",
          "invoice_pdf": "https://pay.stripe.com/invoice/invst_GsIkBaLI4vqX5AwRYOa5utSHNz/pdf",
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1CrPhR2sOmf47Nz9GjDTPM59",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "invoice_item": "ii_1CrPhR2sOmf47Nz9GjDTPM59",
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": 1532435589,
                  "start": 1532435589
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1CrPhQ2sOmf47Nz9Kgf1w9jh",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D July 24, 2018 14:00 - 03:00 PM",
                "discountable": true,
                "invoice_item": "ii_1CrPhQ2sOmf47Nz9Kgf1w9jh",
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": 1532435588,
                  "start": 1532435588
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "sub_DHzgkL0eTyA8FA",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": 1535113991,
                  "start": 1532435591
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_DHzgliNXiATx4R",
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1CrPhU2sOmf47Nz9LcjmZ0k4/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": "C0E661C-0014",
          "paid": true,
          "period_end": 1532435591,
          "period_start": 1532435591,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": "sub_DHzgkL0eTyA8FA",
          "subtotal": 3825,
          "tax": null,
          "tax_percent": null,
          "total": 3825,
          "webhooks_delivered_at": 1532435593
        }
  recorded_at: Tue, 24 Jul 2018 12:33:20 GMT
recorded_with: VCR 3.0.1
