---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1Db2Wi2sOmf47Nz9CEnIfv0R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1Db2Wi2sOmf47Nz9CEnIfv0R",
          "object": "invoice",
          "amount_due": 3825,
          "amount_paid": 3825,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "auto_advance": false,
          "billing": "charge_automatically",
          "billing_reason": "subscription_update",
          "charge": "ch_1Db2Wi2sOmf47Nz9WGLdw3v7",
          "closed": true,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1543309600,
          "default_source": null,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": 0,
          "finalized_at": 1543309600,
          "forgiven": false,
          "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_uZHl15IwfdfaE3HtXBqfNI8hyA",
          "invoice_pdf": "https://pay.stripe.com/invoice/invst_uZHl15IwfdfaE3HtXBqfNI8hyA/pdf",
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1Db2Wf2sOmf47Nz9k4aU03O6",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "invoice_item": "ii_1Db2Wf2sOmf47Nz9k4aU03O6",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1543309597,
                  "start": 1543309597
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1Db2We2sOmf47Nz9bhEDhqwi",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D November 27, 2018 13:00 - 02:00 PM",
                "discountable": true,
                "invoice_item": "ii_1Db2We2sOmf47Nz9bhEDhqwi",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1543309596,
                  "start": 1543309596
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "sub_E38oY26elm716k",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1545901600,
                  "start": 1543309600
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_E38oSp56vPzF52",
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1Db2Wi2sOmf47Nz9CEnIfv0R/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "C0E661C-0023",
          "paid": true,
          "payment_intent": null,
          "period_end": 1543309600,
          "period_start": 1543309600,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "paid",
          "subscription": "sub_E38oY26elm716k",
          "subtotal": 3825,
          "tax": 0,
          "tax_percent": null,
          "total": 3825,
          "webhooks_delivered_at": 1543309601
        }
  recorded_at: Tue, 27 Nov 2018 09:06:48 GMT
recorded_with: VCR 3.0.1
