---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1DBjLX2sOmf47Nz9rjURZpgn",
          "object": "token",
          "card": {
            "id": "card_1DBjLX2sOmf47Nz9VbgXcOxq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.128.65",
          "created": 1537277671,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 18 Sep 2018 13:34:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8CzKe50I0J1gaI&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1DBjLK2sOmf47Nz9G7GxBFrc",
              "object": "invoiceitem",
              "amount": 1000,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1537277658,
              "description": "FORM1+ imprimante 3D September 18, 2018 15:00 - 04:00 PM",
              "discountable": true,
              "invoice": "in_1DBjLN2sOmf47Nz9J7vHP58l",
              "livemode": false,
              "metadata": {
              },
              "period": {
                "start": 1537277658,
                "end": 1537277658
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": 1000
            },
            {
              "id": "ii_1DBjLJ2sOmf47Nz9Qp3DfiOg",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1537277657,
              "description": "FORM1+ imprimante 3D September 18, 2018 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1DBjLN2sOmf47Nz9J7vHP58l",
              "livemode": false,
              "meta[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI&amount=0&currency=usd&description=Formation+Imprimante+3D+September+19%2C+2018+08%3A00+-+12%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1DBjLZ2sOmf47Nz9VBM95bbw",
          "object": "invoiceitem",
          "amount": 0,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1537277673,
          "description": "Formation Imprimante 3D September 19, 2018 08:00 - 12:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "start": 1537277673,
            "end": 1537277673
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 0
        }
  recorded_at: Tue, 18 Sep 2018 13:34:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzKe50I0J1gaI",
          "object": "customer",
          "account_balance": 0,
          "created": 1459782643,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "Kevin Dumas",
          "discount": null,
          "email": "kevin.dumas@orange.fr",
          "invoice_prefix": "CAA9D6C",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Tue, 18 Sep 2018 13:34:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1DBjLa2sOmf47Nz9BZ3oQwl7",
          "object": "invoice",
          "amount_due": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": true,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1537277674,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "forgiven": false,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1DBjLZ2sOmf47Nz9VBM95bbw",
                "object": "line_item",
                "amount": 0,
                "currency": "usd",
                "description": "Formation Imprimante 3D September 19, 2018 08:00 - 12:00 PM",
                "discountable": true,
                "invoice_item": "ii_1DBjLZ2sOmf47Nz9VBM95bbw",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1537277673,
                  "start": 1537277673
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1DBjLa2sOmf47Nz9BZ3oQwl7/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": 1537281274,
          "number": "CAA9D6C-0010",
          "paid": false,
          "period_end": 1537277674,
          "period_start": 1537277674,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": null,
          "subtotal": 0,
          "tax": null,
          "tax_percent": null,
          "total": 0,
          "webhooks_delivered_at": null
        }
  recorded_at: Tue, 18 Sep 2018 13:34:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1DBjLa2sOmf47Nz9BZ3oQwl7/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-[...]
