---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1B3L1I2sOmf47Nz9UYqYHZPI",
          "object": "token",
          "card": {
            "id": "card_1B3L1I2sOmf47Nz9bQ7Ubbqd",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1505724864,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 18 Sep 2017 08:54:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8CzKe50I0J1gaI&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1B3L1B2sOmf47Nz9dbDfy0so",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1505724857,
              "description": "Formation Imprimante 3D September 18, 2017 08:00 - 12:00 PM",
              "discountable": true,
              "invoice": "in_1B3L1D2sOmf47Nz9ujfC1Wx9",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1505724857,
                "end": 1505724857
              },
              "plan": null,
              "proration": false,
              "quantity": null,
              "subscription": null
            },
            {
              "id": "ii_1B3Kty2sOmf47Nz96UsCcZKF",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1505724410,
              "description": "Formation Imprimante 3D September 18, 2017 08:00 - 12:00 PM",
              "discountable": true,
              "invoice": "in_1B3Ku02sOmf47Nz9iK6od82f",
              "livemode": false,
              "m[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI&amount=0&currency=usd&description=FORM1%2B+imprimante+3D+September+17%2C+2017+14%3A00+-+03%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1B3L1J2sOmf47Nz9Qjf0ElJ7",
          "object": "invoiceitem",
          "amount": 0,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1505724865,
          "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1505724865,
            "end": 1505724865
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Mon, 18 Sep 2017 08:54:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzKe50I0J1gaI",
          "object": "customer",
          "account_balance": 0,
          "created": 1459782643,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "Kevin Dumas",
          "discount": null,
          "email": "kevin.dumas@orange.fr",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/subscriptions"
          }
        }
  recorded_at: Mon, 18 Sep 2017 08:54:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources
    body:
      encoding: UTF-8
      string: card=tok_1B3L1I2sOmf47Nz9UYqYHZPI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1B3L1I2sOmf47Nz9bQ7Ubbqd",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8CzKe50I0J1gaI",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2018,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 18 Sep 2017 08:54:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1B3L1P2sOmf47Nz9jJ905GpU",
          "object": "invoice",
          "amount_due": 1000,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "billing": "charge_automatically",
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1505724871,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1B3L1K2sOmf47Nz9qJv9M20Q",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D September 17, 2017 15:00 - 04:00 PM",
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1505724866,
       [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1B3L1P2sOmf47Nz9jJ905GpU/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      s[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources/card_1B3L1I2sOmf47Nz9bQ7Ubbqd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "card_1B3L1I2sOmf47Nz9bQ7Ubbqd"
        }
  recorded_at: Mon, 18 Sep 2017 08:54:33 GMT
recorded_with: VCR 3.0.1
