---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17xDFD2sOmf47Nz9JD1vbrAJ",
          "object": "token",
          "card": {
            "id": "card_17xDFD2sOmf47Nz9LbJShTlw",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2017,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "86.76.5.109",
          "created": 1459935999,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 06 Apr 2016 09:46:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzAgnSeFbDuG2&amount=3200&currency=eur&description=FORM1%2B+imprimante+3D+lundi+11+avril+2016+14h00+-+15%3A00
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_17xDFF2sOmf47Nz90VoIJ17e",
          "object": "invoiceitem",
          "amount": 3200,
          "currency": "eur",
          "customer": "cus_8CzAgnSeFbDuG2",
          "date": 1459936001,
          "description": "FORM1+ imprimante 3D lundi 11 avril 2016 14h00 - 15:00",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1459936001,
            "end": 1459936001
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Wed, 06 Apr 2016 09:46:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzAgnSeFbDuG2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzAgnSeFbDuG2",
          "object": "customer",
          "account_balance": 0,
          "created": 1459782030,
          "currency": "eur",
          "default_source": null,
          "delinquent": false,
          "description": "Jean Dupont",
          "discount": null,
          "email": "jean.dupont@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzAgnSeFbDuG2/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzAgnSeFbDuG2/subscriptions"
          }
        }
  recorded_at: Wed, 06 Apr 2016 09:46:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8CzAgnSeFbDuG2/sources
    body:
      encoding: UTF-8
      string: card=tok_17xDFD2sOmf47Nz9JD1vbrAJ
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17xDFD2sOmf47Nz9LbJShTlw",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8CzAgnSeFbDuG2",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2017,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 06 Apr 2016 09:46:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzAgnSeFbDuG2
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_17xDFH2sOmf47Nz9DpUY5b3U",
          "object": "invoice",
          "amount_due": 3200,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "charge": null,
          "closed": false,
          "currency": "eur",
          "customer": "cus_8CzAgnSeFbDuG2",
          "date": 1459936003,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_17xDFF2sOmf47Nz90VoIJ17e",
                "object": "line_item",
                "amount": 3200,
                "currency": "eur",
                "description": "FORM1+ imprimante 3D lundi 11 avril 2016 14h00 - 15:00",
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1459936001,
                  "end": 1459936001
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_17xDFH2sOmf47Nz9DpUY5b3U/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": 1459939603,
          "paid": false,
          "period_end": 1459936003,
          "period_start": 1459936003,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": null,
          "subtotal": 3200,
          "tax": null,
          "tax_percent": null,
          "total": 3200,
          "webhooks_delivered_at": null
        }
  recorded_at: Wed, 06 Apr 2016 09:46:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_17xDFH2sOmf47Nz9DpUY5b3U/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      s[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8CzAgnSeFbDuG2/sources/card_17xDFD2sOmf47Nz9LbJShTlw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "card_17xDFD2sOmf47Nz9LbJShTlw"
        }
  recorded_at: Wed, 06 Apr 2016 09:46:45 GMT
recorded_with: VCR 3.0.1
