---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1EDuKM2sOmf47Nz9D5QDXxQC",
          "object": "token",
          "card": {
            "id": "card_1EDuKM2sOmf47Nz9K6DQv5tt",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.130.7",
          "created": 1552572874,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Mar 2019 14:14:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1EDuKK2sOmf47Nz9J6K898Ka",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1552572872,
              "description": "FORM1+ imprimante 3D March 14, 2019 13:00 - 02:00 PM",
              "discountable": true,
              "invoice": null,
              "livemode": false,
              "metadata": {
              },
              "period": {
                "end": 1552572872,
                "start": 1552572872
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": 3200
            },
            {
              "id": "ii_1EDuK52sOmf47Nz9m43ACCds",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1552572857,
              "description": "FORM1+ imprimante 3D March 14, 2019 13:00 - 02:00 PM",
              "discountable": true,
              "invoice": "in_1EDuK92sOmf47Nz9FcCTpYD7",
              "livemode": false,
              "metad[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/invoiceitems/ii_1EDuKK2sOmf47Nz9J6K898Ka
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1EDuKK2sOmf47Nz9J6K898Ka",
          "object": "invoiceitem",
          "deleted": true
        }
  recorded_at: Thu, 14 Mar 2019 14:14:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=5100&currency=usd&description=Formation+Imprimante+3D+March+15%2C+2019+07%3A00+-+11%3A00+AM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1EDuKP2sOmf47Nz9YHU9gWFL",
          "object": "invoiceitem",
          "amount": 5100,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1552572877,
          "description": "Formation Imprimante 3D March 15, 2019 07:00 - 11:00 AM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1552572877,
            "start": 1552572877
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 5100
        }
  recorded_at: Thu, 14 Mar 2019 14:14:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_1DvQRI2sOmf47Nz9qEKDy0Kr",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "invoice_prefix": "C0E661C",
          "invoice_settings": {
            "custom_fields": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1DvQRI2sOmf47Nz9qEKDy0Kr",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2020,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_E84j5nDZWrdZ93",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1544447618,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1544447618,
                "current_period_end": 1554902018,
                "current_period_start": 1552223618,
                "customer": "cus_8Di1wjdVktv5kt",
                "days_until_due": null,
                "default_source": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_E84j1dfEM9LnGT",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1544447619,
                      "metadata": {
                      },
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "billing_scheme": "per_unit",
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Mensuel - standard, association - month",
                        "nickname": null,
                        "product": "prod_BV0emghsuiUJDn",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_E84j5nDZWrdZ93"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_E84j5nDZWrdZ93"
                },
                "latest_invoice": "in_1ECRTG2sOmf47Nz9R0RSPyap",
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1544447618,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 14 Mar 2019 14:14:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/sources
    body:
      encoding: UTF-8
      string: card=tok_1EDuKM2sOmf47Nz9D5QDXxQC
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1EDuKM2sOmf47Nz9K6DQv5tt",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8Di1wjdVktv5kt",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2020,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 14 Mar 2019 14:14:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1EDuKT2sOmf47Nz9O5j0jBxL",
          "object": "invoice",
          "amount_due": 5100,
          "amount_paid": 0,
          "amount_remaining": 5100,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": true,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "closed": false,
          "created": 1552572881,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1552572881,
          "default_source": null,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "finalized_at": null,
          "footer": null,
          "forgiven": false,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1EDuKP2sOmf47Nz9YHU9gWFL",
                "object": "line_item",
                "amount": 5100,
                "currency": "usd",
                "description": "Formation Imprimante 3D March 15, 2019 07:00 - 11:00 AM",
                "discountable": true,
                "invoice_item": "ii_1EDuKP2sOmf47Nz9YHU9gWFL",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1552572877,
                  "start": 1552572877
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1EDuKT2sOmf47Nz9O5j0jBxL/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": 1552576481,
          "number": "C0E661C-0054",
          "paid": false,
          "period_end": 1554902018,
          "period_start": 1552223618,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subtotal": 5100,
          "tax": null,
          "tax_percent": null,
          "total": 5100,
          "webhooks_delivered_at": null
        }
  recorded_at: Thu, 14 Mar 2019 14:14:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1EDuKT2sOmf47Nz9O5j0jBxL/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/sources/card_1EDuKM2sOmf47Nz9K6DQv5tt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1EDuKM2sOmf47Nz9K6DQv5tt",
          "object": "card",
          "deleted": true
        }
  recorded_at: Thu, 14 Mar 2019 14:14:44 GMT
recorded_with: VCR 3.0.1
