---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_18rNSq2sOmf47Nz91hxlGSa7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_18rNSq2sOmf47Nz91hxlGSa7",
          "object": "invoice",
          "amount_due": 3825,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "charge": "ch_18rNSq2sOmf47Nz9Z8EuuyI8",
          "closed": true,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1473321652,
          "description": null,
          "discount": null,
          "ending_balance": 0,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_18rNSp2sOmf47Nz9S0rJVP2a",
                "object": "line_item",
                "amount": -450,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1473321651,
                  "end": 1473321651
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_18rNSm2sOmf47Nz9R11Svoer",
                "object": "line_item",
                "amount": -225,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1473321648,
                  "end": 1473321648
                },
            [...]
