---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1B3Kzy2sOmf47Nz9sGjFTkgo",
          "object": "token",
          "card": {
            "id": "card_1B3Kzy2sOmf47Nz9TT6Gk2oJ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1505724782,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 18 Sep 2017 08:53:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1B3Kuo2sOmf47Nz9egmtGncE",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724462,
              "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1B3Kut2sOmf47Nz9ht8mAIGU",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1505724462,
                "end": 1505724462
              },
              "plan": null,
              "proration": false,
              "quantity": null,
              "subscription": null
            },
            {
              "id": "ii_1B3KuK2sOmf47Nz9RqRGmh0l",
              "object": "invoiceitem",
              "amount": 5100,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724432,
              "description": "Formation Imprimante 3D September 18, 2017 08:00 - 12:00 PM",
              "discountable": true,
              "invoice": "in_1B3KuO2sOmf47Nz9invMhPqV",
              "livemode": false,
             [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=1500&currency=usd&description=FORM1%2B+imprimante+3D+September+17%2C+2017+14%3A00+-+03%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1B3L002sOmf47Nz9FjqPZEye",
          "object": "invoiceitem",
          "amount": 1500,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1505724784,
          "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1505724784,
            "end": 1505724784
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Mon, 18 Sep 2017 08:53:05 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_1B3KvG2sOmf47Nz9vdggtLMh",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1B3KvG2sOmf47Nz9vdggtLMh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BQBH03MUz5WO4y",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": true,
                "canceled_at": 1505724499,
                "created": 1505724494,
                "current_period_end": 1508316494,
                "current_period_start": 1505724494,
                "customer": "cus_8Di1wjdVktv5kt",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1B3KvK2sOmf47Nz9mNLN0l2q",
                      "object": "subscription_item",
                      "created": 1505724494,
                      "metadata": {},
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "amount": 3000,
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Mensuel - standard, association - month",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BQBH03MUz5WO4y"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1505724494,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_BQBGRftUBikhtm",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": true,
                "canceled_at": 1505724425,
                "created": 1505724421,
                "current_period_end": 1508316421,
                "current_period_start": 1505724421,
                "customer": "cus_8Di1wjdVktv5[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&source=tok_1B3Kzy2sOmf47Nz9sGjFTkgo
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Str[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8Di1wjdVktv5kt&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1B3L052sOmf47Nz9zx9vIGks",
              "object": "invoice",
              "amount_due": 3825,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "billing": "charge_automatically",
              "charge": "ch_1B3L052sOmf47Nz9yFwS4Xua",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724789,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_1B3L012sOmf47Nz948JNFRoK",
                    "object": "line_item",
                    "amount": -675,
                    "currency": "usd",
                    "description": "coupon SUNNYFABLAB",
                    "discountable": false,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1505[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_BQBMKKS6nutZLr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_BQBMKKS6nutZLr?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems/ii_1B3L002sOmf47Nz9FjqPZEye
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1B3L002sOmf47Nz9FjqPZEye",
          "object": "invoiceitem",
          "amount": 1500,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1505724784,
          "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": "in_1B3L052sOmf47Nz9zx9vIGks",
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1505724784,
            "end": 1505724784
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Mon, 18 Sep 2017 08:53:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems/ii_1B3L002sOmf47Nz9FjqPZEye
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1B3L002sOmf47Nz9FjqPZEye",
          "object": "invoiceitem",
          "amount": 1500,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1505724784,
          "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": "in_1B3L052sOmf47Nz9zx9vIGks",
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1505724784,
            "end": 1505724784
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Mon, 18 Sep 2017 08:53:15 GMT
recorded_with: VCR 3.0.1
