---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BYySK2sOmf47Nz9ZhYV19VB",
          "object": "token",
          "card": {
            "id": "card_1BYySK2sOmf47Nz9N7rZWRuG",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "xsVM9Mfv9kfwhRSL",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1513264624,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Dec 2017 15:17:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1B3L0k2sOmf47Nz9y87SMg3r",
              "object": "invoiceitem",
              "amount": 5100,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724830,
              "description": "Formation Imprimante 3D September 18, 2017 08:00 - 09:00 AM",
              "discountable": true,
              "invoice": "in_1B3L1k2sOmf47Nz9WrVocGx4",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1505724830,
                "end": 1505724830
              },
              "plan": null,
              "proration": false,
              "quantity": null,
              "subscription": null
            },
            {
              "id": "ii_1B3L0Y2sOmf47Nz9e9W8bl2Z",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724818,
              "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1B3L0d2sOmf47Nz9sybqyVQx",
              "livemode": false,
              "m[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=3200&currency=usd&description=FORM1%2B+imprimante+3D+December+10%2C+2017+13%3A00+-+02%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1BYySM2sOmf47Nz9uXaeT3WS",
          "object": "invoiceitem",
          "amount": 3200,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1513264626,
          "description": "FORM1+ imprimante 3D December 10, 2017 13:00 - 02:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1513264626,
            "end": 1513264626
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Thu, 14 Dec 2017 15:17:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_1BYyRH2sOmf47Nz9DntNBKbd",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BYyRH2sOmf47Nz9DntNBKbd",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BwsBKRtVCiYsaH",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": true,
                "canceled_at": 1513264568,
                "created": 1513264564,
                "current_period_end": 1515942964,
                "current_period_start": 1513264564,
                "customer": "cus_8Di1wjdVktv5kt",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_BwsB8qub1LUQaJ",
                      "object": "subscription_item",
                      "created": 1513264564,
                      "metadata": {},
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "amount": 3000,
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Mensuel - standard, association - month",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BwsBKRtVCiYsaH"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1513264564,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/subscriptions"
          }
        }
  recorded_at: Thu, 14 Dec 2017 15:17:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/sources
    body:
      encoding: UTF-8
      string: card=tok_1BYySK2sOmf47Nz9ZhYV19VB
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Thu, 14 Dec 2017 15:17:08 GMT
recorded_with: VCR 3.0.1
