---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1B3L0i2sOmf47Nz9NLjcWb4n",
          "object": "token",
          "card": {
            "id": "card_1B3L0i2sOmf47Nz9LsdJmm5g",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1505724828,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 18 Sep 2017 08:53:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1B3L0Y2sOmf47Nz9e9W8bl2Z",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724818,
              "description": "FORM1+ imprimante 3D September 17, 2017 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1B3L0d2sOmf47Nz9sybqyVQx",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1505724818,
                "end": 1505724818
              },
              "plan": null,
              "proration": false,
              "quantity": null,
              "subscription": null
            },
            {
              "id": "ii_1B3L0J2sOmf47Nz9lKSNNF1U",
              "object": "invoiceitem",
              "amount": 5100,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1505724803,
              "description": "Formation Imprimante 3D September 18, 2017 08:00 - 12:00 PM",
              "discountable": true,
              "invoice": "in_1B3L0N2sOmf47Nz9YpYod08J",
              "livemode": false,
             [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=5100&currency=usd&description=Formation+Imprimante+3D+September+18%2C+2017+08%3A00+-+09%3A00+AM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1B3L0k2sOmf47Nz9y87SMg3r",
          "object": "invoiceitem",
          "amount": 5100,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1505724830,
          "description": "Formation Imprimante 3D September 18, 2017 08:00 - 09:00 AM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1505724830,
            "end": 1505724830
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Mon, 18 Sep 2017 08:53:50 GMT
recorded_with: VCR 3.0.1
