---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 192810f7-ee10-4430-bc3e-056f93c2123b
      Original-Request:
      - req_JEUZMg7gUSaXWN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JlrSX2sOmf47Nz9O4x8IvAt",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1634546681,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Mon, 18 Oct 2021 08:44:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1JlrSX2sOmf47Nz9O4x8IvAt/attach
    body:
      encoding: UTF-8
      string: customer=cus_8E2ys9zDZgetWX
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ide[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JlrSX2sOmf47Nz9O4x8IvAt
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0ca2d40b-08fe-4ea4-aabe-26ac0f9ffef0
      Original-Request:
      - req_ORMShp1iikLzR8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8E2ys9zDZgetWX",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1460026822,
          "currency": "usd",
          "default_source": "card_1Euc902sOmf47Nz9eZvNNyyQ",
          "delinquent": false,
          "description": "Lucile Seguin",
          "discount": null,
          "email": "lucile.seguin@live.fr",
          "invoice_prefix": "BCC32B8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1JlrSX2sOmf47Nz9O4x8IvAt",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 517,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Euc902sOmf47Nz9eZvNNyyQ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8E2ys9zDZgetWX",
                "cvc_check": "unchecked",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2020,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_1JkmBg2sOmf47Nz9MGXiiaqr",
                "object": "subscription",
                "application_fee_percent": null,
                "automatic_tax": {
                  "enabled": false
                },
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1634288088,
                "billing_thresholds": null,
                "cancel_at": 1665824085,
                "cancel_at_period_end": false,
                "canceled_at": 1634288088,
                "collection_method": "charge_automatically",
                "created": 1634288088,
                "current_period_end": 1636966488,
                "current_period_start": 1634288088,
                "customer": "cus_8E2ys9zDZgetWX",
                "days_until_due": null,
                "default_payment_method": "pm_1JkmBa2sOmf47Nz9ocFmIyBw",
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "invoice_customer_balance_settings": {
                  "consume_applied_balance_on_void": true
                },
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_KPbOBUeFMwAvpR",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1634288088,
                      "metadata": {
                      },
                      "plan": {
                        "id": "price_1JkmBe2sOmf47Nz99Wrpiisc",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 9466,
                        "amount_decimal": "9466",
                        "billing_scheme": "per_unit",
                        "created": 1634288086,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": null,
                        "product": "prod_IZQAhb9nLu4jfN",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "price": {
                        "id": "price_1JkmBe2sOmf47Nz99Wrpiisc",
                        "object": "price",
                        "active": true,
                        "billing_scheme": "per_unit",
                        "created": 1634288086,
                        "currency": "usd",
                        "livemode": false,
                        "lookup_key": null,
                        "metadata": {
                        },
                        "nickname": null,
                        "product": "prod_IZQAhb9nLu4jfN",
                        "recurring": {
                          "aggregate_usage": null,
                          "interval": "month",
                          "interval_count": 1,
                          "trial_period_days": null,
                          "usage_type": "licensed"
                        },
                        "tax_behavior": "unspecified",
                        "tiers_mode": null,
                        "transform_quantity": null,
                        "type": "recurring",
                        "unit_amount": 9466,
                        "unit_amount_decimal": "9466"
                      },
                      "quantity": 1,
                      "subscription": "sub_1JkmBg2sOmf47Nz9MGXiiaqr",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_1JkmBg2sOmf47Nz9MGXiiaqr"
                },
                "latest_invoice": "in_1JkmBg2sOmf47Nz9yKTwqM67",
                "livemode": false,
                "metadata": {
                },
                "next_pending_invoice_item_invoice": null,
                "pause_collection": null,
                "payment_settings": {
                  "payment_method_options": null,
                  "payment_method_types": null
                },
                "pending_invoice_item_interval": null,
                "pending_setup_intent": null,
                "pending_update": null,
                "plan": {
                  "id": "price_1JkmBe2sOmf47Nz99Wrpiisc",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 9466,
                  "amount_decimal": "9466",
                  "billing_scheme": "per_unit",
                  "created": 1634288086,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_IZQAhb9nLu4jfN",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1634288088,
                "start_date": 1634288088,
                "status": "active",
                "tax_percent": null,
                "transfer_data": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_1JklFr2sOmf47Nz9JAPgZ9YT",
                "object": "subscription",
                "application_fee_percent": null,
                "automatic_tax": {
                  "enabled": false
                },
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1634284503,
                "billing_thresholds": null,
                "cancel_at": 1665820500,
                "cancel_at_period_end":[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=9466&currency=usd&product=prod_IZQAhb9nLu4jfN&recurring[interval]=month&recurring[interval_count]=1
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_8E2ys9zDZgetWX&cancel_at=1666082683&add_invoice_items[0][price]=price_1JlrSb2sOmf47Nz9jgGVSuT7&add_invoice_items[1][price]=price_1JlrSb2sOmf47Nz9qCInRHWn&coupon=GIME3EUR&items[0][price]=price_1JlrSa2sOmf47Nz9ZK9HcoJE&default_payment_method=pm_1JlrSX2sOmf47Nz9O4x8IvAt&expand[0]=latest_invoice.payment_intent
    headers:
      Authorization:
      - Bearer sk_test[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1JlrSc2sOmf47Nz9iGo2svAB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-1[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1JlrSX2sOmf47Nz9O4x8IvAt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-[...]
