---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17xHFG2sOmf47Nz9pZ4CafpU",
          "object": "token",
          "card": {
            "id": "card_17xHFG2sOmf47Nz95yErDQbL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2017,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "86.76.5.109",
          "created": 1459951378,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 06 Apr 2016 14:02:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzNtM08NVlSGN&amount=3200&currency=usd&description=FORM1%2B+imprimante+3D+April+11%2C+2016+14%3A00+-+03%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_17xHFG2sOmf47Nz9hhIaJZtF",
          "object": "invoiceitem",
          "amount": 3200,
          "currency": "usd",
          "customer": "cus_8CzNtM08NVlSGN",
          "date": 1459951378,
          "description": "FORM1+ imprimante 3D April 11, 2016 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1459951378,
            "end": 1459951378
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Wed, 06 Apr 2016 14:02:58 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzNtM08NVlSGN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzNtM08NVlSGN",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_17xGjJ2sOmf47Nz9UrQOP8Cl",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17xGjJ2sOmf47Nz9UrQOP8Cl",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8CzNtM08NVlSGN",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8CzNtM08NVlSGN/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8Di9gqPLwt5IIC",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": true,
                "canceled_at": 1459949404,
                "current_period_end": 1462541399,
                "current_period_start": 1459949399,
                "customer": "cus_8CzNtM08NVlSGN",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1459949399,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_8Di2VadRvr7A99",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": true,
                "canceled_at": 1459948972,
                "current_period_end": 1462540968,
                "current_period_start": 1459948968,
                "customer": "cus_8CzNtM08NVlSGN",
                "discount": null,
                "ended_at": null,
                "[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8CzNtM08NVlSGN/sources
    body:
      encoding: UTF-8
      string: card=tok_17xHFG2sOmf47Nz9pZ4CafpU
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17xHFG2sOmf47Nz95yErDQbL",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8CzNtM08NVlSGN",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2017,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 06 Apr 2016 14:03:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzNtM08NVlSGN
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_17xHFK2sOmf47Nz9jegPFlNt",
          "object": "invoice",
          "amount_due": 2200,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8CzNtM08NVlSGN",
          "date": 1459951382,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_17xHFG2sOmf47Nz9hhIaJZtF",
                "object": "line_item",
                "amount": 3200,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D April 11, 2016 14:00 - 03:00 PM",
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1459951378,
           [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_17xHFK2sOmf47Nz9jegPFlNt/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      s[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8CzNtM08NVlSGN/sources/card_17xHFG2sOmf47Nz95yErDQbL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "card_17xHFG2sOmf47Nz95yErDQbL"
        }
  recorded_at: Wed, 06 Apr 2016 14:03:04 GMT
recorded_with: VCR 3.0.1
