---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1DBjL52sOmf47Nz9hGTXGQNj",
          "object": "token",
          "card": {
            "id": "card_1DBjL42sOmf47Nz947xY7OVv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.128.65",
          "created": 1537277643,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 18 Sep 2018 13:34:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1DBjL42sOmf47Nz94p0Hk92K",
              "object": "invoiceitem",
              "amount": 5100,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1537277642,
              "description": "Formation Imprimante 3D September 19, 2018 08:00 - 09:00 AM",
              "discountable": true,
              "invoice": null,
              "livemode": false,
              "metadata": {
              },
              "period": {
                "start": 1537277642,
                "end": 1537277642
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": 5100
            },
            {
              "id": "ii_1CrPiE2sOmf47Nz9oh9X3RUm",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1532435638,
              "description": "FORM1+ imprimante 3D July 24, 2018 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1CrPj02sOmf47Nz9X8pn6375",
              "livemode": false,
              "metada[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/invoiceitems/ii_1DBjL42sOmf47Nz94p0Hk92K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1DBjL42sOmf47Nz94p0Hk92K",
          "deleted": true
        }
  recorded_at: Tue, 18 Sep 2018 13:34:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=3200&currency=usd&description=FORM1%2B+imprimante+3D+September+18%2C+2018+14%3A00+-+03%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1DBjL72sOmf47Nz91i8Qf2mG",
          "object": "invoiceitem",
          "amount": 3200,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1537277645,
          "description": "FORM1+ imprimante 3D September 18, 2018 14:00 - 03:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "start": 1537277645,
            "end": 1537277645
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 3200
        }
  recorded_at: Tue, 18 Sep 2018 13:34:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_1DBjK52sOmf47Nz9a8DNwfud",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "invoice_prefix": "C0E661C",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1DBjK52sOmf47Nz9a8DNwfud",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_DczIuh78Vl5cmh",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1537277583,
                "cancel_at_period_end": true,
                "canceled_at": 1537277587,
                "created": 1537277583,
                "current_period_end": 1539869583,
                "current_period_start": 1537277583,
                "customer": "cus_8Di1wjdVktv5kt",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_DczI8lVkuK6q4G",
                      "object": "subscription_item",
                      "created": 1537277583,
                      "metadata": {
                      },
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "billing_scheme": "per_unit",
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Mensuel - standard, association - month",
                        "nickname": null,
                        "product": "prod_BV0emghsuiUJDn",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_DczIuh78Vl5cmh"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_DczIuh78Vl5cmh"
                },
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "mensuel-standar[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/sources
    body:
      encoding: UTF-8
      string: card=tok_1DBjL52sOmf47Nz9hGTXGQNj
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1DBjL42sOmf47Nz947xY7OVv",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8Di1wjdVktv5kt",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2019,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Tue, 18 Sep 2018 13:34:08 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1DBjLC2sOmf47Nz9WeUqeXo9",
          "object": "invoice",
          "amount_due": 3200,
          "amount_paid": 0,
          "amount_remaining": 3200,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": true,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1537277650,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "forgiven": false,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1DBjL72sOmf47Nz91i8Qf2mG",
                "object": "line_item",
                "amount": 3200,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D September 18, 2018 14:00 - 03:00 PM",
                "discountable": true,
                "invoice_item": "ii_1DBjL72sOmf47Nz91i8Qf2mG",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1537277645,
                  "start": 1537277645
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1DBjLC2sOmf47Nz9WeUqeXo9/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": 1537281250,
          "number": "C0E661C-0018",
          "paid": false,
          "period_end": 1539869583,
          "period_start": 1537277583,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": null,
          "subtotal": 3200,
          "tax": null,
          "tax_percent": null,
          "total": 3200,
          "webhooks_delivered_at": null
        }
  recorded_at: Tue, 18 Sep 2018 13:34:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1DBjLC2sOmf47Nz9WeUqeXo9/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/sources/card_1DBjL42sOmf47Nz947xY7OVv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1DBjL42sOmf47Nz947xY7OVv",
          "object": "card",
          "deleted": true
        }
  recorded_at: Tue, 18 Sep 2018 13:34:13 GMT
recorded_with: VCR 3.0.1
