---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1DBjLu2sOmf47Nz91ECKgcXI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1DBjLu2sOmf47Nz91ECKgcXI",
          "object": "invoice",
          "amount_due": 3825,
          "amount_paid": 3825,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "auto_advance": false,
          "billing": "charge_automatically",
          "billing_reason": "subscription_update",
          "charge": "ch_1DBjLu2sOmf47Nz9nlI2EZ92",
          "closed": true,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1537277694,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": 0,
          "forgiven": false,
          "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_wcAjpSKl0w4lzY3bcXdf30hNPP",
          "invoice_pdf": "https://pay.stripe.com/invoice/invst_wcAjpSKl0w4lzY3bcXdf30hNPP/pdf",
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1DBjLr2sOmf47Nz9PQCNMqd6",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "invoice_item": "ii_1DBjLr2sOmf47Nz9PQCNMqd6",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1537277691,
                  "start": 1537277691
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1DBjLq2sOmf47Nz95FQPuH6g",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D September 18, 2018 14:00 - 03:00 PM",
                "discountable": true,
                "invoice_item": "ii_1DBjLq2sOmf47Nz95FQPuH6g",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1537277690,
                  "start": 1537277690
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "sub_DczKcMrcLxVA6D",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1539869694,
                  "start": 1537277694
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_DczKPF3HpxL1xI",
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1DBjLu2sOmf47Nz91ECKgcXI/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "C0E661C-0020",
          "paid": true,
          "period_end": 1537277694,
          "period_start": 1537277694,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": "sub_DczKcMrcLxVA6D",
          "subtotal": 3825,
          "tax": null,
          "tax_percent": null,
          "total": 3825,
          "webhooks_delivered_at": 1537277695
        }
  recorded_at: Tue, 18 Sep 2018 13:35:02 GMT
recorded_with: VCR 3.0.1
