---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_1GIc962sOmf47Nz9YBsuyxKn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1GIc962sOmf47Nz9YBsuyxKn",
          "object": "payment_intent",
          "amount": 3825,
          "amount_capturable": 0,
          "amount_received": 3825,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1GIc962sOmf47Nz9Uq5jY1jX",
                "object": "charge",
                "amount": 3825,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_1GIc962sOmf47Nz9Q3q7kCPg",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "captured": true,
                "created": 1583247296,
                "currency": "usd",
                "customer": "cus_8Di1wjdVktv5kt",
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 62,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1GIc962sOmf47Nz9YBsuyxKn",
                "payment_method": "pm_1GIc952sOmf47Nz9fS2p9Rxu",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 4,
                    "exp_year": 2021,
                    "fingerprint": "o52jybR7bnmNn6AT",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_103rE62sOmf47Nz9/ch_1GIc962sOmf47Nz9Uq5jY1jX/rcpt_GqIkWzM6n72G361VXBXlldDkJUWQS7Z",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1GIc962sOmf47Nz9Uq5jY1jX/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1GIc962sOmf47Nz9YBsuyxKn"
          },
          "client_secret": "pi_1GIc962sOmf47Nz9YBsuyxKn_secret_DlWg2EEk0dvS4nMUwgzWneNn7",
          "confirmation_method": "manual",
          "created": 1583247296,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "description": "Invoice reference: 2003001/VL",
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1GIc952sOmf47Nz9fS2p9Rxu",
          "payment_method_options": {
            "card": {
              "installments": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 03 Mar 2020 14:54:58 GMT
recorded_with: VCR 3.0.1
