---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1Db2Wc2sOmf47Nz9e8PpJxqX",
          "object": "token",
          "card": {
            "id": "card_1Db2Wc2sOmf47Nz9lIMR62qg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.76.28",
          "created": 1543309594,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 27 Nov 2018 09:06:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1Db2WJ2sOmf47Nz999rpCjlE",
              "object": "invoiceitem",
              "amount": 3200,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1543309575,
              "description": "FORM1+ imprimante 3D November 27, 2018 13:00 - 02:00 PM",
              "discountable": true,
              "invoice": "in_1Db2WN2sOmf47Nz9toqcZVnL",
              "livemode": false,
              "metadata": {
              },
              "period": {
                "start": 1543309575,
                "end": 1543309575
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": 3200
            },
            {
              "id": "ii_1DBjLr2sOmf47Nz9PQCNMqd6",
              "object": "invoiceitem",
              "amount": -675,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1537277691,
              "description": "coupon SUNNYFABLAB",
              "discountable": false,
              "invoice": "in_1DBjLu2sOmf47Nz91ECKgcXI",
              "livemode": false,
              "metadata": {
              },
        [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=1500&currency=usd&description=FORM1%2B+imprimante+3D+November+27%2C+2018+13%3A00+-+02%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1Db2We2sOmf47Nz9bhEDhqwi",
          "object": "invoiceitem",
          "amount": 1500,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1543309596,
          "description": "FORM1+ imprimante 3D November 27, 2018 13:00 - 02:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "start": 1543309596,
            "end": 1543309596
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 1500
        }
  recorded_at: Tue, 27 Nov 2018 09:06:36 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_1Db2V92sOmf47Nz9x1LyftuG",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "invoice_prefix": "C0E661C",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Db2V92sOmf47Nz9x1LyftuG",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_E38mpmjDDfkkv2",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1543309505,
                "cancel_at_period_end": true,
                "canceled_at": 1543309510,
                "created": 1543309505,
                "current_period_end": 1545901505,
                "current_period_start": 1543309505,
                "customer": "cus_8Di1wjdVktv5kt",
                "days_until_due": null,
                "default_source": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_E38mz4TrgLBSv9",
                      "object": "subscription_item",
                      "created": 1543309505,
                      "metadata": {
                      },
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "billing_scheme": "per_unit",
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Mensuel - standard, association - month",
                        "nickname": null,
                        "product": "prod_BV0emghsuiUJDn",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_E38mpmjDDfkkv2"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_E38mpmjDDfkkv2"
                },
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "mensuel-standar[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&source=tok_1Db2Wc2sOmf47Nz9e8PpJxqX
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Conte[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8Di1wjdVktv5kt&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1Db2Wi2sOmf47Nz9CEnIfv0R",
              "object": "invoice",
              "amount_due": 3825,
              "amount_paid": 3825,
              "amount_remaining": 0,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "auto_advance": false,
              "billing": "charge_automatically",
              "billing_reason": "subscription_update",
              "charge": "ch_1Db2Wi2sOmf47Nz9WGLdw3v7",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1543309600,
              "default_source": null,
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "finalized_at": 1543309600,
              "forgiven": false,
              "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_uZHl15IwfdfaE3HtXBqfNI8hyA",
              "invoice_pdf": "https://pay.stripe.com/invoice/invst_uZHl15IwfdfaE3HtXBqfNI8hyA/pdf",
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_1Db2Wf2sOmf47Nz9k4aU03O6",
                    "object": "line_item",
                    "amount": -675,
                    "currency": "usd",
                    "description": "coupon SUNNYFABLAB",
                    "discountable": false,
                    "invoice_item": "ii_1Db2Wf2sOmf47Nz9k4aU03O6",
                    "livemode": false,
                    "metadata": {
                    },
                    "period": {
                      "end": 1543309597,
                      "start": 1543309597
                    },
                    "plan": null,
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "invoiceitem"
                  },
                  {
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_E38oY26elm716k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_E38oY26elm716k?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems/ii_1Db2We2sOmf47Nz9bhEDhqwi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1Db2We2sOmf47Nz9bhEDhqwi",
          "object": "invoiceitem",
          "amount": 1500,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1543309596,
          "description": "FORM1+ imprimante 3D November 27, 2018 13:00 - 02:00 PM",
          "discountable": true,
          "invoice": "in_1Db2Wi2sOmf47Nz9CEnIfv0R",
          "livemode": false,
          "metadata": {
          },
          "period": {
            "start": 1543309596,
            "end": 1543309596
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 1500
        }
  recorded_at: Tue, 27 Nov 2018 09:06:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems/ii_1Db2We2sOmf47Nz9bhEDhqwi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1Db2We2sOmf47Nz9bhEDhqwi",
          "object": "invoiceitem",
          "amount": 1500,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1543309596,
          "description": "FORM1+ imprimante 3D November 27, 2018 13:00 - 02:00 PM",
          "discountable": true,
          "invoice": "in_1Db2Wi2sOmf47Nz9CEnIfv0R",
          "livemode": false,
          "metadata": {
          },
          "period": {
            "start": 1543309596,
            "end": 1543309596
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 1500
        }
  recorded_at: Tue, 27 Nov 2018 09:06:46 GMT
recorded_with: VCR 3.0.1
