---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1EDuKm2sOmf47Nz9QU6dYWRy",
          "object": "token",
          "card": {
            "id": "card_1EDuKm2sOmf47Nz9IykxXatq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.130.7",
          "created": 1552572900,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Mar 2019 14:15:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8CzKe50I0J1gaI&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1DvQQg2sOmf47Nz9jPhO6Pvd",
              "object": "invoiceitem",
              "amount": 1000,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1548168042,
              "description": "FORM1+ imprimante 3D January 22, 2019 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1DvQQi2sOmf47Nz90w1stAGn",
              "livemode": false,
              "metadata": {
              },
              "period": {
                "end": 1548168042,
                "start": 1548168042
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": 1000
            },
            {
              "id": "ii_1DvQQf2sOmf47Nz9BoMHx3UD",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1548168041,
              "description": "FORM1+ imprimante 3D January 22, 2019 13:00 - 02:00 PM",
              "discountable": true,
              "invoice": "in_1DvQQi2sOmf47Nz90w1stAGn",
              "livemode": false,
              "metada[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI&amount=0&currency=usd&description=Formation+Imprimante+3D+March+15%2C+2019+07%3A00+-+11%3A00+AM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1EDuKp2sOmf47Nz9zHNAHoYS",
          "object": "invoiceitem",
          "amount": 0,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1552572903,
          "description": "Formation Imprimante 3D March 15, 2019 07:00 - 11:00 AM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1552572903,
            "start": 1552572903
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 0
        }
  recorded_at: Thu, 14 Mar 2019 14:15:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzKe50I0J1gaI",
          "object": "customer",
          "account_balance": 0,
          "created": 1459782643,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "Kevin Dumas",
          "discount": null,
          "email": "kevin.dumas@orange.fr",
          "invoice_prefix": "CAA9D6C",
          "invoice_settings": {
            "custom_fields": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 14 Mar 2019 14:15:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1EDuKq2sOmf47Nz91gfmqKKi",
          "object": "invoice",
          "amount_due": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": true,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "closed": false,
          "created": 1552572904,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1552572904,
          "default_source": null,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "finalized_at": null,
          "footer": null,
          "forgiven": false,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1EDuKp2sOmf47Nz9zHNAHoYS",
                "object": "line_item",
                "amount": 0,
                "currency": "usd",
                "description": "Formation Imprimante 3D March 15, 2019 07:00 - 11:00 AM",
                "discountable": true,
                "invoice_item": "ii_1EDuKp2sOmf47Nz9zHNAHoYS",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1552572903,
                  "start": 1552572903
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1EDuKq2sOmf47Nz91gfmqKKi/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": 1552576504,
          "number": "CAA9D6C-0027",
          "paid": false,
          "period_end": 1552572904,
          "period_start": 1552572904,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subtotal": 0,
          "tax": null,
          "tax_percent": null,
          "total": 0,
          "webhooks_delivered_at": null
        }
  recorded_at: Thu, 14 Mar 2019 14:15:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1EDuKq2sOmf47Nz91gfmqKKi/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-[...]
