---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BYyTn2sOmf47Nz9LTDfT8V0",
          "object": "token",
          "card": {
            "id": "card_1BYyTn2sOmf47Nz9GS7ahF4Z",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1513264715,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Dec 2017 15:18:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8Di1wjdVktv5kt&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1BYyTK2sOmf47Nz93VzSjIeZ",
              "object": "invoiceitem",
              "amount": -675,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1513264686,
              "description": "coupon SUNNYFABLAB",
              "discountable": false,
              "invoice": "in_1BYyTO2sOmf47Nz952qqhaQ0",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1513264686,
                "end": 1513264686
              },
              "plan": null,
              "proration": false,
              "quantity": null,
              "subscription": null
            },
            {
              "id": "ii_1BYyTJ2sOmf47Nz9zcESvCJe",
              "object": "invoiceitem",
              "amount": 1500,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1513264685,
              "description": "FORM1+ imprimante 3D December 10, 2017 13:00 - 02:00 PM",
              "discountable": true,
              "invoice": "in_1BYyTO2sOmf47Nz952qqhaQ0",
              "livemode": false,
              "me[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&amount=5100&currency=usd&description=Formation+Imprimante+3D+December+11%2C+2017+07%3A00+-+08%3A00+AM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1BYyTp2sOmf47Nz9ukiXGo41",
          "object": "invoiceitem",
          "amount": 5100,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1513264717,
          "description": "Formation Imprimante 3D December 11, 2017 07:00 - 08:00 AM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1513264717,
            "end": 1513264717
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Thu, 14 Dec 2017 15:18:37 GMT
recorded_with: VCR 3.0.1
