---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1EefT62sOmf47Nz9Xhpr2u9O
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1EefT62sOmf47Nz9Xhpr2u9O",
          "object": "invoice",
          "account_country": "FR",
          "account_name": "Sleede",
          "amount_due": 3825,
          "amount_paid": 3825,
          "amount_remaining": 0,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "auto_advance": false,
          "billing": "charge_automatically",
          "billing_reason": "subscription_update",
          "charge": "ch_1EefT72sOmf47Nz9RbDqVNMh",
          "closed": true,
          "collection_method": "charge_automatically",
          "created": 1558950612,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_8Di1wjdVktv5kt",
          "customer_address": null,
          "customer_email": "jean.dupond@gmail.com",
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [

          ],
          "date": 1558950612,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": 0,
          "finalized_at": 1558950612,
          "footer": null,
          "forgiven": false,
          "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_tRlH8WS57zgywyjyWhebhNr909",
          "invoice_pdf": "https://pay.stripe.com/invoice/invst_tRlH8WS57zgywyjyWhebhNr909/pdf",
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1EefT32sOmf47Nz9FaCNtArw",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "invoice_item": "ii_1EefT32sOmf47Nz9FaCNtArw",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1558950609,
                  "start": 1558950609
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              },
              {
                "id": "ii_1EefT22sOmf47Nz9zcpt69Dh",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D May 27, 2019 14:00 - 03:00 PM",
                "discountable": true,
                "invoice_item": "ii_1EefT22sOmf47Nz9zcpt69Dh",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1558950608,
                  "start": 1558950608
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              },
              {
                "id": "sub_F8xNkdzsupfY1C",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1561629012,
                  "start": 1558950612
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_F8xNStN1HHsdPQ",
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "subscription",
                "unique_line_item_id": "sli_52e793865f8303"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1EefT62sOmf47Nz9Xhpr2u9O/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "C0E661C-0065",
          "paid": true,
          "payment_intent": "pi_1EefT62sOmf47Nz95pGzoiSw",
          "period_end": 1558950612,
          "period_start": 1558950612,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "paid",
          "status_transitions": {
            "finalized_at": 1558950612,
            "marked_uncollectible_at": null,
            "paid_at": 1558950613,
            "voided_at": null
          },
          "subscription": "sub_F8xNkdzsupfY1C",
          "subtotal": 3825,
          "tax": null,
          "tax_percent": null,
          "total": 3825,
          "total_tax_amounts": [

          ],
          "webhooks_delivered_at": 1558950614
        }
  recorded_at: Mon, 27 May 2019 09:50:21 GMT
recorded_with: VCR 3.0.1
