---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1BYyTO2sOmf47Nz952qqhaQ0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1BYyTO2sOmf47Nz952qqhaQ0",
          "object": "invoice",
          "amount_due": 3825,
          "application_fee": null,
          "attempt_count": 1,
          "attempted": true,
          "billing": "charge_automatically",
          "charge": "ch_1BYyTO2sOmf47Nz99247G4T5",
          "closed": true,
          "currency": "usd",
          "customer": "cus_8Di1wjdVktv5kt",
          "date": 1513264690,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": 0,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1BYyTK2sOmf47Nz93VzSjIeZ",
                "object": "line_item",
                "amount": -675,
                "currency": "usd",
                "description": "coupon SUNNYFABLAB",
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1513264686,
                  "end": 1513264686
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1BYyTJ2sOmf47Nz9zcESvCJe",
                "object": "line_item",
                "amount": 1500,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D December 10, 2017 13:00 - 02:00 PM",
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1513264685,
                  "end": 1513264685
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "sub_BwsD5zY39xMYcO",
                "object": "line_item",
                "amount": 3000,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1513264690,
                  "end": 1515943090
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "subscription_item": "si_BwsD3JfMx4qtyf",
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/invoices/in_1BYyTO2sOmf47Nz952qqhaQ0/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": "d4cc0e661c-0011",
          "paid": true,
          "period_end": 1513264690,
          "period_start": 1513264564,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": "sub_BwsD5zY39xMYcO",
          "subtotal": 3825,
          "tax": null,
          "tax_percent": null,
          "total": 3825,
          "webhooks_delivered_at": 1513264691
        }
  recorded_at: Thu, 14 Dec 2017 15:18:19 GMT
recorded_with: VCR 3.0.1
