---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1Dfpt02sOmf47Nz9ninLh5F2",
          "object": "token",
          "card": {
            "id": "card_1Dfpsz2sOmf47Nz9BiAqKc7c",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "92.157.28.112",
          "created": 1544452650,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 10 Dec 2018 14:37:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8CzKe50I0J1gaI&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1Dfpsv2sOmf47Nz96aaFa9ik",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1544452645,
              "description": "Formation Imprimante 3D December 11, 2018 07:00 - 11:00 AM",
              "discountable": true,
              "invoice": "in_1Dfpsx2sOmf47Nz9T6WWmtWn",
              "livemode": false,
              "metadata": {
              },
              "period": {
                "end": 1544452645,
                "start": 1544452645
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "unit_amount": 0
            },
            {
              "id": "ii_1DfoYT2sOmf47Nz9CXCi8L25",
              "object": "invoiceitem",
              "amount": 1000,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1544447533,
              "description": "FORM1+ imprimante 3D December 10, 2018 14:00 - 03:00 PM",
              "discountable": true,
              "invoice": "in_1DfoYW2sOmf47Nz9hfccaOCx",
              "livemode": false,
              "metad[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI&amount=0&currency=usd&description=FORM1%2B+imprimante+3D+December+10%2C+2018+13%3A00+-+02%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1Dfpt22sOmf47Nz9DXbmmXUE",
          "object": "invoiceitem",
          "amount": 0,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1544452652,
          "description": "FORM1+ imprimante 3D December 10, 2018 13:00 - 02:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1544452652,
            "start": 1544452652
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "unit_amount": 0
        }
  recorded_at: Mon, 10 Dec 2018 14:37:32 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzKe50I0J1gaI",
          "object": "customer",
          "account_balance": 0,
          "created": 1459782643,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "Kevin Dumas",
          "discount": null,
          "email": "kevin.dumas@orange.fr",
          "invoice_prefix": "CAA9D6C",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 10 Dec 2018 14:37:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources
    body:
      encoding: UTF-8
      string: card=tok_1Dfpt02sOmf47Nz9ninLh5F2
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1Dfpsz2sOmf47Nz9BiAqKc7c",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8CzKe50I0J1gaI",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2019,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 10 Dec 2018 14:37:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1Dfpt62sOmf47Nz94kN4p6fH",
          "object": "invoice",
          "amount_due": 1000,
          "amount_paid": 0,
          "amount_remaining": 1000,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": true,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1544452656,
          "default_source": null,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "finalized_at": null,
          "forgiven": false,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1Dfpt32sOmf47Nz9WK0i4HHi",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D December 10, 2018 14:00 - 03:00 PM",
                "discountable": true,
                "invoice_item": "ii_1Dfpt32sOmf47Nz9WK0i4HHi",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1544452653,
                  "start": 1544452653
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              },
              {
                "id": "ii_1Dfpt22sOmf47Nz9DXbmmXUE",
                "object": "line_item",
                "amount": 0,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D December 10, 2018 13:00 - 02:00 PM",
                "discountable": true,
                "invoice_item": "ii_1Dfpt22sOmf47Nz9DXbmmXUE",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1544452652,
                  "start": 1544452652
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 2,
            "url": "/v1/invoices/in_1Dfpt62sOmf47Nz94kN4p6fH/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": 1544456256,
          "number": "CAA9D6C-0018",
          "paid": false,
          "payment_intent": null,
          "period_end": 1544452656,
          "period_start": 1544452656,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "subscription": null,
          "subtotal": 1000,
          "tax": 0,
          "tax_percent": null,
          "total": 1000,
          "webhooks_delivered_at": null
        }
  recorded_at: Mon, 10 Dec 2018 14:37:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1Dfpt62sOmf47Nz94kN4p6fH/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources/card_1Dfpsz2sOmf47Nz9BiAqKc7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1Dfpsz2sOmf47Nz9BiAqKc7c",
          "object": "card",
          "deleted": true
        }
  recorded_at: Mon, 10 Dec 2018 14:37:39 GMT
recorded_with: VCR 3.0.1
