---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1J19Bi2sOmf47Nz9O7ZqNddc",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "xsVM9Mfv9kfwhRSL",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1623413414,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Fri, 11 Jun 2021 12:10:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1J19Bi2sOmf47Nz9O7ZqNddc&amount=3200&currency=usd&confirmation_method=manual&confirm=true&customer=cus_8Di1wjdVktv5kt
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1J19Bj2sOmf47Nz9n99oJJbD",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_1J19Bi2sOmf47Nz9SGiyMLkI",
              "object": "payment_intent",
              "amount": 3200,
              "amount_capturable": 0,
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_1J19Bj2sOmf47Nz9n99oJJbD",
                    "object": "charge",
                    "amount": 3200,
                    "amount_captured": 0,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": null,
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": null,
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": "Stripe",
                    "captured": false,
                    "created": 1623413415,
                    "currency": "usd",
                    "customer": "cus_8Di1wjdVktv5kt",
                    "description": null,
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_code": "card_declined",
                    "failure_message": "Your card was declined.",
                    "fraud_details": {
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "declined_by_network",
                      "reason": "generic_decline",
                      "risk_level": "normal",
                      "risk_score": 28,
                      "seller_message": "The bank did not return any further details with this decline.",
                      "type": "issuer_declined"
                    },
                    "paid": false,
                    "payment_intent": "pi_1J19Bi2sOmf47Nz9SGiyMLkI",
                    "payment_method": "pm_1J19Bi2sOmf47Nz9O7ZqNddc",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": "pass"
                        },
                        "country": "US",
                        "exp_month": 4,
                        "exp_year": 2022,
                        "fingerprint": "xsVM9Mfv9kfwhRSL",
                        "funding": "credit",
                        "installments": null,
                        "last4": "0002",
                        "network": "visa",
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": null,
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_1J19Bj2sOmf47Nz9n99oJJbD/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": null,
                    "status": "failed",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_1J19Bi2sOmf47Nz9SGiyMLkI"
              },
              "client_secret": "pi_1J19Bi2sOmf47Nz9SGiyMLkI_secret_uWpiwOiTPrRaljspJWKFTDblC",
              "confirmation_method": "manual",
              "created": 1623413414,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "description": null,
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_1J19Bj2sOmf47Nz9n99oJJbD",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_1J19Bi2sOmf47Nz9O7ZqNddc",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
     [...]
