---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BYySu2sOmf47Nz9OFoj8wmr",
          "object": "token",
          "card": {
            "id": "card_1BYySu2sOmf47Nz97I4Dfiar",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1513264660,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Dec 2017 15:17:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_8CzKe50I0J1gaI&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_1BYySE2sOmf47Nz9sEPH6aQI",
              "object": "invoiceitem",
              "amount": 0,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1513264618,
              "description": "Formation Imprimante 3D December 11, 2017 07:00 - 11:00 AM",
              "discountable": true,
              "invoice": "in_1BYySH2sOmf47Nz9oxZt98nG",
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1513264618,
                "end": 1513264618
              },
              "plan": null,
              "proration": false,
              "quantity": null,
              "subscription": null
            },
            {
              "id": "ii_1B3L1K2sOmf47Nz9qJv9M20Q",
              "object": "invoiceitem",
              "amount": 1000,
              "currency": "usd",
              "customer": "cus_8CzKe50I0J1gaI",
              "date": 1505724866,
              "description": "FORM1+ imprimante 3D September 17, 2017 15:00 - 04:00 PM",
              "discountable": true,
              "invoice": "in_1B3L1P2sOmf47Nz9jJ905GpU",
              "livemode": false,
              "m[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI&amount=0&currency=usd&description=FORM1%2B+imprimante+3D+December+10%2C+2017+13%3A00+-+02%3A00+PM
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1BYySw2sOmf47Nz9KRWFUWF2",
          "object": "invoiceitem",
          "amount": 0,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1513264662,
          "description": "FORM1+ imprimante 3D December 10, 2017 13:00 - 02:00 PM",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1513264662,
            "end": 1513264662
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Thu, 14 Dec 2017 15:17:42 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8CzKe50I0J1gaI",
          "object": "customer",
          "account_balance": 0,
          "created": 1459782643,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "Kevin Dumas",
          "discount": null,
          "email": "kevin.dumas@orange.fr",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8CzKe50I0J1gaI/subscriptions"
          }
        }
  recorded_at: Thu, 14 Dec 2017 15:17:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources
    body:
      encoding: UTF-8
      string: card=tok_1BYySu2sOmf47Nz9OFoj8wmr
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1BYySu2sOmf47Nz97I4Dfiar",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8CzKe50I0J1gaI",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2018,
          "fingerprint": "o52jybR7bnmNn6AT",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 14 Dec 2017 15:17:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_8CzKe50I0J1gaI
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1BYyT12sOmf47Nz9Z3r4gEjJ",
          "object": "invoice",
          "amount_due": 1000,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "billing": "charge_automatically",
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8CzKe50I0J1gaI",
          "date": 1513264667,
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1BYySx2sOmf47Nz9wGkamKx1",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "FORM1+ imprimante 3D December 10, 2017 14:00 - 03:00 PM",
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1513264663,
        [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1BYyT12sOmf47Nz9Z3r4gEjJ/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      s[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8CzKe50I0J1gaI/sources/card_1BYySu2sOmf47Nz97I4Dfiar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "card_1BYySu2sOmf47Nz97I4Dfiar"
        }
  recorded_at: Thu, 14 Dec 2017 15:17:50 GMT
recorded_with: VCR 3.0.1
