---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JZDIE2sOmf47Nz941MJycRQ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1631532346,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Mon, 13 Sep 2021 11:25:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1JZDIE2sOmf47Nz941MJycRQ/attach
    body:
      encoding: UTF-8
      string: customer=cus_8E2ys9zDZgetWX
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Str[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JZDIE2sOmf47Nz941MJycRQ
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8E2ys9zDZgetWX",
          "object": "customer",
          "account_balance": -10174,
          "address": null,
          "balance": -10174,
          "created": 1460026822,
          "currency": "usd",
          "default_source": "card_1Euc902sOmf47Nz9eZvNNyyQ",
          "delinquent": false,
          "description": "Lucile Seguin",
          "discount": null,
          "email": "lucile.seguin@live.fr",
          "invoice_prefix": "BCC32B8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1JZDIE2sOmf47Nz941MJycRQ",
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 441,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Euc902sOmf47Nz9eZvNNyyQ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8E2ys9zDZgetWX",
                "cvc_check": "unchecked",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2020,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_KDeOOxKFukSOFq",
                "object": "subscription",
                "application_fee_percent": null,
                "automatic_tax": {
                  "enabled": false
                },
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1631531544,
                "billing_thresholds": null,
                "cancel_at": 1663067542,
                "cancel_at_period_end": false,
                "canceled_at": 1631531544,
                "collection_method": "charge_automatically",
                "created": 1631531544,
                "current_period_end": 1634123544,
                "current_period_start": 1631531544,
                "customer": "cus_8E2ys9zDZgetWX",
                "days_until_due": null,
                "default_payment_method": "pm_1JZD5E2sOmf47Nz9spRv1Hzv",
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "invoice_customer_balance_settings": {
                  "consume_applied_balance_on_void": true
                },
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_KDeO7ibOLIHrd2",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1631531545,
                      "metadata": {
                      },
                      "plan": {
                        "id": "price_1JZD5H2sOmf47Nz9RE9xYVzW",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 9466,
                        "amount_decimal": "9466",
                        "billing_scheme": "per_unit",
                        "created": 1631531543,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": null,
                        "product": "prod_IZQAhb9nLu4jfN",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "price": {
                        "id": "price_1JZD5H2sOmf47Nz9RE9xYVzW",
                        "object": "price",
                        "active": true,
                        "billing_scheme": "per_unit",
                        "created": 1631531543,
                        "currency": "usd",
                        "livemode": false,
                        "lookup_key": null,
                        "metadata": {
                        },
                        "nickname": null,
                        "product": "prod_IZQAhb9nLu4jfN",
                        "recurring": {
                          "aggregate_usage": null,
                          "interval": "month",
                          "interval_count": 1,
                          "trial_period_days": null,
                          "usage_type": "licensed"
                        },
                        "tax_behavior": "unspecified",
                        "tiers_mode": null,
                        "transform_quantity": null,
                        "type": "recurring",
                        "unit_amount": 9466,
                        "unit_amount_decimal": "9466"
                      },
                      "quantity": 1,
                      "subscription": "sub_KDeOOxKFukSOFq",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_KDeOOxKFukSOFq"
                },
                "latest_invoice": "in_1JZD5I2sOmf47Nz9JNfjxEpM",
                "livemode": false,
                "metadata": {
                },
                "next_pending_invoice_item_invoice": null,
                "pause_collection": null,
                "payment_settings": {
                  "payment_method_options": null,
                  "payment_method_types": null
                },
                "pending_invoice_item_interval": null,
                "pending_setup_intent": null,
                "pending_update": null,
                "plan": {
                  "id": "price_1JZD5H2sOmf47Nz9RE9xYVzW",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 9466,
                  "amount_decimal": "9466",
                  "billing_scheme": "per_unit",
                  "created": 1631531543,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_IZQAhb9nLu4jfN",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1631531544,
                "start_date": 1631531544,
                "status": "active",
                "tax_percent": null,
                "transfer_data": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_KDeL49sskbLJn5",
                "object": "subscription",
                "application_fee_percent": null,
                "automatic_tax": {
                  "enabled": false
                },
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1631531384,
                "billing_thresholds": null,
                "cancel_at": 1663067382,
                "cancel_at_period_end": false,
  [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=9466&currency=usd&product=prod_IZQAhb9nLu4jfN&recurring[interval]=month&recurring[interval_count]=1
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "price_1JZDII2sOmf47Nz9Wb0IfchE",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1631532350,
          "currency": "usd",
          "livemode": false,
          "lookup_key": null,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_IZQAhb9nLu4jfN",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 9466,
          "unit_amount_decimal": "9466"
        }
  recorded_at: Mon, 13 Sep 2021 11:25:50 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_8E2ys9zDZgetWX&cancel_at=1663068348&add_invoice_items[0][price]=price_1JZDII2sOmf47Nz9mrvLMUVX&items[0][price]=price_1JZDII2sOmf47Nz9Wb0IfchE&default_payment_method=pm_1JZDIE2sOmf47Nz941MJycRQ&expand[0]=latest_invoice.payment_intent
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-for[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_KDebaXSRtYU9Pw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    bod[...]
[...]
