---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2023&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f35e1243-3373-4c8a-b489-941ab090e32a
      Original-Request:
      - req_6m9f3nj5nuWQk9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1LwqVT2sOmf47Nz9JSw0Rtly",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2023,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1666717299,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 25 Oct 2022 17:01:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1LwqVT2sOmf47Nz9JSw0Rtly&amount=500&currency=usd&confirmation_method=manual&confirm=true&customer=cus_IhIynmoJbzLpwX
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a7152ff2-3b76-46d6-8cfa-60979a27e592
      Original-Request:
      - req_8ymsTfLVq6gYs5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3LwqVU2sOmf47Nz91iSEP5Kz",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_3LwqVU2sOmf47Nz91Twrth0m",
                "object": "charge",
                "amount": 500,
                "amount_captured": 500,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_3LwqVU2sOmf47Nz9170kBflD",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": true,
                "created": 1666717300,
                "currency": "usd",
                "customer": "cus_IhIynmoJbzLpwX",
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {},
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 22,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_3LwqVU2sOmf47Nz91iSEP5Kz",
                "payment_method": "pm_1LwqVT2sOmf47Nz9JSw0Rtly",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 4,
                    "exp_year": 2023,
                    "fingerprint": "o52jybR7bnmNn6AT",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "mandate": null,
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xMDNyRTYyc09tZjQ3Tno5KPWs4JoGMgbJTvRAJtU6LBbJYFh6FJvH_a5RzUPRqsu57K44IOuXb8Or12WKgAyL7TIX_J3zBZvUJhl1",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_3LwqVU2sOmf47Nz91Twrth0m/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_3LwqVU2sOmf47Nz91iSEP5Kz"
          },
          "client_secret": "pi_3LwqVU2sOmf47Nz91iSEP5Kz_secret_G8gooGGZf0UBUH5BNUxvHG8vt",
          "confirmation_method": "manual",
          "created": 1666717300,
          "currency": "usd",
          "customer": "cus_IhIynmoJbzLpwX",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1LwqVT2sOmf47Nz9JSw0Rtly",
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 25 Oct 2022 17:01:41 GMT
recorded_with: VCR 6.0.0
