---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17xeZp2sOmf47Nz9U7isup9R",
          "object": "token",
          "card": {
            "id": "card_17xeZp2sOmf47Nz9Nw38pLma",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2017,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.52.157.226",
          "created": 1460041065,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 07 Apr 2016 14:57:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8E2ys9zDZgetWX",
          "object": "customer",
          "account_balance": 0,
          "created": 1460026822,
          "currency": "usd",
          "default_source": "card_17xdxN2sOmf47Nz9eyRuY12a",
          "delinquent": false,
          "description": "Lucile Seguin",
          "discount": null,
          "email": "lucile.seguin@live.fr",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17xdxN2sOmf47Nz9eyRuY12a",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8E2ys9zDZgetWX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8E694MZ1FBtXBg",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1462630683,
                "current_period_start": 1460038683,
                "customer": "cus_8E2ys9zDZgetWX",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1460038683,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_8E67Z0lSjjVxBn",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1462630527,
                "current_period_start": 1460038527,
                "customer": "cus_8E2ys9zDZgetWX",
                "discount": null,
                "ended_at": null,
                "metad[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&card=tok_17xeZp2sOmf47Nz9U7isup9R
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Strip[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8E2ys9zDZgetWX&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17xeZr2sOmf47Nz9JTOtgIXv",
              "object": "invoice",
              "amount_due": 3000,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17xeZr2sOmf47Nz9KgHCuwK0",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8E2ys9zDZgetWX",
              "date": 1460041067,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8E6nlabIu0FNDK",
                    "object": "line_item",
                    "amount": 3000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1460041067,
                      "end": 1462633067
                    },
                    "plan": {
                      "id": "mensuel-standard-month-20160404171519",
                      "object": "plan",
                      "amount": 3000,
                      "created": 1459782921,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Mensuel - standard, association - month",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17xeZr2sOmf47Nz9JTOtgIXv/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1460041067,
              "period_start": 1460038527,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8E6nlabIu0FNDK",
              "subtotal": 3000,
              "tax": null,
              "tax_percent": null,
              "total": 3000,
              "webhooks_delivered_at": 1460041067
            }
          ],
          "has_more": true,
          "url": "/v1/invoices"
        }
  recorded_at: Thu, 07 Apr 2016 14:57:48 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_8E6nlabIu0FNDK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_8E6nlabIu0FNDK?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mGokO9TGtrVxMOyK4yZiktBE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'[...]
