---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1EefSa2sOmf47Nz9WBpPlA0c",
          "object": "token",
          "card": {
            "id": "card_1EefSa2sOmf47Nz9fJB1a6WH",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.7.77.53",
          "created": 1558950580,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 27 May 2019 09:49:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8E2ys9zDZgetWX",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "created": 1460026822,
          "currency": "usd",
          "default_source": "card_1EFM2S2sOmf47Nz9NQ2uq5PQ",
          "delinquent": false,
          "description": "Lucile Seguin",
          "discount": null,
          "email": "lucile.seguin@live.fr",
          "invoice_prefix": "BCC32B8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1EFM2S2sOmf47Nz9NQ2uq5PQ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8E2ys9zDZgetWX",
                "cvc_check": "unchecked",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2020,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_E84hFvNBlPia7R",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1544447514,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "collection_method": "charge_automatically",
                "created": 1544447514,
                "current_period_end": 1560172314,
                "current_period_start": 1557493914,
                "customer": "cus_8E2ys9zDZgetWX",
                "days_until_due": null,
                "default_payment_method": null,
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_E84hhZgnjOkD73",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1544447515,
                      "metadata": {
                      },
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "billing_scheme": "per_unit",
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Mensuel - standard, association - month",
                        "nickname": null,
                        "product": "prod_BV0emghsuiUJDn",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_E84hFvNBlPia7R",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_E84hFvNBlPia7R"
                },
                "latest_invoice": "in_1EYYW42sOmf47Nz9J3qMq5x5",
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1544447514,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 27 May 2019 09:49:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&source=tok_1EefSa2sOmf47Nz9WBpPlA0c
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Conte[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8E2ys9zDZgetWX&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1EefSc2sOmf47Nz9yMhK8jXF",
              "object": "invoice",
              "account_country": "FR",
              "account_name": "Sleede",
              "amount_due": 3000,
              "amount_paid": 3000,
              "amount_remaining": 0,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "auto_advance": false,
              "billing": "charge_automatically",
              "billing_reason": "subscription_update",
              "charge": "ch_1EefSd2sOmf47Nz9UdRDeewU",
              "closed": true,
              "collection_method": "charge_automatically",
              "created": 1558950582,
              "currency": "usd",
              "custom_fields": null,
              "customer": "cus_8E2ys9zDZgetWX",
              "customer_address": null,
              "customer_email": "lucile.seguin@live.fr",
              "customer_name": null,
              "customer_phone": null,
              "customer_shipping": null,
              "customer_tax_exempt": "none",
              "customer_tax_ids": [

              ],
              "date": 1558950582,
              "default_payment_method": null,
              "default_source": null,
              "default_tax_rates": [

              ],
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "finalized_at": 1558950582,
              "footer": null,
              "forgiven": false,
              "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_n7eamzTtlVoc15RYJFNtojwajU",
              "invoice_pdf": "https://pay.stripe.com/invoice/invst_n7eamzTtlVoc15RYJFNtojwajU/pdf",
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_F8xNG6TPEHaYqd",
                    "object": "line_item",
                    "amount": 3000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                    },
                    "period": {
                      "end": 1561628982,
                      "start": 1558950582
                    },
                    "plan": {
                      "id": "mensuel-standard-month-20160404171519",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 3000,
                      "billing_scheme": "per_unit",
                      "created": 1459782921,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {
                      },
                      "name": "Mensuel - standard, association - month",
                      "nickname": null,
                      "product": "prod_BV0emghsuiUJDn",
                      "statement_descriptor": null,
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "subscription_item": "si_F8xNSTd3EaqZ7c",
                    "tax_amounts": [

                    ],
                    "tax_rates": [

                    ],
                    "type": "subscription",
                    "unique_line_item_id": "sli_974650301008c5"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1EefSc2sOmf47Nz9yMhK8jXF/lines"
              },
              "livemode": false,
              "metadata": {
              },
              "next_payment_attempt": null,
              "number": "BCC32B8-0029",
              "paid": true,
              "payment_intent": "pi_1EefSc2sOmf47Nz98DIGnpgl",
              "period_end": 1558950582,
              "period_start": 1558950582,
              "post_payment_credit_notes_amount": 0,
              "pre_payment_credit_notes_amount": 0,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "status": "paid",
              "status_transitions": {
                "finalized_at": 1558950582,
                "marked_uncollectible_at": null,
                "paid_at": 1558950583,
                "voided_at": null
              },
              "subscription": "sub_F8xNG6TPEHaYqd",
              "subtotal": 3000,
              "tax": null,
              "tax_percent": null,
              "total": 3000,
              "total_tax_amounts": [

              ],
              "webhooks_delivered_at": 1558950584
            }
          ],
          "has_more": true,
          "url": "/v1/invoices"
        }
  recorded_at: Mon, 27 May 2019 09:49:45 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_F8xNG6TPEHaYqd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_F8xNG6TPEHaYqd?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
[...]
