---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_17xGjJ2sOmf47Nz9UrQOP8Cl",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17xGjJ2sOmf47Nz9UrQOP8Cl",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8Di9gqPLwt5IIC",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": true,
                "canceled_at": 1459949404,
                "current_period_end": 1462541399,
                "current_period_start": 1459949399,
                "customer": "cus_8Di1wjdVktv5kt",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1459949399,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_8Di2VadRvr7A99",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": true,
                "canceled_at": 1459948972,
                "current_period_end": 1462540968,
                "current_period_start": 1459948968,
                "customer": "cus_8Di1wjdVktv5kt",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1459948968,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 2,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/subscriptions"
          }
        }
  recorded_at: Wed, 06 Apr 2016 16:16:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8Di1wjdVktv5kt&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17xJKM2sOmf47Nz9wOmb9YSB",
              "object": "invoice",
              "amount_due": 3000,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17xJKM2sOmf47Nz9huANudcu",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1459959382,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8DkqBcR1bQvr5G",
                    "object": "line_item",
                    "amount": 3000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1459959382,
                      "end": 1462551382
                    },
                    "plan": {
                      "id": "mensuel-standard-month-20160404171519",
                      "object": "plan",
                      "amount": 3000,
                      "created": 1459782921,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Mensuel - standard, association - month",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17xJKM2sOmf47Nz9wOmb9YSB/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1459959382,
              "period_start": 1459948968,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8DkqBcR1bQvr5G",
              "subtotal": 3000,
              "tax": null,
              "tax_percent": null,
              "total": 3000,
              "webhooks_delivered_at": 1459959382
            }
          ],
          "has_more": true,
          "url": "/v1/invoices"
        }
  recorded_at: Wed, 06 Apr 2016 16:16:23 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_8DkqBcR1bQvr5G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_8DkqBcR1bQvr5G?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'[...]
