---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BYyRi2sOmf47Nz9FXI1a7iw",
          "object": "token",
          "card": {
            "id": "card_1BYyRi2sOmf47Nz9yj9PfHSf",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.59.71",
          "created": 1513264586,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Dec 2017 15:16:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8E2ys9zDZgetWX",
          "object": "customer",
          "account_balance": 0,
          "created": 1460026822,
          "currency": "usd",
          "default_source": "card_1BYyQ32sOmf47Nz9BKCE2qig",
          "delinquent": false,
          "description": "Lucile Seguin",
          "discount": null,
          "email": "lucile.seguin@live.fr",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BYyQ32sOmf47Nz9BKCE2qig",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8E2ys9zDZgetWX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BwsAa2guSea26d",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": true,
                "canceled_at": 1513264490,
                "created": 1513264485,
                "current_period_end": 1515942885,
                "current_period_start": 1513264485,
                "customer": "cus_8E2ys9zDZgetWX",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_BwsA4akiGbwgjQ",
                      "object": "subscription_item",
                      "created": 1513264486,
                      "metadata": {},
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "amount": 3000,
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Mensuel - standard, association - month",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BwsAa2guSea26d"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "amount": 3000,
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Mensuel - standard, association - month",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1513264485,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/subscriptions"
          }
        }
  recorded_at: Thu, 14 Dec 2017 15:16:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&source=tok_1BYyRi2sOmf47Nz9FXI1a7iw
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Str[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8E2ys9zDZgetWX&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1BYyRk2sOmf47Nz9OeJkiInX",
              "object": "invoice",
              "amount_due": 3000,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "billing": "charge_automatically",
              "charge": "ch_1BYyRk2sOmf47Nz9WCksZwu0",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8E2ys9zDZgetWX",
              "date": 1513264588,
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_BwsC7mpO1zykq5",
                    "object": "line_item",
                    "amount": 3000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1513264588,
                      "end": 1515942988
                    },
                    "plan": {
                      "id": "mensuel-standard-month-20160404171519",
                      "object": "plan",
                      "amount": 3000,
                      "created": 1459782921,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Mensuel - standard, association - month",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "subscription_item": "si_BwsCrtfXVwhf6B",
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1BYyRk2sOmf47Nz9OeJkiInX/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "number": "737bcc32b8-0011",
              "paid": true,
              "period_end": 1513264588,
              "period_start": 1513264485,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_BwsC7mpO1zykq5",
              "subtotal": 3000,
              "tax": null,
              "tax_percent": null,
              "total": 3000,
              "webhooks_delivered_at": 1513264589
            }
          ],
          "has_more": true,
          "url": "/v1/invoices"
        }
  recorded_at: Thu, 14 Dec 2017 15:16:30 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_BwsC7mpO1zykq5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_BwsC7mpO1zykq5?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'[...]
