---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1DsTqo2sOmf47Nz9Zz27SZ6R",
          "object": "token",
          "card": {
            "id": "card_1DsTqo2sOmf47Nz9hKOB4d5U",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.130.7",
          "created": 1547466210,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 14 Jan 2019 11:43:30 GMT
recorded_with: VCR 3.0.1
