---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "seti_1J19Ab2sOmf47Nz9h2tL8C07",
          "object": "setup_intent",
          "application": null,
          "cancellation_reason": null,
          "client_secret": "seti_1J19Ab2sOmf47Nz9h2tL8C07_secret_JeS401DqKAd2VXxeMxzsxTpnaO6MeEt",
          "created": 1623413345,
          "customer": "cus_8Di1wjdVktv5kt",
          "description": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Fri, 11 Jun 2021 12:09:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1J19Ab2sOmf47Nz9nz3zz3IE",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1623413345,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Fri, 11 Jun 2021 12:09:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_1J19Ab2sOmf47Nz9h2tL8C07/confirm
    body:
      encoding: UTF-8
      string: payment_method=pm_1J19Ab2sOmf47Nz9nz3zz3IE
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicatio[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_1J19Ab2sOmf47Nz9h2tL8C07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-[...]
