---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1DsTqz2sOmf47Nz9aqTmFWFJ",
          "object": "token",
          "card": {
            "id": "card_1DsTqz2sOmf47Nz9SJ6KY7v9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "90.112.130.7",
          "created": 1547466221,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 14 Jan 2019 11:43:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8E2ys9zDZgetWX",
          "object": "customer",
          "account_balance": 0,
          "created": 1460026822,
          "currency": "usd",
          "default_source": "card_1DgDAh2sOmf47Nz9jxDWEvnO",
          "delinquent": false,
          "description": "Lucile Seguin",
          "discount": null,
          "email": "lucile.seguin@live.fr",
          "invoice_prefix": "BCC32B8",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1DgDAh2sOmf47Nz9jxDWEvnO",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8E2ys9zDZgetWX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_E84hFvNBlPia7R",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1544447514,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1544447514,
                "current_period_end": 1549804314,
                "current_period_start": 1547125914,
                "customer": "cus_8E2ys9zDZgetWX",
                "days_until_due": null,
                "default_source": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_E84hhZgnjOkD73",
                      "object": "subscription_item",
                      "created": 1544447515,
                      "metadata": {
                      },
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "billing_scheme": "per_unit",
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Mensuel - standard, association - month",
                        "nickname": null,
                        "product": "prod_BV0emghsuiUJDn",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_E84hFvNBlPia7R"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_E84hFvNBlPia7R"
                },
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "start": 1544447514,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8E2ys9zDZgetWX/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 14 Jan 2019 11:43:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&source=tok_1DsTqz2sOmf47Nz9aqTmFWFJ
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Conte[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8E2ys9zDZgetWX&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1DsTr12sOmf47Nz9XKwKQ4un",
              "object": "invoice",
              "amount_due": 3000,
              "amount_paid": 3000,
              "amount_remaining": 0,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "auto_advance": false,
              "billing": "charge_automatically",
              "billing_reason": "subscription_update",
              "charge": "ch_1DsTr12sOmf47Nz98iO2qM6I",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8E2ys9zDZgetWX",
              "date": 1547466223,
              "default_source": null,
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "finalized_at": 1547466223,
              "forgiven": false,
              "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_RVVpbRdZuZQWFre7Nt6N1TLyRv",
              "invoice_pdf": "https://pay.stripe.com/invoice/invst_RVVpbRdZuZQWFre7Nt6N1TLyRv/pdf",
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_ELABGHZqZk3Mct",
                    "object": "line_item",
                    "amount": 3000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                    },
                    "period": {
                      "end": 1550144623,
                      "start": 1547466223
                    },
                    "plan": {
                      "id": "mensuel-standard-month-20160404171519",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 3000,
                      "billing_scheme": "per_unit",
                      "created": 1459782921,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {
                      },
                      "name": "Mensuel - standard, association - month",
                      "nickname": null,
                      "product": "prod_BV0emghsuiUJDn",
                      "statement_descriptor": null,
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "subscription_item": "si_ELABECR7JX9VgB",
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1DsTr12sOmf47Nz9XKwKQ4un/lines"
              },
              "livemode": false,
              "metadata": {
              },
              "next_payment_attempt": null,
              "number": "BCC32B8-0021",
              "paid": true,
              "period_end": 1547466223,
              "period_start": 1547466223,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "status": "paid",
              "subscription": "sub_ELABGHZqZk3Mct",
              "subtotal": 3000,
              "tax": 0,
              "tax_percent": null,
              "total": 3000,
              "webhooks_delivered_at": 1547466223
            }
          ],
          "has_more": true,
          "url": "/v1/invoices"
        }
  recorded_at: Mon, 14 Jan 2019 11:43:44 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_ELABGHZqZk3Mct
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8E2ys9zDZgetWX/subscriptions/sub_ELABGHZqZk3Mct?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
[...]
