---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "seti_1J19Al2sOmf47Nz9beDznSBK",
          "object": "setup_intent",
          "application": null,
          "cancellation_reason": null,
          "client_secret": "seti_1J19Al2sOmf47Nz9beDznSBK_secret_JeS4dfGgFMQD3H6WynlWJei1Itpi0Na",
          "created": 1623413355,
          "customer": "cus_8Di1wjdVktv5kt",
          "description": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Fri, 11 Jun 2021 12:09:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1J19Am2sOmf47Nz9JfmnAIrS",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 4,
            "exp_year": 2022,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1623413356,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Fri, 11 Jun 2021 12:09:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_1J19Al2sOmf47Nz9beDznSBK/confirm
    body:
      encoding: UTF-8
      string: payment_method=pm_1J19Am2sOmf47Nz9JfmnAIrS
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicatio[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_1J19Al2sOmf47Nz9beDznSBK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=9466&currency=usd&product=prod_IZQAhb9nLu4jfN&recurring[interval]=month&recurring[interval_count]=1
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "price_1J19Ao2sOmf47Nz9CKS2E04T",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1623413358,
          "currency": "usd",
          "livemode": false,
          "lookup_key": null,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_IZQAhb9nLu4jfN",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 9466,
          "unit_amount_decimal": "9466"
        }
  recorded_at: Fri, 11 Jun 2021 12:09:19 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_8Di1wjdVktv5kt&cancel_at=1652530158&add_invoice_items[0][price]=price_1J19Ap2sOmf47Nz9XPnavXfk&items[0][price]=price_1J19Ao2sOmf47Nz9CKS2E04T&default_payment_method=pm_1J19Am2sOmf47Nz9JfmnAIrS
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-08-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_JeS4yyUKfhPlFm",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1623413359,
          "billing_thresholds": null,
          "cancel_at": 1652530158,
          "cancel_at_period_end": false,
          "canceled_at": 1623413359,
          "collection_method": "charge_automatically",
          "created": 1623413359,
          "current_period_end": 1626005359,
          "current_period_start": 1623413359,
          "customer": "cus_8Di1wjdVktv5kt",
          "days_until_due": null,
          "default_payment_method": "pm_1J19Am2sOmf47Nz9JfmnAIrS",
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_JeS44tuhbqzlrx",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1623413360,
                "metadata": {
                },
                "plan": {
                  "id": "price_1J19Ao2sOmf47Nz9CKS2E04T",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 9466,
                  "amount_decimal": "9466",
                  "billing_scheme": "per_unit",
                  "created": 1623413358,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_IZQAhb9nLu4jfN",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1J19Ao2sOmf47Nz9CKS2E04T",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1623413358,
                  "currency": "usd",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_IZQAhb9nLu4jfN",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 9466,
                  "unit_amount_decimal": "9466"
                },
                "quantity": 1,
                "subscription": "sub_JeS4yyUKfhPlFm",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_JeS4yyUKfhPlFm"
          },
          "latest_invoice": "in_1J19Ap2sOmf47Nz9ys8nxdYf",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pause_collection": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1J19Ao2sOmf47Nz9CKS2E04T",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 9466,
            "amount_decimal": "9466",
            "billing_scheme": "per_unit",
            "created": 1623413358,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": null,
            "product": "prod_IZQAhb9nLu4jfN",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1623413359,
          "start_date": 1623413359,
          "status": "active",
          "tax_percent": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Fri, 11 Jun 2021 12:09:21 GMT
recorded_with: VCR 6.0.0
