---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1DgBpb2sOmf47Nz9jc2GLpsA",
          "object": "token",
          "card": {
            "id": "card_1DgBpb2sOmf47Nz9fvyUUZfY",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "o52jybR7bnmNn6AT",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "92.157.28.112",
          "created": 1544537007,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 11 Dec 2018 14:03:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Di1wjdVktv5kt",
          "object": "customer",
          "account_balance": 0,
          "created": 1459948888,
          "currency": "usd",
          "default_source": "card_1DfprR2sOmf47Nz97Es3VcfI",
          "delinquent": false,
          "description": "Jean Dupond",
          "discount": null,
          "email": "jean.dupond@gmail.com",
          "invoice_prefix": "C0E661C",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1DfprR2sOmf47Nz97Es3VcfI",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Di1wjdVktv5kt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "o52jybR7bnmNn6AT",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8Di1wjdVktv5kt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_E863BsPcMPQSbg",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1544452556,
                "cancel_at_period_end": true,
                "canceled_at": 1544452561,
                "created": 1544452556,
                "current_period_end": 1547130956,
                "current_period_start": 1544452556,
                "customer": "cus_8Di1wjdVktv5kt",
                "days_until_due": null,
                "default_source": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_E863NvOYvTOI0Y",
                      "object": "subscription_item",
                      "created": 1544452556,
                      "metadata": {
                      },
                      "plan": {
                        "id": "mensuel-standard-month-20160404171519",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "billing_scheme": "per_unit",
                        "created": 1459782921,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Mensuel - standard, association - month",
                        "nickname": null,
                        "product": "prod_BV0emghsuiUJDn",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_E863BsPcMPQSbg"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_E863BsPcMPQSbg"
                },
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "mensuel-standard-month-20160404171519",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 3000,
                  "billing_scheme": "per_unit",
                  "created": 1459782921,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Mensuel - standard, association - month",
                  "nickname": null,
                  "product": "prod_BV0emghsuiUJDn",
                  "statement_descriptor": null,
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "start": 1544452556,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_E84j5nDZWrdZ93",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1544447618,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1544447618,
                "current_period_end": 1547126018,
                "current_period_start": 1544447618[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions
    body:
      encoding: UTF-8
      string: plan=mensuel-standard-month-20160404171519&source=tok_1DgBpb2sOmf47Nz9jc2GLpsA
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Conte[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8Di1wjdVktv5kt&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1DgBpd2sOmf47Nz97rF6mKkH",
              "object": "invoice",
              "amount_due": 3825,
              "amount_paid": 3825,
              "amount_remaining": 0,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "auto_advance": false,
              "billing": "charge_automatically",
              "billing_reason": "subscription_update",
              "charge": "ch_1DgBpd2sOmf47Nz9AWbahBd9",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8Di1wjdVktv5kt",
              "date": 1544537009,
              "default_source": null,
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "finalized_at": 1544537009,
              "forgiven": false,
              "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_P7kDHsjNghmoA66BBWBIQq8Uy1",
              "invoice_pdf": "https://pay.stripe.com/invoice/invst_P7kDHsjNghmoA66BBWBIQq8Uy1/pdf",
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_1DfptR2sOmf47Nz9hnNOqacD",
                    "object": "line_item",
                    "amount": -675,
                    "currency": "usd",
                    "description": "coupon SUNNYFABLAB",
                    "discountable": false,
                    "invoice_item": "ii_1DfptR2sOmf47Nz9hnNOqacD",
                    "livemode": false,
                    "metadata": {
                    },
                    "period": {
                      "end": 1544452677,
                      "start": 1544452677
                    },
                    "plan": null,
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "invoiceitem"
                  },
                  {
                    "id": "ii_1DfptQ2sOmf47Nz9aWS1D7HI",
                    "object": "line_item",
                    "amount": 1500,
                    "currency": "usd",
                    "description": "FORM1+ imprimante 3D December 10, 2018 13:00 - 02:00 PM",
                    "discountable": true,
                    "[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_E8SlJ4lpE3AKJj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_8Di1wjdVktv5kt/subscriptions/sub_E8SlJ4lpE3AKJj?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_testfaketestfaketestfake
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
