<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l b-r-md">
      <section class="heading-title">
        <h1 translate>{{ 'app.public.machines_list.the_fablab_s_machines' }}</h1>
      </section>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 b-t hide-b-md">
      <section class="heading-actions wrapper">
        <a ng-if="isAuthorized('admin')"
           role="button"
           class="btn btn-lg btn-warning bg-white b-2x rounded m-t-xs"
           ui-sref="app.admin.machines_new"
           title="{{'app.public.machines_list.add_a_machine' | translate}}">
          <i class="fas fa-plus"></i>
        </a>
        <a ng-if="isAuthorized(['admin', 'manager'])"
           role="button"
           ui-sref="app.admin.calendar"
           class="btn btn-lg btn-default rounded b-2x m-t-xs"
           title="{{'app.public.machines_list.new_availability' | translate}}">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </a>
      </section>
    </div>
  </div>
</section>


<section class="m-lg"
         ui-tour="machines"
         ui-tour-backdrop="true"
         ui-tour-template-url="'/shared/tour-step-template.html'"
         ui-tour-use-hotkeys="true"
         ui-tour-scroll-parent-id="content-main"
         post-render="setupMachinesTour">

  <machines-list user="currentUser"
                 on-error="onError"
                 on-success="onSuccess"
                 on-show-machine="showMachine"
                 on-reserve-machine="reserveMachine"
                 on-login-requested="onLoginRequest"
                 on-enroll-requested="onEnrollRequest"
                 can-propose-packs="canProposePacks()">
  </machines-list>

</section>
