<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-md-1 hidden-xs">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-md-8 b-l b-r">
      <section class="heading-title">
        <h1 translate>{{ 'app.admin.machines_new.declare_a_new_machine' }}</h1>
      </section>

    </div>

  </div>

</section>


<div class="row no-gutter" >

  <div class="col-md-9 b-r nopadding">

    <div class="m-lg alert alert-warning" role="alert">
      {{ 'app.admin.machines_new.watch_out_when_creating_a_new_machine_its_prices_are_initialized_at_0_for_all_subscriptions' | translate}}
      {{ 'app.admin.machines_new.consider_changing_them_before_creating_any_reservation_slot' | translate }}
    </div>

    <ng-include src="'/machines/_form.html'"></ng-include>
  </div>
</div>
