<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-md-1 hidden-xs">
      <section class="heading-btn">
        <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-md-8 b-l b-r">
      <section class="heading-title">
        <h1 translate>{{ 'app.admin.machines_new.declare_a_new_machine' }}</h1>
      </section>
    </div>
  </div>
</section>

<machine-form action="'create'" on-error="onError" on-success="onSuccess"></machine-form>
