<section class="home-events">
  <h4 class="text-sm m-t-sm">
    {{ 'app.public.home.fablab_s_next_events' | translate }}
    <a ui-sref="app.public.events_list">
      <i class="fa fa-tags"></i>{{ 'app.public.home.every_events' | translate }}
    </a>
  </h4>

  <div class="event-home-list" ng-repeat="event in (upcomingEvents.length/3 | array)">
    <!-- FIXME: get [card-type] in React component's props -->
    <event-card style="display: contents" event="event" card-type="md" ng-repeat="event in upcomingEvents.slice(3*$index, 3*$index + 3)" />
  </div>
</section>
