<section class="widget panel b-a m-t-sm" ng-show="twitterName">
  <div class="panel-heading b-b small">
    <div class="pull-right text-xs align">
      <a href="https://twitter.com/{{ twitterName }}" target="_blank">
        {{ 'app.public.home.follow_us' | translate }}
        <svg viewBox="0 0 24 24" width="32px">
          <use href="../../images/icons.svg#twitter"/>
        </svg>
      </a>
    </div>
    <h2 translate>{{ 'app.public.home.latest_tweets' }}</h2>
  </div>
  <div id="twitter" class="widget-content no-bg auto"></div>
</section>
