<div class="panel panel-default m-t-md">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
              <h4 translate>{{ 'app.admin.settings.customize_home_page' }}</h4>
              <summernote ng-model="homeContent.value"
                          id="home_content"
                          config="summernoteOptsHomePage">
              </summernote>
              <button name="button" class="btn btn-warning" ng-click="save(homeContent)" translate>{{ 'app.shared.buttons.save' }}</button>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-6">
                <h4 translate>{{ 'app.admin.settings.news_of_the_home_page' }}</h4>
                <div ng-model="homeBlogpostSetting.value" class="well" medium-editor options='{"placeholder": "{{ "app.admin.settings.type_your_news_here" | translate }}",
                  "buttons": ["bold", "italic", "anchor", "header1", "header2" ]}'></div>
                <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'app.admin.settings.leave_it_empty_to_not_bring_up_any_news_on_the_home_page' | translate }}</span>
                <button name="button" class="btn btn-warning" ng-click="save(homeBlogpostSetting)" translate>{{ 'app.shared.buttons.save' }}</button>
            </div>
            <div class="col-md-6">
                <h4 translate>{{ 'app.admin.settings.twitter_stream' }}</h4>
                <form role="form" class="form-inline" name="twitterForm" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <input type="text" ng-model="twitterSetting.value" class="form-control" placeholder="{{ 'app.admin.settings.name_of_the_twitter_account' | translate }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button name="button" class="btn btn-warning" ng-click="save(twitterSetting)" translate>{{ 'app.shared.buttons.save' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
