<div class="panel panel-default m-t-md">
  <div class="panel-heading">
    <span class="font-sbold" translate>{{ 'app.admin.settings.privacy.privacy_policy' }}</span>
  </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <select class="form-control m-b history-select" ng-options="d.id as d.name for d in privacyDraftsHistory" ng-model="privacyPolicy.version" ng-change="handlePolicyRevisionChange()">
                <option value="" translate>{{ 'app.admin.settings.privacy.current_policy' }}</option>
              </select>
                <div class="text-justify" ng-model="privacyPolicy.bodyTemp" medium-editor options='{"placeholder": "{{ "app.admin.settings.input_the_main_content" | translate }}",
                  "buttons": ["bold", "italic", "anchor", "header1", "header2" ]
                  }'>

                </div>
                <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'app.admin.settings.drag_and_drop_to_insert_images' | translate }}</span>
                <button name="button" class="btn btn-warning" ng-click="savePrivacyPolicy()" translate>{{ 'app.shared.buttons.save' }}</button>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div ng-model="privacyDpoSetting.value" medium-editor options='{"placeholder": "{{ "app.admin.settings.privacy.input_the_dpo" | translate }}",
                  "buttons": ["bold", "italic", "anchor", "header1", "header2" ]
                  }'>

                </div>
                <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'app.admin.settings.shift_enter_to_force_carriage_return' | translate }}</span>
                <button name="button" class="btn btn-warning" ng-click="save(privacyDpoSetting)" translate>{{ 'app.shared.buttons.save' }}</button>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default m-t-md">
  <div class="panel-heading">
    <span class="font-sbold" translate>{{ 'app.admin.settings.privacy.analytics.title' }}</span>
  </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <boolean-setting
              name="fab_analytics"
              settings="allSettings"
              label="app.admin.settings.fab_analytics"
              yes-label="app.shared.buttons.yes"
              no-label="app.shared.buttons.no">
          </boolean-setting>
          <p>
            <span translate>{{ 'app.admin.settings.privacy.about_analytics' }}</span>
            <a ng-click="analyticsModal()" class="pointer" translate>{{ 'app.admin.settings.privacy.read_more' }}</a>
          </p>
        </div>
      </div>

    </div>
</div>

<div class="panel panel-default m-t-md">
  <div class="panel-heading">
    <span class="font-sbold" translate>{{ 'app.admin.settings.privacy.various_settings' }}</span>
  </div>
  <div class="panel-body">
    <p class="alert alert-warning m-t" translate>
      {{ 'app.admin.settings.privacy.phone_required_info' }}
    </p>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <boolean-setting
            name="phone_required"
            settings="allSettings"
            label="app.admin.settings.privacy.phone_required"
            yes-label="app.shared.buttons.yes"
            no-label="app.shared.buttons.no">
        </boolean-setting>
      </div>
    </div>
    <p class="alert alert-warning m-t" ng-bind-html="'app.admin.settings.privacy.tracking_id_info_html' | translate"></p>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <label for="tracking_id" translate>{{ 'app.admin.settings.privacy.tracking_id' }}</label>
        <input ng-model="trackingId.value"
               id="tracking_id"
               type="text"
               class="form-control"
               placeholder="UA-000000-2"
               />

        <button name="button" class="btn btn-warning m-t" ng-click="save(trackingId)" translate>{{ 'app.shared.buttons.save' }}</button>
      </div>
    </div>

  </div>
</div>
