<div class="panel panel-default m-t-md">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="text-justify" ng-model="privacyBodySetting.value" medium-editor options='{"placeholder": "{{ "settings.input_the_main_content" | translate }}",
                  "buttons": ["bold", "italic", "anchor", "header1", "header2" ]
                  }'>

                </div>
                <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'settings.drag_and_drop_to_insert_images' | translate }}</span>
                <button name="button" class="btn btn-warning" ng-click="save(privacyBodySetting)" translate>{{ 'save' }}</button>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div ng-model="privacyDpoSetting.value" medium-editor options='{"placeholder": "{{ "settings.privacy.input_the_dpo" | translate }}",
                  "buttons": ["bold", "italic", "anchor", "header1", "header2" ]
                  }'>

                </div>
                <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'settings.shift_enter_to_force_carriage_return' | translate }}</span>
                <button name="button" class="btn btn-warning" ng-click="save(privacyDpoSetting)" translate>{{ 'save' }}</button>
            </div>

        </div>

    </div>
</div>
