<div class="modal-header">
  <h3 class="text-center red" translate>{{ 'settings.privacy.save_or_publish' }}</h3>
</div>
<div class="modal-body">
  <p translate>{{ 'settings.privacy.save_or_publish_body' }}</p>
  <p translate>{{ 'settings.privacy.publish_will_notify' }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="save()" translate>{{ 'save' }}</button>
  <button class="btn btn-warning" ng-click="publish()" translate>{{ 'settings.privacy.publish' }}</button>
  <button class="btn btn-default" ng-click="cancel()" translate>{{ 'cancel' }}</button>
</div>
