@import "variables/animations";
@import "variables/colors";
@import "variables/component";
@import "variables/decoration";
@import "variables/layout";
@import "variables/typography";
@import "app.functions";
@import "bootstrap_and_overrides";

@import "app.utilities";
@import "app.colors";

@import "app.base";
@import "app.layout";
@import "app.nav";

@import "app.buttons";
@import "app.components";
@import "app.plugins";

@import "modules/accounting/accounting-codes-settings";
@import "modules/authentication-provider/array-mapping-form";
@import "modules/authentication-provider/data-mapping-form";
@import "modules/authentication-provider/openid-connect-data-mapping-form";
@import "modules/authentication-provider/provider-form";
@import "modules/authentication-provider/type-mapping-modal";
@import "modules/base/edit-destroy-buttons";
@import "modules/base/editorial-block";
@import "modules/base/fab-alert";
@import "modules/base/fab-button";
@import "modules/base/fab-input";
@import "modules/base/fab-modal";
@import "modules/base/fab-output-copy";
@import "modules/base/fab-pagination";
@import "modules/base/fab-panel";
@import "modules/base/fab-popover";
@import "modules/base/fab-state-label";
@import "modules/base/fab-tabs";
@import "modules/base/fab-text-editor";
@import "modules/base/fab-tooltip";
@import "modules/base/labelled-input";
@import "modules/calendar/calendar";
@import "modules/cart/cart-button";
@import "modules/cart/cart-order-reservation";
@import "modules/cart/store-cart";
@import "modules/dashboard/reservations/credits-panel";
@import "modules/dashboard/reservations/prepaid-packs-panel";
@import "modules/dashboard/reservations/reservations-dashboard";
@import "modules/dashboard/reservations/reservations-panel";
@import "modules/events/event";
@import "modules/events/events";
@import "modules/events/event-form";
@import "modules/events/update-recurrent-modal";
@import "modules/events/events-settings.scss";
@import "modules/form/abstract-form-item";
@import "modules/form/form-input";
@import "modules/form/form-multi-file-upload";
@import "modules/form/form-multi-image-upload";
@import "modules/form/form-rich-text";
@import "modules/form/form-select";
@import "modules/form/form-switch";
@import "modules/form/form-checklist";
@import "modules/form/form-file-upload";
@import "modules/form/form-image-upload";
@import "modules/group/change-group";
@import "modules/invoices/invoices-settings-panel";
@import "modules/invoices/vat-settings-modal";
@import "modules/layout/header-page";
@import "modules/machines/machines";
@import "modules/machines/machine-card";
@import "modules/machines/machine-categories";
@import "modules/machines/machine-form";
@import "modules/machines/machines-filters";
@import "modules/machines/machines-list";
@import "modules/machines/machines-settings";
@import "modules/machines/required-training-modal";
@import "modules/payment-schedule/payment-schedule-dashboard";
@import "modules/payment-schedule/payment-schedule-summary";
@import "modules/payment-schedule/payment-schedules-list";
@import "modules/payment-schedule/payment-schedules-table";
@import "modules/payment/local-payment/local-payment-modal";
@import "modules/payment/abstract-payment-modal";
@import "modules/payment/payzen/payzen-card-update-modal";
@import "modules/payment/payzen/payzen-keys-form";
@import "modules/payment/payzen/payzen-modal";
@import "modules/payment/payzen/payzen-settings";
@import "modules/payment/stripe/stripe-card-update-modal";
@import "modules/payment/stripe/stripe-confirm";
@import "modules/payment/stripe/stripe-keys-form";
@import "modules/payment/stripe/stripe-modal";
@import "modules/plan-categories/delete-plan-category";
@import "modules/plan-categories/manage-plan-category";
@import "modules/plan-categories/plan-categories-list";
@import "modules/plans/plan-card";
@import "modules/plans/plan-form";
@import "modules/plans/plans-filter";
@import "modules/plans/plans-list";
@import "modules/prepaid-packs/packs-summary";
@import "modules/prepaid-packs/propose-packs-modal";
@import "modules/pricing/editable-price";
@import "modules/pricing/machines/configure-packs-button";
@import "modules/pricing/machines/create-pack";
@import "modules/pricing/machines/edit-pack";
@import "modules/pricing/machines/machines-pricing";
@import "modules/pricing/machines/pack-form";
@import "modules/pricing/spaces/configure-extended-prices-button";
@import "modules/pricing/spaces/create-extended-price";
@import "modules/pricing/spaces/delete-extended-price";
@import "modules/pricing/spaces/edit-extended-price";
@import "modules/pricing/spaces/spaces-pricing";
@import "modules/profile-completion/completion-header-info";
@import "modules/profile-completion/profile-form-option";
@import "modules/profile-custom-fields/profile-custom-fields-list";
@import "modules/projects/project-card";
@import "modules/projects/projects-setting.scss";
@import "modules/projects/projects";
@import "modules/select-gateway-modal";
@import "modules/settings/boolean-setting";
@import "modules/settings/check-list-setting";
@import "modules/settings/setting-history-modal";
@import "modules/settings/user-validation-setting";
@import "modules/socials/fab-socials";
@import "modules/spaces/space-form";
@import "modules/spaces/spaces";
@import "modules/store/_utilities";
@import "modules/store/order-actions.scss";
@import "modules/store/order-item";
@import "modules/store/orders-dashboard";
@import "modules/store/orders";
@import "modules/store/product-categories";
@import "modules/store/product-category-form";
@import "modules/store/product-form";
@import "modules/store/product-stock-form";
@import "modules/store/product-stock-modal";
@import "modules/store/products-grid";
@import "modules/store/products-list";
@import "modules/store/products";
@import "modules/store/store-filters";
@import "modules/store/store-list-header";
@import "modules/store/store-list";
@import "modules/store/store-settings";
@import "modules/store/store";
@import "modules/subscriptions/free-extend-modal";
@import "modules/subscriptions/renew-modal";
@import "modules/supporting-documents/supporting-documents-files";
@import "modules/supporting-documents/supporting-documents-refusal-form";
@import "modules/supporting-documents/supporting-documents-validation";
@import "modules/supporting-documents/supporting-documents-type-form";
@import "modules/supporting-documents/supporting-documents-types-list";
@import "modules/trainings/training-form";
@import "modules/trainings/trainings-settings";
@import "modules/trainings/trainings";
@import "modules/user/avatar";
@import "modules/user/avatar-input";
@import "modules/user/change-password";
@import "modules/user/gender-input";
@import "modules/user/member-select";
@import "modules/user/password-strength";
@import "modules/user/user-profile-form";
@import "modules/user/user-validation";

@import "modules/abuses";
@import "modules/cookies";
@import "modules/dashboard";
@import "modules/document-filters";
@import "modules/event-themes";
@import "modules/icalendar";
@import "modules/invoice";
@import "modules/members";
@import "modules/settings";
@import "modules/signup";
@import "modules/stripe";
@import "modules/tour";
@import "modules/wallet-info";

@import "app.responsive";

@import "overrides";
