.form-file-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border: 1px solid var(--gray-soft-dark);
  border-radius: var(--border-radius);
  background-color: var(--gray-soft-lightest);

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 1rem;
    }
    a {
      display: flex;
    }

    .image-file-input {
      margin-bottom: 0;
    }
  }
}

.nope-fileinput {
  display: table;
  border-collapse: separate;
  position: relative;
  margin-bottom: 9px;

  .filename-container {
    align-items: center;
    display: inline-flex;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    height: 38px;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #555;
    font-size: 16px;
    line-height: 1.5;

    .fileinput-filename {
      vertical-align: bottom;
      display: inline-block;
      overflow: hidden;
      margin-left: 10px;
    }

    .file-download {
      position: absolute;
      right: 10px;

      i {
        color: black;
      }
    }
  }
  .fileinput-button {
    z-index: 1;
    border: 1px solid #c4c4c4;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: relative;
    vertical-align: middle;
    background-color: #eee;
    color: #555;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    background-image: none;
    touch-action: manipulation;
    overflow: hidden;
    cursor: pointer;
    border-collapse: separate;
    border-spacing: 0;

    .form-input {
      position: absolute;
      z-index: 2;
      opacity: 0;
      top: 0;
      left: 0;
    }

    input[type=file] {
      display: block;
      cursor: pointer;
      direction: ltr;
      filter: alpha(opacity=0);
      font-size: 23px;
      height: 100%;
      margin: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  .fileinput-delete {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
  }
}
