.form-file-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border: 1px solid var(--gray-soft-dark);
  border-radius: var(--border-radius);
  background-color: var(--gray-soft-lightest);

  &.with-label {
    margin-top: 2.6rem;
    position: relative;
    margin-bottom: 1.6rem;
  }

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 1rem;
    }
    a {
      display: flex;
    }

    .image-file-input {
      margin-bottom: 0;
    }
    .form-item-header { // label
      position: absolute;
      top: -1.5em;
      left: 0;
      margin-bottom: 0.8rem;
    }
  }
}
