.form-switch {
  .form-item-header {
    margin-bottom: 0;

    .fab-tooltip .content {
      max-width: min(75vw, 30ch);
    }
  }

  .form-item-field {
    display: flex;
    padding: 16px;
    background-color: white;
    & > *:not(:first-child) {
      margin-left: 2rem;
    }
  }
}
