.form-rich-text {
  .form-item-field {
    border: 0;
    display: block;
  }
  &.is-disabled {
    opacity: 0.5;
  }
  &.is-incorrect {
    .fab-text-editor {
      border-color: var(--alert);
    }
  }
}
