.form-image-upload {

  .image {
    background-color: #fff;
    border: 1px solid var(--gray-soft);
    padding: 4px;
    display: inline-block;

    &--small img {
      width: 80px;
      height: 80px;
    }

    &--medium img {
      width: 200px;
      height: 200px;
    }

    &--large img {
      width: 400px;
      height: 400px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .select-button {
      position: relative;
      .image-file-input {
        position: absolute;
        z-index: 2;
        opacity: 0;
        top: 0;
        left: 0;
      }
    }
    .delete-image {
      background-color: var(--error);
      color: white;
    }
  }

  &--large {
    margin: 80px 40px;
  }

  &--medium {
    margin: 80px 40px;
  }

  &--small {
    text-align: center;
  }
}
