<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1" id="calendar-back-button">
      <section class="heading-btn">
        <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-3 b-l b-r-md hide-b-r-lg">
      <section class="heading-title">
        <h1 translate>{{ 'app.public.calendar.calendar' }}</h1>
      </section>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 b-t hide-b-md">
      <div class="heading-actions wrapper public-calendar-heading-actions">
        <button type="button" class="btn btn-default m-t m-b m-r-sm" ng-click="openFilterAside()">
          <span class="fa fa-filter"></span> {{ 'app.shared.calendar.filter_calendar' | translate }}
        </button>
        <button type="button" class="btn btn-default m-t m-b m-r-sm" ng-click="triggerAutoRefresh()">
          <span class="fas fa-redo"></span>
        </button>
        <button type="button" class="btn btn-default m-t m-b" ng-click="triggerOnlyCalendarViewMode()">
          <span class="fas fa-expand"></span>
        </button>
      </div>
    </div>

  </div>
</section>


<section class="row no-gutter">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div ui-calendar="calendarConfig" ng-model="eventSources" calendar="calendar" class="wrapper-lg public-calendar"></div>
  </div>
</section>
