.boolean-setting {
  margin-bottom: 15px;

  label {
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 15px;
  }
  .switch {
    vertical-align: middle;
  }
  .save-btn {
    margin-left: 15px;
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--secondary-text-color);
    &:hover {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
    }
  }
}
