.check-list-setting {
  .check-list-title {
    font-weight: 600;
  }

  label {
    margin-left: 1em;
  }

  .save-btn {
    margin-left: 15px;
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--secondary-text-color);
    &:hover {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
    }
  }
}
