.user-validation-setting {
  .save-btn {
    margin-top: 15px;
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--secondary-text-color);
    &:hover {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
    }
  }
}
