li.abuse {

  list-style: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 2em;

  .signaled {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 1em;
    position: relative;

    button {
      position: absolute;
      right: 1em;
      top: 0.5em;
    }
  }

  .report {
    padding: 2em;

    cite {
      display: block;
      border-left: 4px solid #ddd;
      padding-left: 1em;
      margin-top: 1em;
    }
  }
}