// admin invoices

.chained {
  color: green;
}

.broken {
  color: red;
}

.invoice-placeholder {
  width: 80%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  margin-top: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: #aeaeae #979797 #7b7b7b;
  box-shadow: 2px 3px 6px 0 #898989, -2px 3px 6px 0 #898989;
  padding: 2em;

  .invoice-buyer-infos {
    float: right;
    text-align: right;
    margin-left: 1em;
  }

  .invoice-logo {
    height: 6em;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      display: block;
      width: auto;
      max-height: 100%;
      max-width: 60%;
    }

    &:hover .tools-box {
      opacity: 1;
    }

    .tools-box {
      opacity: 0;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .invoice-object, .invoice-data, .invoice-data p, .invoice-text, .invoice-legals {
    margin-top: 2em;
  }

  .invoice-data table {
    width: 100%;
  }

  .invoice-data tr, .invoice-data th, .invoice-data td {
    border: 1px solid;
    padding: 4px;
  }

  .invoice-text {
    font-weight: bold;
  }

  .invoice-legals {
    text-align: right;
  }

  .invoice-editable:hover {
    background-color: $yellow;
    overflow-x: hidden;
  }

  .invoice-activable {
    font-style: italic;
    color: #c4c4c4;
    overflow-x: hidden;
  }

  .invoice-activable:hover {
    background-color: $yellow;
    border: 1px dashed #c4c4c4;
  }

  &:after {
    content: "";
    display: block;
    margin-top: 30%;
  }

  .vat-line {
    background-color: #e4e4e4;
    text-align: right;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .right {
    text-align: right;
  }
}

.custom-invoice {
  .modal-header {
    @extend .modal-header;

    // padding-left: 4em;
    text-align: center;
    background-color: #e6e6e6;
  }

  .modal-body {
    .elements ul {
      @extend .list-unstyled;
    }

    .elements li {
      @extend .btn;

      @extend .btn-default;

      width: 100%;
    }

    table.invoice-element-legend {
      min-width: 15em;
    }

    .invoice-element-legend tr, .invoice-element-legend th, .invoice-element-legend td {
      border: 1px solid;
      padding: 4px;
    }

    .bottom-notes {
      font-style: italic;
    }
  }
}

.partial-avoir-table tr {
  float: left;

  .input-col {
    min-width: 2em;
  }

  .label-col {
    min-width: 18em;
  }

  .amount-col {
    min-width: 6em;
  }
}

.partial-avoir-selected-item {
  background-color: $yellow;
  display: block;
  position: relative;

  &:after {
    content: "Rembourser";
    display: inline-block;
    position: absolute;
    right: 0.8em;
    top: 1.8em;
    color: $red;
    width: 6.7em;
    transform: rotate(-22.5deg);
    overflow: visible;
    font-weight: bold;
    border: 1px solid;
    padding: 0 4px;
    border-radius: 5px;
    font-size: small;
  }
}

.no-user-label {
  font-style: italic;
  color: #5a5a5a;
}

table.closings-table {
  @extend .scrollable-3-cols;

  tbody .actions {
    padding-left: 2em;

    & > span {
      margin-left: 2em;
      cursor: pointer;
    }

    & > span.no-pointer {
      cursor: default;
    }
  }

  tbody .show-more {
    color: #00b3ee;
  }

  tbody .download-archive {
    width: 32px;
    height: 32px;
  }

  tbody .download-archive:hover {
    i {
      display: none;
    }

    &:after {
      content: '\f019';
      font-family: 'fontawesome';
    }
  }
}

table.scrollable-3-cols {
  width: 100%;
  border-spacing: 0;

  thead, tbody, tr, th, td {
    display: block;
  }

  thead tr {
    /* fallback */
    width: 97%;

    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: calc(100% - 16px);
  }

  thead tr th {
    border-bottom: 0;
  }

  tr:after {
    /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  tbody td, thead th {
    width: 32%;

    /* 32% is less than (100% / 3 cols) = 33.33% */
    float: left;
  }
}

.period-info-title {
  font-weight: bold;
}

input.form-control.as-writable {
  background-color: white;
}

.accounting-codes .row {
  margin-top: 2rem;

  button {
    margin-top: 1em;
  }
}

table.export-table-template {
  margin-top: 10px;

  thead td {
    width: 20px;
    background-color: #227447;
    color: white;
    border-bottom: 2px solid black;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 5px;
    line-height: 12px;
  }

  tbody td {
    border-right: 1px solid #d4d4d4;
    height: 30px;
  }
}
