<div class="custom-invoice">
  <div class="modal-header">
    <h3 class="modal-title" translate>{{ 'app.admin.invoices.VAT_history' }}</h3>
  </div>
  <div class="modal-body">
    <div>
      <table class="table scrollable-3-cols">
        <thead>
        <tr>
          <th translate>{{ 'app.admin.invoices.VAT_rate' }}</th>
          <th translate>{{ 'app.admin.invoices.changed_at' }}</th>
          <th translate>{{ 'app.admin.invoices.changed_by' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="value in history | orderBy:'-date'">
          <td>
            <span class="no-user-label" ng-show="value.enabled === false" translate>{{'app.admin.invoices.VAT_disabled'}}</span>
            <span class="no-user-label" ng-show="value.enabled === true" translate>{{'app.admin.invoices.VAT_enabled'}}</span>
            <span ng-show="value.rate">{{value.rate}}</span>
          </td>
          <td>{{value.date | amDateFormat:'L LT'}}</td>
          <td>{{value.user.name}}<span class="no-user-label" ng-hide="value.user" translate>{{ 'app.admin.invoices.deleted_user' }}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" translate>{{ 'app.shared.buttons.cancel' }}</button>
  </div>
</div>
