<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-sm-2 col-md-1 hidden-xs">
      <section class="heading-btn">
        <a ng-click="cancel()"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-sm-10 col-md-11 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'app.admin.trainings_new.add_a_new_training' }}</h1>
      </section>
    </div>
  </div>
</section>

<training-form action="'create'" on-error="onError" on-success="onSuccess"></training-form>
