<div class="modal-header">
    <h3 class="modal-title" translate>{{ 'expiration_date' }}</h3>
</div>
<div class="modal-body m-lg">
    <div class="alert alert-danger">
      <p ng-show="free" translate>
        {{ 'you_intentionally_decide_to_extend_the_user_s_subscription_by_offering_him_free_days' }}
      </p>
      <p ng-hide="free" translate>
        {{ 'you_intentionally_decide_to_extend_the_user_s_subscription_by_charging_him_again_for_his_current_subscription' }}
      </p>
    </div>
    <form role="form" name="subscriptionForm" novalidate>
      <div class="form-group">
        <label translate>{{ 'until_(expiration_date)' }}</label>
        <input type="text"
               class="form-control"
               name="subscription[expired_at]"
               ng-model="new_expired_at"
               uib-datepicker-popup="{{datePicker.format}}"
               datepicker-options="datePicker.options"
               is-open="datePicker.opened"
               ng-click="openDatePicker($event)"
               min-date="datePicker.minDate"
               placeholder=""
               required/>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()" ng-disabled="subscriptionForm.$invalid" translate>{{ 'confirm' }}</button>
    <button class="btn btn-primary" ng-click="cancel()" translate>{{ 'cancel' }}</button>
</div>
