<div>
  <div class="modal-header">
    <img ng-src="{{logoBlack.custom_asset_file_attributes.attachment_url}}" alt="{{logo.custom_asset_file_attributes.attachment}}" class="modal-logo"/>
    <h1 translate>{{ 'app.public.common.confirm_my_account' }}</h1>
  </div>
  <div class="modal-body">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="panel panel-default bg-light">
      <div class="panel-body">
        <p translate>{{ 'app.public.common.you_will_receive_confirmation_instructions_by_email' }}</p>
        <form name="confirmationNewForm" class="form-horizontal" ng-keydown="confirmationNewForm.$valid && $event.which == 13 && submitConfirmationNewForm()">
          <div class="form-group" ng-class="{'has-error': emailError}">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email"
                       name="email"
                       class="form-control"
                       ng-model="user.email"
                       required="true"
                       ng-blur="emailError = !!confirmationNewForm.email.$error.email"
                       ng-focus="emailError = false"
                       placeholder="{{ 'app.public.common.your_email_address' | translate }}" />
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="panel-footer no-padder">
        <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" ng-click="submitConfirmationNewForm()" ng-disabled="confirmationNewForm.$invalid" translate>{{ 'app.shared.buttons.confirm' }}</button>
      </div>
    </div>
  </div>
</div>
