<div class="about-fablab scrollable">
  <div class="row padder">
    <header class="about-picture">
      <div class="col-sm-offset-2 col-md-offset-3 col-sm-10 col-md-8">
        <h1 class="about-title text-u-c" translate>{{ 'app.public.privacy.title' }}</h1>
      </div>
    </header>
  </div>

  <div class="row padder">
    <div class="col-md-offset-1 col-md-8 m-b-lg">
      <div class="last-update text-gray">
        <span translate>{{ 'app.public.privacy.last_update' }}</span>
        <span>{{ privacyBody.last_update | amDateFormat:'LL' }}</span>
      </div>
      <span ng-bind-html="privacyBody.value"></span>
    </div>

    <div class="col-md-3" ng-show="privacyDpo.value">
      <h2 class="about-title-aside text-u-c" translate>{{ 'app.public.privacy.dpo' }}</h2>
      <span ng-bind-html="privacyDpo.value"></span>
    </div>
  </div>
</div>
