<div>
  <div class="popover-content tour-step-content" bind-html-compile="tourStep.trustedContent || tourStep.content"></div>
  <div class="popover-navigation tour-step-navigation">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default" ng-if="tourStep.isPrev()" ng-click="tour.prev()">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        <span translate>{{ 'app.shared.tour.previous' }}</span>
      </button>
      <div class="button-placekeeper" ng-if="!tourStep.isPrev()"></div>
      <button type="button" class="btn btn-sm btn-default" ng-click="tour.end()" translate>{{ 'app.shared.tour.end' }}</button>
      <button type="button" class="btn btn-sm btn-default" ng-if="tourStep.isNext()" ng-click="tour.next()">
        <span translate>{{ 'app.shared.tour.next' }}</span>
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </button>
      <div class="button-placekeeper" ng-if="!tourStep.isNext()"></div>
    </div>
  </div>
</div>
