<ul>
  <li><span class="period-info-title" translate>{{ 'app.admin.invoices.closed_at' }}</span> : <span>{{period.closed_at | amDateFormat:'L'}}</span></li>
  <li><span class="period-info-title" translate>{{ 'app.admin.invoices.closed_by' }}</span> : <span>{{period.user_name}}</span></li>
  <li><span class="period-info-title" translate>{{ 'app.admin.invoices.period_total' }}</span> : <span>{{period.period_total | currency}}</span></li>
  <li><span class="period-info-title" translate>{{ 'app.admin.invoices.perpetual_total' }}</span> : <span>{{period.perpetual_total | currency}}</span></li>
  <li>
    <span class="period-info-title" translate>{{ 'app.admin.invoices.integrity' }}</span> :
    <i class="fa fa-link chained" ng-show="period.chained_footprint"></i>
    <i class="fa fa-chain-broken broken" ng-hide="period.chained_footprint"></i>
  </li>
</ul>
