<div class="panel panel-default m-t-md accounting-codes">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <label for="journalCode" translate>{{ 'app.admin.invoices.accounting_journal_code' }}</label>
        <input type="text" id="journalCode" ng-model="settings.journalCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_journal_code' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="cardClientCode" translate>{{ 'app.admin.invoices.accounting_card_client_code' }}</label>
        <input type="text" id="cardClientCode" ng-model="settings.cardClientCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.card_client_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="cardClientLabel" translate>{{ 'app.admin.invoices.accounting_card_client_label' }}</label>
        <input type="text" id="cardClientLabel" ng-model="settings.cardClientLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.card_client_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="walletClientCode" translate>{{ 'app.admin.invoices.accounting_wallet_client_code' }}</label>
        <input type="text" id="walletClientCode" ng-model="settings.walletClientCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.wallet_client_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="walletClientLabel" translate>{{ 'app.admin.invoices.accounting_wallet_client_label' }}</label>
        <input type="text" id="walletClientLabel" ng-model="settings.walletClientLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.wallet_client_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="otherClientCode" translate>{{ 'app.admin.invoices.accounting_other_client_code' }}</label>
        <input type="text" id="otherClientCode" ng-model="settings.otherClientCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.other_client_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="otherClientLabel" translate>{{ 'app.admin.invoices.accounting_other_client_label' }}</label>
        <input type="text" id="otherClientLabel" ng-model="settings.otherClientLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.other_client_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="walletCode" translate>{{ 'app.admin.invoices.accounting_wallet_code' }}</label>
        <input type="text" id="walletCode" ng-model="settings.walletCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_wallet_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="walletLabel" translate>{{ 'app.admin.invoices.accounting_wallet_label' }}</label>
        <input type="text" id="walletLabel" ng-model="settings.walletLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_wallet_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="vatCode" translate>{{ 'app.admin.invoices.accounting_vat_code' }}</label>
        <input type="text" id="vatCode" ng-model="settings.vatCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_vat_code' | translate }}"/>
      </div>
      <div class="col-md-6">
        <label for="vatLabel" translate>{{ 'app.admin.invoices.accounting_vat_label' }}</label>
        <input type="text" id="vatLabel" ng-model="settings.vatLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_vat_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="subscriptionCode" translate>{{ 'app.admin.invoices.accounting_subscription_code' }}</label>
        <input type="text" id="subscriptionCode" ng-model="settings.subscriptionCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_subscription_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="subscriptionLabel" translate>{{ 'app.admin.invoices.accounting_subscription_label' }}</label>
        <input type="text" id="subscriptionLabel" ng-model="settings.subscriptionLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_subscription_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="machineCode" translate>{{ 'app.admin.invoices.accounting_Machine_code' }}</label>
        <input type="text" id="machineCode" ng-model="settings.machineCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_machine_code' | translate }}"/>
      </div>
      <div class="col-md-6">
        <label for="machineLabel" translate>{{ 'app.admin.invoices.accounting_Machine_label' }}</label>
        <input type="text" id="machineLabel" ng-model="settings.machineLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_machine_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="trainingCode" translate>{{ 'app.admin.invoices.accounting_Training_code' }}</label>
        <input type="text" id="trainingCode" ng-model="settings.trainingCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_training_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="trainingLabel" translate>{{ 'app.admin.invoices.accounting_Training_label' }}</label>
        <input type="text" id="trainingLabel" ng-model="settings.trainingLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_training_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="eventCode" translate>{{ 'app.admin.invoices.accounting_Event_code' }}</label>
        <input type="text" id="eventCode" ng-model="settings.eventCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_event_code' | translate }}"/>
      </div>
      <div class="col-md-6">
        <label for="eventLabel" translate>{{ 'app.admin.invoices.accounting_Event_label' }}</label>
        <input type="text" id="eventLabel" ng-model="settings.eventLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_event_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="spaceCode" translate>{{ 'app.admin.invoices.accounting_Space_code' }}</label>
        <input type="text" id="spaceCode" ng-model="settings.spaceCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_space_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="spaceLabel" translate>{{ 'app.admin.invoices.accounting_Space_label' }}</label>
        <input type="text" id="spaceLabel" ng-model="settings.spaceLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_space_label' | translate }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="spaceCode" translate>{{ 'app.admin.invoices.accounting_Error_code' }}</label>
        <input type="text" id="errorCode" ng-model="settings.errorCode.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_error_code' | translate }}" />
      </div>
      <div class="col-md-6">
        <label for="spaceLabel" translate>{{ 'app.admin.invoices.accounting_Error_label' }}</label>
        <input type="text" id="errorLabel" ng-model="settings.errorLabel.value" class="form-control" placeholder="{{ 'app.admin.invoices.general_error_label' | translate }}"/>
      </div>
    </div>
    <button name="button" class="btn btn-warning m-t-lg" ng-click="save()" translate>{{ 'app.shared.buttons.save' }}</button>
  </div>
</div>
