.editorial-block {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  border: 1px solid var(--gray-soft-dark);
  border-radius: var(--border-radius);
  @include editor;
  .cta {
    white-space: normal;
    text-decoration: none;
  }

  @media (min-width: 540px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .cta { white-space: nowrap; }
    &.long-cta {
      flex-direction: column;
      align-items: flex-start;
      .cta { margin-left: auto; }
    }
  }
  @media (min-width: 1200px) {
    width: 50%;
  }
}