.fab-tabs {
  .tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;

    li {
      flex: 1;
      margin-bottom: 4rem;
      padding: 0.8rem;
      text-align: center;
      color: var(--main);
      border-bottom: 1px solid var(--gray-soft-dark);
      border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
      &:hover {
        background-color: var(--gray-soft-light);
        cursor: pointer;
      }

      &.react-tabs__tab--selected {
        color: var(--gray-hard-dark);
        border: 1px solid var(--gray-soft-dark);
        border-bottom: none;
        &:hover {
          background-color: var(--gray-soft-lightest);
          cursor: default;
        }
      }
    }
  }
}
