.fab-tooltip {
  position: relative;
  cursor: help;

  .trigger i { display: block; }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: max-content;
    max-width: min(75vw, 30ch);
    padding: 1rem;
    transform: translate(-50%, -50%);
    background-color: var(--information-lightest);
    color: var(--information);
    border: 1px solid var(--information);
    border-radius: var(--border-radius);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    z-index: 1;
    & > span { display: block; }
    a {
      color: var(--gray-hard);
      text-decoration: underline;
    }
  }
  &:hover .content { display: block; }
}