.fab-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 30px;
  min-height: 1px;
  position: relative;
  display: block;
  border-spacing: 0;

  .panel-header {
    background-color: #f4f3f3;
    padding: 18px 15px;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    &.small {
      padding: 15px 15px;
    }
  }

  .panel-content {
    padding: 15px;
  }

  .no-header {
    padding: 15px;
    background-color: #f4f3f3;
  }
}

@media (min-width: 768px) {
  .fab-panel {
    width: 100%;
    float: left;
  }
}

@media (min-width: 992px) {
  .fab-panel {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .fab-panel {
    width: 75%;
    float: left;
  }
}

