.fab-alert {
  padding: 15px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 4px;

  &--info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &--warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &--danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}
