<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'app.admin.pricing.pricing_management' }}</h1>
      </section>
    </div>

  </div>
</section>


<section class="m-lg plans-pricing"
         ui-tour="pricing"
         ui-tour-backdrop="true"
         ui-tour-template-url="'/shared/tour-step-template.html'"
         ui-tour-use-hotkeys="true"
         ui-tour-scroll-parent-id="content-main"
         post-render="setupPricingTour">
  <div class="row">

    <div class="col-md-12">
      <uib-tabset justified="true" active="tabs.active">

        <uib-tab heading="{{ 'app.admin.pricing.subscriptions' | translate }}" index="0">
          <ng-include src="'/admin/pricing/subscriptions.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.pricing.trainings' | translate }}" ng-show="$root.modules.trainings" index="1" class="trainings-tab">
          <ng-include src="'/admin/pricing/trainings.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.pricing.machine_hours' | translate }}" index="2" class="machines-tab">
          <ng-include src="'/admin/pricing/machine_hours.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.pricing.spaces' | translate }}" ng-show="$root.modules.spaces" index="3" class="spaces-tab">
          <ng-include src="'/admin/pricing/spaces.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.pricing.credits' | translate }}" index="4" class="credits-tab">
          <ng-include src="'/admin/pricing/credits.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.pricing.coupons' | translate }}" index="5" class="coupons-tab">
          <ng-include src="'/admin/pricing/coupons.html'"></ng-include>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>
</section>
