<div class="alert alert-warning m-t">
  <p ng-bind-html="'app.admin.pricing.these_prices_match_machine_hours_rates_html' | translate"></p>
  <p ng-bind-html="'app.admin.pricing.prices_calculated_on_hourly_rate_html' | translate:{ DURATION:slotDuration, RATE: examplePrice('hourly_rate'), PRICE: examplePrice('final_price') }"></p>
  <p translate>{{ 'app.admin.pricing.you_can_override' }}</p>
</div>
<table class="table">
  <thead>
  <tr>
    <th style="width:20%"  translate>{{ 'app.admin.pricing.machines' }}</th>
    <th style="width:20%" ng-repeat="group in enabledGroups">
      <span class="text-u-c text-sm">{{group.name}}</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="machine in enabledMachines">
    <td>
      {{ machine.name }}
    </td>
    <td ng-repeat="group in enabledGroups">
                  <span editable-number="findPriceBy(machinesPrices, machine.id, group.id).amount"
                        e-step="any"
                        onbeforesave="updatePrice($data, findPriceBy(machinesPrices, machine.id, group.id))">
                      {{ findPriceBy(machinesPrices, machine.id, group.id).amount | currency}}
                  </span>
                  <configure-packs-button group-id="group.id" priceable-id="machine.id" priceable-type="'Machine'" />
    </td> <!-- FIXME: too much API calls -->
  </tr>
  </tbody>
</table>
