.back-btn {
  margin: 2.4rem 0;
  padding: 0.4rem 0.8rem;
  display: inline-flex;
  align-items: center;
  background-color: var(--gray-soft-darkest);
  border-radius: var(--border-radius-sm);
  color: var(--gray-soft-lightest);
  i { margin-right: 0.8rem; }

  &:hover {
    color: var(--gray-soft-lightest);
    background-color: var(--gray-hard-lightest);
    cursor: pointer;
  }
}

.main-action-btn {
  background-color: var(--main);
  color: var(--gray-soft-lightest);
  border: none;
  &:hover {
    background-color: var(--main);
    color: var(--gray-soft-lightest);
    opacity: 0.75;
  }
}

// Custom scrollbar
.u-scrollbar {
  &::-webkit-scrollbar-track
  {
    border-radius: 6px;
    background-color: #d9d9d9;
  }

  &::-webkit-scrollbar
  {
    width: 12px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 6px;
    background-color: #2d2d2d;
    border: 2px solid #d9d9d9
  }
}

.u-leading-space {
  display: flex;
  padding-left: 2em;
}