.orders,
.show-order {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 6rem;

  header {
    @include header();
    padding-bottom: 0;
    grid-column: 1 / -1;
  }

  &-list {
    padding-bottom: 6rem;
    & > *:not(:first-child) {
      margin-top: 1.6rem;
    }
  }
}

.orders {
  display: grid;
  grid-template-rows: min-content 8rem 1fr;
  align-items: flex-start;

  & > header { margin-bottom: 2.4rem; }

  .store-filters {
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--gray-soft-lightest);
    z-index: 1;
  }
  .store-list { grid-area: 3 / 1 / 4 / 2; }

  @media (min-width: 1200px) {
    @include grid-col(12);
    gap: 2.4rem 3.2rem;
    align-items: flex-start;

    & > header { margin-bottom: 0; }

    .store-filters {
      position: static;
      grid-area: 2 / 1 / 3 / 4;
    }
    .store-list { grid-area: 2 / 4 / 3 / -1; }
  }
}

.show-order {
  @include grid-col(12);
  gap: 3.2rem;
  align-items: flex-start;

  &-nav {
    max-width: 1600px;
    margin: 0 auto;
    @include grid-col(12);
    gap: 3.2rem;
    justify-items: flex-start;
    & > * {
      grid-column: 2 / -2;
    }
  }
  header { grid-column: 2 / -2; }
  .client-info,
  .cart {
    grid-column: 2 / -2;
    label {
      margin-bottom: 1.6rem;
      @include title-base;
    }
    .content {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 2.4rem;
        padding-right: 2.4rem;
        border-right: 1px solid var(--gray-hard-dark);
      }
    }
    p {
      margin: 0;
      line-height: 1.18;
    }
    .group {
      display: flex;
      flex-direction: column;
      span {
        @include text-xs;
        color: var(--gray-hard-light);
      }
    }
    .actions {
      grid-template-columns: auto;
      grid-auto-flow: column;
    }
  }

  .subgrid {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    align-items: flex-start;

    .payment-info,
    .amount {
      padding: 2.4rem;
      border: 1px solid var(--gray-soft);
      border-radius: var(--border-radius);
      label {
        margin: 0 0 2.4rem;
        padding: 0 0 0.8rem;
        width: 100%;
        border-bottom: 1px solid var(--gray-hard);
        @include title-base;
      }
    }
    .amount {
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span { @include title-base; }
      }
      .gift { color: var(--information); }
      .total {
        padding: 1.6rem 0 0;
        align-items: flex-start;
        border-top: 1px solid var(--main);
        @include text-base(600);
        span { @include title-lg; }
      }
    }
  }

  .fab-state-label {
    --status-color: var(--success);
    &.cart { --status-color: var(--secondary-dark); }
    &.paid { --status-color: var(--success-light); }
    &.ready { --status-color: var(--success); }
    &.error { --status-color: var(--alert); }
    &.canceled { --status-color: var(--alert-light); }
    &.pending { --status-color: var(--information); }
    &.normal { --status-color: var(--success); }
  }
}
