.order-item {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem 2.4rem;
  align-items: center;
  padding: 1.6rem;
  border: 1px solid var(--gray-soft-dark);
  border-radius: var(--border-radius);
  background-color: var(--gray-soft-lightest);

  p { margin: 0; }
  .ref {
    grid-area: 1 / 1 / 2 / 2;
    @include text-base(600);
  }
  .fab-state-label {
    --status-color: var(--success);
    &.cart { --status-color: var(--information); }
    &.paid { --status-color: var(--success); }
    &.ready { --status-color: var(--success); }
    &.error { --status-color: var(--alert); }
    &.canceled { --status-color: var(--alert-light); }
    &.pending { --status-color: var(--information); }
    &.normal { --status-color: var(--success); }
    grid-area: 1 / 2 / 2 / 3;
  }
  .client {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    span {
      @include text-xs;
      color: var(--gray-hard-light);
    }
    p { @include text-sm; }
  }
  .date {
    grid-area: 2 / 2 / 3 / 3;
    & > span {
      @include text-xs;
      color: var(--gray-hard-light);
    }
    p {
      display: flex;
      @include text-sm;
      .fab-tooltip {
        margin-left: 1rem;
        color: var(--information);
      }
    }
  }
  .price {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    span {
      @include text-xs;
      color: var(--gray-hard-light);
    }
    p { @include text-base(600); }
  }
  button {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: flex-end;
    width: 4rem;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 640px) {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 2fr 1fr 10ch;
    .ref { grid-area: 1 / 1 / 2 / 2; }
    .fab-state-label { grid-area: 1 / 2 / 2 / 3; }
    .client { grid-area: 2 / 1 / 3 / 2; }
    .date { grid-area: 2 / 2 / 3 / 3; }
    .price { grid-area: 1 / 3 / 3 / 4; }
    button { grid-area: 1 / 4 / 3 / 5; }
  }

  @media (min-width: 1440px) {
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(max-content, 1fr) 2fr 12ch 12ch;
    gap: 2.4rem;

    .ref,
    .fab-state-label,
    .client,
    .date,
    .price,
    button { grid-area: auto; }
    .fab-state-label { justify-self: center; }
  }
}
