.product-form {
  grid-column: 2 / -2;
  h4 {
    margin: 0 0 2.4rem;
    @include title-base;
  }
  hr {
    margin: 4.8rem 0;
  }

  .subgrid {
    @include grid-col(10);
    gap: 3.2rem;
    align-items: flex-end;
  }
  .span-3 { grid-column: span 3; }
  .span-7 { grid-column: span 7; }

  & > div {
    grid-column: 2 / -2;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0 3.2rem;
    & > * {
      flex: 1 1 320px;
    }
  }
  
  .price-data-header {
    @include grid-col(10);
    gap: 3.2rem;
    align-items: center;
  }
  .price-data-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0 3.2rem;
    align-items: flex-end;
  }

  .product-images,
  .product-documents {
    display: flex;
    flex-direction: column;
    .list {
      margin-bottom: 2.4rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
      gap: 2.4rem;
    }
    button { margin-left: auto; }
  }

}