.products,
.new-product,
.edit-product {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 6rem;
  @include grid-col(12);
  gap: 3.2rem;

  header {
    @include header();
    grid-column: 1 / -1;
  }
}

.new-product,
.edit-product {

  &-nav {
    max-width: 1600px;
    margin: 0 auto;
    @include grid-col(12);
    justify-items: flex-start;
    & > * {
      grid-column: 2 / -2;
    }
  }

  header { grid-column: 2 / -2; }
}
