.product-categories {
  max-width: 1300px;
  margin: 0 auto;

  header {
    padding: 2.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .grpBtn {
      display: flex;
      & > *:not(:first-child) { margin-left: 2.4rem; }
      .create-button {
        background-color: var(--gray-hard-darkest);
        border-color: var(--gray-hard-darkest);
        color: var(--gray-soft-lightest);
        &:hover {
          background-color: var(--gray-hard-light);
          border-color: var(--gray-hard-light);
        }
      }
    }
    h2 {
      margin: 0;
      @include title-lg;
      color: var(--gray-hard-darkest) !important;
    }
  }

  .main-action-btn {
    background-color: var(--main);
    color: var(--gray-soft-lightest);
    border: none;
    &:hover { opacity: 0.75; }
  }

  &-tree {
    & > *:not(:first-child) {
      margin-top: 1.6rem;
    }
  }
  &-item {
    display: flex;
    pointer-events: all;

    &.is-collapsed {
      height: 0;
      margin: 0;
      padding: 0;
      border: none;
      overflow: hidden;
      pointer-events: none;
    }
    .offset {
      width: 4.8rem;
    }

    .wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.6rem 1.6rem;
      border: 1px solid var(--gray-soft-dark);
      border-radius: var(--border-radius);
      background-color: var(--gray-soft-lightest);
      .itemInfo {
        display: flex;
        align-items: center;
        &-name {
          margin: 0;
          @include text-base;
          font-weight: 600;
          color: var(--gray-hard-darkest);
        }
        &-count {
          margin-left: 2.4rem;
          @include text-sm;
          font-weight: 500;
          color: var(--information);
        }
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .manage {
          overflow: hidden;
          display: flex;
          border-radius: var(--border-radius-sm);
          button {
            @include btn;
            border-radius: 0;
            color: var(--gray-soft-lightest);
            &:hover { opacity: 0.75; }
          }
          .edit-btn { background: var(--gray-hard-darkest); }
          .delete-btn { background: var(--error); }
        }
      }
    }

    .collapse-handle {
      width: 4rem;
      margin: 0 0 0 -1rem;
      button {
        @include btn;
        background: none;
        border-radius: 0;
        transition: transform 250ms ease-in-out;
        &.rotate {
          transform: rotateZ(-180deg);
        }
      }
    }
    .drag-handle button {
      @include btn;
      cursor: grab;
    }
  }
}
