.store {
  max-width: 1600px;
  @include grid-col(12);
  gap: 3.2rem;
  margin: 0 auto;
  padding-bottom: 6rem;
  
  //&-product-item {
  //  padding: 1rem 1.8rem;
  //  border: 1px solid var(--gray-soft-dark);
  //  border-radius: var(--border-radius);
  //  background-color: var(--gray-soft-lightest);
  
  //  margin-right: 1.6rem;
  
  //  .itemInfo-image {
  //    align-items: center;
  
  //    img {
  //      width: 19.8rem;
  //      height: 14.8rem;
  //      object-fit: cover;
  //      border-radius: var(--border-radius);
  //      background-color: var(--gray-soft);
  //    }
  //  }
  //  .itemInfo-name {
  //    margin: 1rem 0;
  //    @include text-base;
  //    font-weight: 600;
  //    color: var(--gray-hard-darkest);
  //  }
  
  //  .actions {
  //    display: flex;
  //    align-items: center;
  //    .manage {
  //      overflow: hidden;
  //      display: flex;
  //      border-radius: var(--border-radius-sm);
  //      button {
  //        @include btn;
  //        border-radius: 0;
  //        color: var(--gray-soft-lightest);
  //        &:hover { opacity: 0.75; }
  //      }
  //      .edit-btn {background: var(--gray-hard-darkest) }
  //      .delete-btn {background: var(--error) }
  //    }
  //  }
  //}
}
