.store-settings {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 6rem;
  @include grid-col(12);
  gap: 3.2rem;
  align-items: flex-start;
  header {
    @include header();
    padding-bottom: 0;
    grid-column: 2 / -2;
  }
  form {
    grid-column: 1 / -1;
    display: flex;
    .setting-section {
      margin: 1rem 2rem;
      width: 50%;
    }
    .section-title { @include title-base; }
    .save-btn {
      background-color: var(--main);
      color: var(--gray-soft-lightest);
      border: none;
      &:hover {
        background-color: var(--main);
        color: var(--gray-soft-lightest);
        opacity: 0.75;
      }
    }
  }
}
