<p>Hello <%= @user.profile.full_name %> !</p>

<p>You can complete your registration by confirming your email address by clicking on the following link :</p>

<p><%= link_to 'Confirm my email !', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>The Fablab team.</p>