<p>Hi,</p>

<p>Someone asked a link to change your password. You can do this via the link below.</p>

<p><%= link_to 'Change my password', "#{root_url}#!/?reset_password_token=#{@token}" %></p>

<p>If you did not request this, thank you ignore this message.</p>
