<%= render 'notifications_mailer/shared/hello', recipient: @user %>

<p><%= t('.instruction')%> </p>

<p><%= link_to t('.action'), "#{root_url}#!/?reset_password_token=#{@token}" %></p>

<p><%= t('.ignore_otherwise') %></p>
