<p>Bonjour,</p>

<p>Quelqu'un a demandé un lien pour changer votre mot de passe. Vous pouvez le faire via le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', "#{root_url}#!/?reset_password_token=#{@token}" %></p>

<p>Si vous n'avez pas demandé cela, merci d'ignorer ce message.</p>
