POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
REDIS_HOST=redis
ELASTICSEARCH_HOST=elasticsearch

SECRET_KEY_BASE=

SLOT_DURATION=60
FEATURE_TOUR_DISPLAY=once

DEFAULT_HOST=demo.fab-manager.com
DEFAULT_PROTOCOL=https

DELIVERY_METHOD=smtp
SMTP_ADDRESS=smtp-relay.sendinblue.com
SMTP_PORT=587
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=
SMTP_TLS=false

RAILS_LOCALE=fr
APP_LOCALE=fr
MOMENT_LOCALE=fr
SUMMERNOTE_LOCALE=fr-FR
ANGULAR_LOCALE=fr-fr
FULLCALENDAR_LOCALE=fr
INTL_LOCALE=fr-FR
INTL_CURRENCY=EUR

POSTGRESQL_LANGUAGE_ANALYZER=french

TIME_ZONE=Paris
WEEK_STARTING_DAY=monday
D3_DATE_FORMAT=%d/%m/%y
UIB_DATE_FORMAT=dd/MM/yyyy
EXCEL_DATE_FORMAT=dd/mm/yyyy

OPENLAB_BASE_URI=https://openprojects.fab-manager.com

LOG_LEVEL=debug
DISK_SPACE_MB_ALERT=1024
ADMINSYS_EMAIL=
ALLOW_INSECURE_HTTP=false

# 5242880 = 5 megabytes
MAX_IMPORT_SIZE='5242880'
# 10485760 = 10 megabytes
MAX_IMAGE_SIZE='10485760'
# 20971520 = 20 megabytes
MAX_CAO_SIZE='20971520'
