<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t('.body', THRESHOLD: number_with_delimiter(@notification.get_meta_data(:threshold)), AVAILABLE: number_with_delimiter(@notification.get_meta_data(:mb_available))) %></p>

