<% provider = AuthProvider.from_strategy_name(@attached_object.provider) %>
<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t('.body.imported_account_merged',
         PROVIDER: provider.name,
         NAME:  @attached_object.profile.full_name) %>
  &lt;<%= @attached_object.email%>&gt;.
</p>

<p><%= t('.body.provider_uid', UID: @attached_object.uid) %></p>
