<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t('.body.new_project_published') %> "<%= link_to @attached_object.name, "#{root_url}#!/projects/#{@attached_object.slug}" %>"</p>
