<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<%
  name = Setting.get('fablab_name')
  gender = Setting.get('name_genre')
%>
<p><%= _t('.body.role_changed_html',
          {
              NAME: name,
              GENDER: gender,
              ROLE: t("roles.#{@attached_object.role}")
          }
       )
       # messageFormat
%></p>
