<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t(".body.your_training") %> <strong><em><%= @attached_object.training.name %></em></strong> <%= t(".body.has_been_validated") %>.</p>
