<p>Bonjour <%= @attached_object.project.author.profile.full_name %>,</p>

<p>The member <%= @attached_object.user.profile.full_name %> has accepted your request for collaboration on your project : <strong><em><%= link_to @attached_object.project.name, "#{root_url}#!/projects/#{@attached_object.project.id}" %></em></strong>.</p>
