<div class="modal-header">
  <h3 class="text-center red" translate>{{ 'app.public.common.upgrade_fabmanager' }}</h3>
</div>
<div class="modal-body">
  <p class="alert alert-danger" ng-show="version.security" translate>{{ 'app.public.common.security_version_html' }}</p>
  <p translate translate-values="{VERSION:version.current}">{{ 'app.public.common.current_version' }}</p>
  <p translate translate-values="{VERSION:version.version}">{{ 'app.public.common.upgrade_to' }}</p>
  <p>
    <a ng-href="{{version.url}}" target="_blank" translate>{{ 'app.public.common.read_more' }}</a>
  </p>
  <p>
    <a href="https://github.com/sleede/fab-manager/blob/master/doc/production_readme.md#update-fabmanager" target="_blank" translate>
      {{ 'app.public.common.how_to' }}
    </a>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="close()" translate>{{ 'app.shared.buttons.close' }}</button>
</div>
