<div class="modal-header">
  <img ng-src="{{logoBlack.custom_asset_file_attributes.attachment_url}}" alt="{{logo.custom_asset_file_attributes.attachment}}" class="modal-logo"/>

	<div class="padder-v">
	  	<span class="avatar text-center">
        <fab-user-avatar ng-model="member.user_avatar" avatar-class="thumb-50"></fab-user-avatar>
	  		<span class="user-name m-l-sm">{{member.name}}</span>
	  	</span>
	</div>

</div>
<div class="modal-body">
  <p class="text-center font-sbold" translate translate-values="{MACHINE:machine.name, TRAINING: humanizeTrainings()}">{{ 'to_book_the_MACHINE_you_must_have_completed_the_TRAINING' }}</p>
  <p class="text-center"><button ng-click="ok()" class="btn btn-warning-full rounded width-70" translate>{{ 'register_for_the_training' }}</button></p>
</div>
<div class="modal-footer">
  <p class="text-center">{{ 'i_dont_want_to_register_now' | translate }} <br> <a class="text-u-l" href="#" ng-click="cancel($event)" translate>{{ 'close' }}</a></p>
</div>
