<div>

<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1>{{ 'machine_planning' | translate }} : {{machine.name}}</h1>
      </section>
    </div>
  </div>
</section>


<div class="row no-gutter machine-reserve">
  <div class="col-sm-12 col-md-12 col-lg-9">
    <div ui-calendar="calendarConfig" ng-model="eventSources" calendar="calendar" class="wrapper-lg" ng-show="!plansAreShown"></div>
    <ng-include ng-if="!fablabWithoutPlans" src="'<%= asset_path 'plans/_plan.html' %>'"></ng-include>
  </div>


  <div class="col-sm-12 col-md-12 col-lg-3">

    <div ng-if="currentUser.role === 'admin'">
      <select-member></select-member>
    </div>

    <div class="widget panel b-a m m-t-lg" ng-show="!ctrl.member && currentUser.role == 'admin' && eventsReserved.length == 0 && (!paidMachineSlots || paidMachineSlots.length == 0) && !slotToModify && !modifiedSlots">
      <div class="panel-heading b-b small">
        <h3 translate>{{ 'summary' }}</h3>
      </div>
      <div class="widget-content no-bg auto wrapper">
        <p class="font-felt fleche-left text-lg"><%= image_tag("fleche-left.png", class: 'fleche-left visible-lg') %>
        {{ 'select_one_or_more_slots_in_the_calendar' | translate }}</p>
      </div>
    </div>


    <cart slot="selectedEvent"
          slot-selection-time="selectionTime"
          on-update="updateCalendar"
          on-outdated="refetchCalendar"
          user="ctrl.member"
          mode-plans="plansAreShown"
          plan="selectedPlan"
          plan-selection-time="planSelectionTime"></cart>

    <uib-alert type="warning m">
      <p class="text-sm">
        <i class="fa fa-lightbulb-o"></i>
        <span ng-bind-html="machineExplicationsAlert"></span>
      </p>
    </uib-alert>

  </div>
</div>

</div>
