<div class="m-sm">
  <news></news>
</div>
<div class="row wrapper">
	<div class="col-lg-8">
		<projects></projects>
  </div>


	<div class="col-lg-4 m-t-lg">
    <twitter></twitter>

		<members></members>

	</div>
</div>

<div class="row wrapper m-t-sm">
  <div class="col-lg-12">
    <events></events>
  </div>
</div>
