<div>

<div class="row wrapper">
	<div class="col-lg-8">
		<h4 class="text-sm m-t-sm">The last documented projects</h4>

		<carousel interval="5000" disable-animation="true">
			<slide class="h480 cover r" ng-repeat="p in last_projects" active="p.active" style="background-image:url({{p.project_image}});">
			  <div class="carousel-caption">
			    <h1 class="title"><a ui-sref="app.public.projects_show({id:p.slug})">{{p.name}}</a></h1>
			  </div>
			</slide>
		</carousel>
    </div>


	<div class="col-lg-4 m-t-lg">
		
		<section class="widget panel b-a m-t-sm" ng-if="last_tweets">
		  <div class="panel-heading b-b small">
		    <div class="pull-right text-xs align">
		        <a href="https://twitter.com/<%= ENV['TWITTER_NAME'] %>" target="_blank">Follow us
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x text-yellow"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse text-white"></i>
					</span>
				</a>
		   </div>
		    <h2>The last tweets</h2>
		  </div>
		
		    <ul class="widget-content list-group list-group-lg no-bg auto">       
		      <li ng-repeat="tweet in last_tweets" class="text-sm list-group-item no-b clearfix" ng-bind-html="tweet.text">
		      </li>             
		    </ul>

		</section>

		<section class="widget panel b-a" >
		  <div class="panel-heading small b-b">
		    <h2>Latest Members
</h2>
		  </div>
		
			<div class="row m-n">
        <div class="col-md-6 b-b b-r block-link"  ng-repeat="member in last_members" ui-sref="app.logged.members_show({id:member.slug})">

  				<div class="padder-v">
  					<span class="avatar avatar-block text-center">
              <fab-user-avatar ng-model="member.profile.user_avatar" avatar-class="thumb-50"></fab-user-avatar>
  						<a ><span class="user-name m-l-sm text-black m-t-xs">{{member.name}}</span></a>
  					</span>
  				</div>

         </div>  
          
      </div>
			<div class="m-t-sm m-b-sm text-center" ng-if="!isAuthenticated()">
				<button href="#" ng-click="signup($event)" class="btn btn-warning-full width-70 font-sbold rounded text-sm">Create an account</button>
			</div>

			<div class="m-t-sm m-b-sm text-center" ng-if="isAuthenticated()">
				<button href="#" ui-sref="app.logged.members" class="btn btn-warning-full width-70 font-sbold rounded text-sm">Discover members</button>
			</div>

		</section>

	</div>

  <section class="col-lg-12 wrapper">
      <h4 class="text-sm m-t-sm">The next fablab workshops and courses <a ui-sref="app.public.events_list" class="pull-right"><i class="fa fa-tags"></i> All events</a></h4>

      <div class="row" ng-repeat="event in (upcoming_events.length/3 | array)">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="event in upcoming_events.slice(3*$index, 3*$index + 3)">


          <div class="widget panel panel-default" ui-sref="app.public.events_show({id: event.id})">
            <div class="panel-heading picture" style="background-image: url({{event.event_image}});" >
              <img src="data:image/png;base64," data-src="holder.js/100%x100%/text:&#xf03e;/font:FontAwesome/icon" bs-holder ng-if="!event.event_image" class="img-responsive">
            </div>
            <div class="panel-body" style="heigth:170px;">
              <div class="row">
                  <div class="col-xs-9">
                    <h1 class="m-b">{{event.title}}</h1>
                  </div>
                  <div class="col-xs-3">
                    <span class="v-middle badge text-xs" ng-class="'bg-{{event.categories[0].name | lowercase}}'">{{event.categories[0].name}}</span>
                  </div>
              </div>
              <p>{{event.description | humanize : 500 }}</p>

              <hr/>
              <div class="row">
                  <div class="col-sm-6 row m-b-sm">
                    <i class="fa fa-calendar red col-xs-3 padder-icon"></i>
                    <h6 class="m-n col-xs-9 ">From {{event.start_date | amDateFormat:'DD/MM'}}<span class="text-sm font-thin"> to </span>{{event.end_date | amDateFormat:'DD/MM'}}</h6>
                  </div>
                  <div class="col-sm-6 row m-b-sm">
                    <i class="fa fa-clock-o red col-xs-3 padder-icon"></i>
                    <h6 class="m-n col-xs-9"><span ng-if="event.all_day == 'true'">All day long</span><span ng-if="event.all_day == 'false'">From {{event.start_date | date:'HH:mm'}}<span class="text-sm font-thin"> to </span>{{event.end_date | date:'HH:mm'}}</span></h6>
                  </div>
                  <div class="col-sm-12 row m-b">
                    <i class="fa fa-bookmark red col-xs-1 padder-icon"></i>
                    <h6 class="m-n col-xs-10">
					            <span ng-if="!event.nb_total_places">Free entry</span>
                      <span ng-if="event.nb_total_places && event.amount == 0">Free admission</span><span ng-if="event.amount > 0">{{event.amount}} $ Full price</span><span ng-if="event.reduced_amount > 0"><br/>{{event.reduced_amount}} $ Reduced price</span>
                      <div ng-if="event.nb_free_places == 0"><span class="badge font-sbold bg-red">Event full.</span></div>
                    </h6>

                  </div>

              </div>
              <div class="text-center clearfix ">
                <div class="btn btn-lg btn-warning bg-white b-2x rounded m-t-sm m-b-sm upper text-sm width-70" ui-sref="app.public.events_show({id: event.id})" ><span>Check</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

</div>


</div>

