.user-validation, .child-validation {
  label {
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 15px;
  }

  .switch {
    vertical-align: middle;
  }
}
.child-validation {
  margin: 0 0 2rem;
  text-align: center;
}