<div class="panel panel-default m-t-md home-page-settings">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 home-page-content">
              <h4 translate>{{ 'app.admin.settings.customize_home_page' }}</h4>
              <button class="btn btn-default pull-right m-t-n-xl reset-button" ng-click="resetHomePage()" title="{{ 'app.admin.settings.reset_home_page' | translate }}"><i class="fa fa-undo"></i></button>
              <summernote ng-model="homeContent.value"
                          id="home_content"
                          config="summernoteOptsHomePage">
              </summernote>
              <button name="button" class="btn btn-warning" ng-click="save(homeContent)" translate>{{ 'app.shared.buttons.save' }}</button>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-6">
                <h4 translate>{{ 'app.admin.settings.news_of_the_home_page' }}</h4>
                <div ng-model="homeBlogpostSetting.value"
                     class="well"
                     medium-editor
                     options='{
                       "placeholder": "{{ "app.admin.settings.type_your_news_here" | translate }}",
                       "buttons": ["bold", "italic", "anchor", "header1", "header2" ],
                       "targetBlank": true
                     }'>
                </div>
                <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'app.admin.settings.leave_it_empty_to_not_bring_up_any_news_on_the_home_page' | translate }}</span>
                <button name="button" class="btn btn-warning" ng-click="save(homeBlogpostSetting)" translate>{{ 'app.shared.buttons.save' }}</button>
            </div>
            <div class="col-md-6">
                <text-setting name="twitter_name"
                              settings="allSettings"
                              label="app.admin.settings.twitter_stream"
                              fa-icon="fa-twitter">
                </text-setting>
            </div>
        </div>
      <div class="row m-t-lg">
        <div class="col-md-6">
          <select-setting name="upcoming_events_shown"
                          settings="allSettings"
                          required="true"
                          label="app.admin.settings.home.show_upcoming_events"
                          option-1="['until_start', 'app.admin.settings.home.upcoming_events.until_start']"
                          option-2="['2h_before_end', 'app.admin.settings.home.upcoming_events.2h_before_end']"
                          option-3="['until_end', 'app.admin.settings.home.upcoming_events.until_end']">
          </select-setting>
        </div>
      </div>
        <div class="row m-t-lg home-page-style">
          <uib-accordion>
            <uib-accordion-group is-open="advancedSettings.open">
              <uib-accordion-heading>
                <span translate>{{ 'app.admin.settings.advanced' }}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': advancedSettings.open, 'glyphicon-chevron-right': !advancedSettings.open}"></i>
              </uib-accordion-heading>
              <div class="col-md-12 ">
                <h4 translate>{{ 'app.admin.settings.customize_home_page_css' }}</h4>
                <div ui-codemirror="{ onLoad: codemirrorLoaded }" ng-model="homeCss.value"
                     ui-codemirror-opts="codemirrorOpts">
                </div>
                <uib-alert type="info m">
                  <p class="text-sm font-bold">
                    <i class="fa fa-lightbulb-o"></i>
                    <span translate>{{ 'app.admin.settings.home_css_notice_html' }}</span>
                  </p>
                </uib-alert>
                <button name="button" class="btn btn-warning" ng-click="save(homeCss)" translate>{{ 'app.shared.buttons.save' }}</button>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
    </div>
</div>
