<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'app.admin.settings.customize_the_application' }}</h1>
      </section>
    </div>

  </div>
</section>

<section class="m-lg admin-settings"
         ui-tour="settings"
         ui-tour-backdrop="true"
         ui-tour-template-url="'/shared/tour-step-template.html'"
         ui-tour-use-hotkeys="true"
         ui-tour-scroll-parent-id="content-main"
         post-render="setupSettingsTour">
  <div class="row">

    <div class="col-md-12">
      <uib-tabset justified="true" active="tabs.active">

        <uib-tab heading="{{ 'app.admin.settings.general.general' | translate }}" index="0" class="general-page-tab">
          <ng-include src="'/admin/settings/general.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.settings.compte.compte' | translate }}" index="1">
          <ng-include src="'/admin/settings/compte.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.settings.home_page' | translate }}" index="2">
          <ng-include src="'/admin/settings/home_page.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.settings.about' | translate }}" index="3" class="about-page-tab">
          <ng-include src="'/admin/settings/about.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.settings.privacy.title' | translate }}" index="4" class="privacy-page-tab">
          <ng-include src="'/admin/settings/privacy.html'"></ng-include>
        </uib-tab>

        <uib-tab heading="{{ 'app.admin.settings.reservations' | translate }}" index="5" class="reservations-page-tab">
          <ng-include src="'/admin/settings/reservations.html'"></ng-include>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>
</section>
