<form class="{{classes}}" name="settingSelectForm">
  <div class="form-group">
      <label for="setting-{{setting.name}}" class="control-label m-r" translate>{{ label }}</label>
      <select class="form-control"
              id="setting-{{setting.name}}"
              ng-model="setting.value"
              ng-required="true">
        <option ng-if="option1" ng-value="option1[0]" translate>{{ option1[1] }}</option>
        <option ng-if="option2" ng-value="option2[0]" translate>{{ option2[1] }}</option>
        <option ng-if="option2" ng-value="option3[0]" translate>{{ option3[1] }}</option>
        <option ng-if="option4" ng-value="option4[0]" translate>{{ option4[1] }}</option>
        <option ng-if="option5" ng-value="option5[0]" translate>{{ option5[1] }}</option>
      </select>
  </div>
  <button name="button" class="btn btn-warning m-t" ng-click="save(setting)" ng-disabled="settingSelectForm.$invalid" translate>{{ 'app.shared.buttons.save' }}</button>
</form>
