<form class="{{classes}}" name="settingTextForm">
  <label for="setting-{{setting.name}}" class="control-label m-r" translate>{{ label }}</label>
  <div ng-class="{'form-group': faIcon}">
      <div ng-class="{'input-group': faIcon}">
          <div class="input-group-addon" ng-if="faIcon">
              <i class="fa {{faIcon}}"></i>
          </div>
          <input type="{{type}}"
                 class="form-control"
                 id="setting-{{setting.name}}"
                 placeholder="{{placeholder}}"
                 ng-model="setting.value"
                 ng-required="true"
                 ng-minlength="minLength"
                 ng-maxlength="maxLength"
                 ng-readonly="readOnly">
      </div>
  </div>
  <button name="button" class="btn btn-warning m-t" ng-click="save(setting)" ng-disabled="settingTextForm.$invalid || readOnly" translate>{{ 'app.shared.buttons.save' }}</button>
</form>
