<div class="header-page">
  <div class="back">
    <a ng-click="backPrevLocation($event)"><i class="fas fa-long-arrow-alt-left "></i></a>
  </div>

  <div class="center">
    <h1 translate>{{ 'app.admin.store.manage_the_store' }}</h1>
  </div>
</div>

<section>
  <div class="show-order-nav">
    <a class="back-btn" ng-click="backOrdersList()" tabindex="0">
      <i class="fas fa-angle-left"></i>
      <span translate>{{ 'app.admin.store.back_to_list' }}</span>
    </a>
  </div>
  <show-order current-user="currentUser" order-id="orderId" on-error="onError" on-success="onSuccess" />
</section>
